n8n-workflows/Send Supplier Request - Email v2.json
{
  "name": "Send Supplier Request - Email v2",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "send-supplier-request",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "2e38139a-dbc8-4c32-a2d9-a8d284c08719",
      "name": "Webhook: Send Request",
      "type": "n8n-nodes-base.webhook",
      "position": [
        -416,
        384
      ],
      "typeVersion": 2,
      "webhookId": "cfb3e72b-3fd7-4b65-8f34-c7be819d0504"
    },
    {
      "parameters": {
        "jsCode": "// ========== ТЕСТОВЫЙ РЕЖИМ ==========\nconst TEST_MODE = false;  // true = тест на твою почту, false = боевой режим\nconst TEST_EMAIL = 'blackoutlamb@gmail.com, adm76@yandex.ru';\n// =====================================\n\n// =============================================================================\n// ПОСТАВЩИКИ ПО ТИПАМ МЕТАЛЛА (финальная таблица от заказчика, декабрь 2024)\n// Полный список из файла \"Поставщики_финал.xlsx\" - ПРОВЕРЕНО!\n// Обновлено: 23.12.2024 - добавлена категория ЗАВОДЫ (factories)\n// =============================================================================\nconst SUPPLIERS_BY_METAL = {\n  nn: {\n    \"Арматура А500С, А1, А240\": [\n      { name: 'АО \"ЕВРАЗ Маркет\"', email: 'Dmitriy.Frolov@evraz.com' },\n      { name: 'ООО \"МЕЧЕЛ-СЕРВИС\"', email: 'Tatyana.Matsyna@mechelservice.ru' },\n      { name: 'ООО \"Металлсервис\"', email: 'Lobaev.IE@mc.ru' },\n      { name: 'ООО \"УВМ-СТАЛЬ\"', email: 'elena.abramova@uvm-steel.ru' },\n      { name: 'ООО \"ТД Тула-Сталь\"', email: 'shishkin_vy@td.tula-steel.ru' },\n      { name: 'ЗАО \"ТФД \"Брок-Инвест-Сервис и К\"', email: 'borodina_oy@nnov.brokinvest.ru' },\n      { name: 'Металлкомплект-М', email: 'glukhova_m@mkm-metal.ru' },\n      { name: 'Металлкомплект-М', email: 'Saprykina_E@mkm-metal.ru' },\n      { name: 'СеверСталь', email: 'dv.popkov1@severstal.com' },\n      { name: 'СеверСталь', email: 'super.lubasha85@yandex.ru' },\n      { name: 'ООО \"ИнтерметГрупп\"', email: 'a.dudenkov@imgmet.ru' },\n      { name: 'Сталепромышленная компания', email: 'spirina@spk.ru' },\n      { name: 'Сталепромышленная компания', email: 'spirina@spk.ru' },\n      { name: 'ММК Москва', email: 'goryunov.mv@tdmmk.ru' }\n    ],\n    \"Арматура 25Г2С\": [\n      { name: 'ООО \"МЕЧЕЛ-СЕРВИС\"', email: 'Tatyana.Matsyna@mechelservice.ru' },\n      { name: 'ООО \"Металлсервис\"', email: 'Lobaev.IE@mc.ru' },\n      { name: 'ММК Москва', email: 'goryunov.mv@tdmmk.ru' }\n    ],\n    \"Арматура АТ800\": [\n      { name: 'АО \"ЕВРАЗ Маркет\"', email: 'Dmitriy.Frolov@evraz.com' },\n      { name: 'Металлкомплект-М', email: 'glukhova_m@mkm-metal.ru' },\n      { name: 'Металлкомплект-М', email: 'Saprykina_E@mkm-metal.ru' },\n      { name: 'ООО \"Металлсервис\"', email: 'Lobaev.IE@mc.ru' },\n      { name: 'АО \"Металлоторг\"', email: 'user7@metallotorg.ru' }\n    ],\n    \"Балка\": [\n      { name: 'АО \"ЕВРАЗ Маркет\"', email: 'Dmitriy.Frolov@evraz.com' },\n      { name: 'ООО \"МЕЧЕЛ-СЕРВИС\"', email: 'Tatyana.Matsyna@mechelservice.ru' },\n      { name: 'ООО \"Металлсервис\"', email: 'Lobaev.IE@mc.ru' },\n      { name: 'ЗАО \"ТФД \"Брок-Инвест-Сервис и К\"', email: 'borodina_oy@nnov.brokinvest.ru' },\n      { name: 'Сталепромышленная компания', email: 'spirina@spk.ru' },\n      { name: 'Сталепромышленная компания', email: '1036@mailspk.ru' },\n      { name: 'ООО Группа Компаний Демидов\"', email: 'zelenjii1981@mail.ru' },\n      { name: 'АО \"Металлоторг\"', email: 'user7@metallotorg.ru' }\n    ],\n    \"КРУГИ\": [\n      { name: 'ООО Группа Компаний Демидов\"', email: 'zelenjii1981@mail.ru' },\n      { name: 'ООО \"Металлсервис\"', email: 'Lobaev.IE@mc.ru' },\n      { name: 'ООО \"МЕЧЕЛ-СЕРВИС\"', email: 'Tatyana.Matsyna@mechelservice.ru' },\n      { name: 'Стальмаш', email: '4290177@mail.ru' },\n      { name: 'Сталепромышленная компания', email: 'spirina@spk.ru' },\n      { name: 'Сталепромышленная компания', email: '1036@mailspk.ru' },\n      { name: 'Полюс А', email: 'super.ok2002@yandex.ru' },\n      { name: 'АО \"Металлоторг\"', email: 'user7@metallotorg.ru' }\n    ],\n    \"КВАДРАТ\": [\n      { name: 'ООО Группа Компаний Демидов\"', email: 'zelenjii1981@mail.ru' },\n      { name: 'ООО \"Металлсервис\"', email: 'Lobaev.IE@mc.ru' },\n      { name: 'ООО \"МЕЧЕЛ-СЕРВИС\"', email: 'Tatyana.Matsyna@mechelservice.ru' },\n      { name: 'Стальмаш', email: '4290177@mail.ru' },\n      { name: 'Сталепромышленная компания', email: 'spirina@spk.ru' },\n      { name: 'Сталепромышленная компания', email: '1036@mailspk.ru' },\n      { name: 'Полюс А', email: 'super.ok2002@yandex.ru' },\n      { name: 'АО \"Металлоторг\"', email: 'user7@metallotorg.ru' },\n      { name: 'Трансметалл', email: 'ivis2004@yandex.ru' }\n    ],\n    \"Лист г/к\": [\n      { name: 'ООО \"Металлсервис\"', email: 'Lobaev.IE@mc.ru' },\n      { name: 'ООО \"А ГРУПП\"', email: 'DMTkachuk@agrupp.com' },\n      { name: 'АО \"ОМК МАРКЕТ\"', email: 'KALITINA_NA@omk.ru' },\n      { name: 'ООО Группа Компаний Демидов\"', email: 'zelenjii1981@mail.ru' },\n      { name: 'Трансметалл', email: 'ivis2004@yandex.ru' },\n      { name: 'Металлкомплект-М', email: 'glukhova_m@mkm-metal.ru' },\n      { name: 'Металлкомплект-М', email: 'Saprykina_E@mkm-metal.ru' },\n      { name: 'Сталепромышленная компания', email: 'spirina@spk.ru' },\n      { name: 'Сталепромышленная компания', email: '1036@mailspk.ru' },\n      { name: 'ООО \"ИнтерметГрупп\"', email: 'a.dudenkov@imgmet.ru' },\n      { name: 'АО \"ЕВРАЗ Маркет\"', email: 'Dmitriy.Frolov@evraz.com' },\n      { name: 'СеверСталь', email: 'dv.popkov1@severstal.com' },\n      { name: 'СеверСталь', email: 'super.lubasha85@yandex.ru' },\n      { name: 'ЗАО \"ТФД \"Брок-Инвест-Сервис и К\"', email: 'borodina_oy@nnov.brokinvest.ru' },\n      { name: 'ООО \"МЕЧЕЛ-СЕРВИС\"', email: 'Tatyana.Matsyna@mechelservice.ru' },\n      { name: 'ММК Москва', email: 'goryunov.mv@tdmmk.ru' },\n      { name: 'АО \"Металлоторг\"', email: 'user7@metallotorg.ru' },\n      { name: 'ООО \"УВМ-СТАЛЬ\"', email: 'elena.abramova@uvm-steel.ru' }\n    ],\n    \"Листы х/к, оц,рулоны\": [\n      { name: 'ООО \"Металлсервис\"', email: 'Lobaev.IE@mc.ru' },\n      { name: 'ООО \"А ГРУПП\"', email: 'DMTkachuk@agrupp.com' },\n      { name: 'АО \"ОМК МАРКЕТ\"', email: 'KALITINA_NA@omk.ru' },\n      { name: 'ООО \"ИнтерметГрупп\"', email: 'a.dudenkov@imgmet.ru' },\n      { name: 'Металлкомплект-М', email: 'glukhova_m@mkm-metal.ru' },\n      { name: 'Металлкомплект-М', email: 'Saprykina_E@mkm-metal.ru' },\n      { name: 'Сталепромышленная компания', email: 'spirina@spk.ru' },\n      { name: 'Сталепромышленная компания', email: '1036@mailspk.ru' },\n      { name: 'СеверСталь', email: 'dv.popkov1@severstal.com' },\n      { name: 'СеверСталь', email: 'super.lubasha85@yandex.ru' },\n      { name: 'ЗАО \"ТФД \"Брок-Инвест-Сервис и К\"', email: 'borodina_oy@nnov.brokinvest.ru' },\n      { name: 'ММК Москва', email: 'goryunov.mv@tdmmk.ru' },\n      { name: 'Новые промышленные технологии', email: 'info@zavod-npt.ru' }\n    ],\n    \"Листы продают кусками\": [\n      { name: 'НижегородМеталл', email: 'uva@nizhmet.ru' },\n      { name: 'Сталепромышленная компания', email: 'spirina@spk.ru' },\n      { name: 'Сталепромышленная компания', email: '1036@mailspk.ru' },\n      { name: 'АО \"Металлоторг\"', email: 'user7@metallotorg.ru' },\n      { name: 'Полюс А', email: 'super.ok2002@yandex.ru' },\n      { name: 'ООО \"Металлсервис\"', email: 'Lobaev.IE@mc.ru' },\n      { name: 'Трансметалл', email: 'ivis2004@yandex.ru' },\n      { name: 'Метрайз', email: 'alvnn@mail.ru' },\n      { name: 'Квинтек', email: 'kvintek-nn@mail.ru' }\n    ],\n    \"Рулоны, резка рулонов\": [\n      { name: 'Новые промышленные технологии', email: 'info@zavod-npt.ru' },\n      { name: 'АБС Профиль', email: 'len27057@mail.ru' },\n      { name: 'ТД Металла', email: 'mtdsale@yandex.ru' },\n      { name: 'СтальКров', email: '9200530473@mail.ru' },\n      { name: 'Мир кровли', email: 'info@mirkrovly.org' },\n      { name: 'ГрандЛайн', email: '9601977343@grandline.ru' }\n    ],\n    \"Лист рифленый\": [\n      { name: 'ООО \"Металлсервис\"', email: 'Lobaev.IE@mc.ru' },\n      { name: 'ООО \"А ГРУПП\"', email: 'DMTkachuk@agrupp.com' },\n      { name: 'ООО Группа Компаний Демидов\"', email: 'zelenjii1981@mail.ru' },\n      { name: 'АО \"ОМК МАРКЕТ\"', email: 'KALITINA_NA@omk.ru' },\n      { name: 'Трансметалл', email: 'ivis2004@yandex.ru' },\n      { name: 'Металлкомплект-М', email: 'glukhova_m@mkm-metal.ru' },\n      { name: 'Металлкомплект-М', email: 'Saprykina_E@mkm-metal.ru' },\n      { name: 'Сталепромышленная компания', email: 'spirina@spk.ru' },\n      { name: 'Сталепромышленная компания', email: '1036@mailspk.ru' },\n      { name: 'ООО \"ИнтерметГрупп\"', email: 'a.dudenkov@imgmet.ru' },\n      { name: 'АО \"ЕВРАЗ Маркет\"', email: 'Dmitriy.Frolov@evraz.com' },\n      { name: 'СеверСталь', email: 'dv.popkov1@severstal.com' },\n      { name: 'СеверСталь', email: 'super.lubasha85@yandex.ru' },\n      { name: 'ЗАО \"ТФД \"Брок-Инвест-Сервис и К\"', email: 'borodina_oy@nnov.brokinvest.ru' },\n      { name: 'ООО \"МЕЧЕЛ-СЕРВИС\"', email: 'Tatyana.Matsyna@mechelservice.ru' },\n      { name: 'ММК Москва', email: 'goryunov.mv@tdmmk.ru' },\n      { name: 'АО \"Металлоторг\"', email: 'user7@metallotorg.ru' },\n      { name: 'ООО \"УВМ-СТАЛЬ\"', email: 'elena.abramova@uvm-steel.ru' }\n    ],\n    \"ПВЛ\": [\n      { name: 'ООО \"Металлсервис\"', email: 'Lobaev.IE@mc.ru' },\n      { name: 'ООО Группа Компаний Демидов\"', email: 'zelenjii1981@mail.ru' },\n      { name: 'Трансметалл', email: 'ivis2004@yandex.ru' },\n      { name: 'Сталепромышленная компания', email: 'spirina@spk.ru' },\n      { name: 'Сталепромышленная компания', email: '1036@mailspk.ru' },\n      { name: 'ЗАО \"ТФД \"Брок-Инвест-Сервис и К\"', email: 'borodina_oy@nnov.brokinvest.ru' },\n      { name: 'АО \"Металлоторг\"', email: 'user7@metallotorg.ru' }\n    ],\n    \"Профлист, штакетник\": [\n      { name: 'ТД Металла', email: 'mtdsale@yandex.ru' },\n      { name: 'СтальКров', email: '9200530473@mail.ru' },\n      { name: 'Мир кровли', email: 'info@mirkrovly.org' },\n      { name: 'ГрандЛайн', email: '9601977343@grandline.ru' },\n      { name: 'Металл-Профиль', email: 'parshina.mn@metallprofil.ru' },\n      { name: 'ООО \"Металлсервис\"', email: 'Lobaev.IE@mc.ru' }\n    ],\n    \"Полоса\": [\n      { name: 'ООО \"Металлсервис\"', email: 'Lobaev.IE@mc.ru' },\n      { name: 'АО \"ЕВРАЗ Маркет\"', email: 'Dmitriy.Frolov@evraz.com' },\n      { name: 'ООО \"МЕЧЕЛ-СЕРВИС\"', email: 'Tatyana.Matsyna@mechelservice.ru' },\n      { name: 'АО \"Металлоторг\"', email: 'user7@metallotorg.ru' },\n      { name: 'ЗАО \"ТФД \"Брок-Инвест-Сервис и К\"', email: 'borodina_oy@nnov.brokinvest.ru' },\n      { name: 'ООО Группа Компаний Демидов\"', email: 'zelenjii1981@mail.ru' },\n      { name: 'ООО \"А ГРУПП\"', email: 'DMTkachuk@agrupp.com' },\n      { name: 'Трансметалл', email: 'ivis2004@yandex.ru' },\n      { name: 'НижегородМеталл', email: 'uva@nizhmet.ru' }\n    ],\n    \"Полоса нарубленная\": [\n      { name: 'Сталепромышленная компания', email: 'spirina@spk.ru' },\n      { name: 'Сталепромышленная компания', email: '1036@mailspk.ru' },\n      { name: 'НижегородМеталл', email: 'uva@nizhmet.ru' },\n      { name: 'Квинтек', email: 'kvintek-nn@mail.ru' }\n    ],\n    \"Рубка плазма, гильотина\": [\n      { name: 'Сталепромышленная компания', email: 'spirina@spk.ru' },\n      { name: 'Сталепромышленная компания', email: '1036@mailspk.ru' },\n      { name: 'Квинтек', email: 'kvintek-nn@mail.ru' },\n      { name: 'АО \"ЕВРАЗ Маркет\"', email: 'Dmitriy.Frolov@evraz.com' },\n      { name: 'АБС Профиль', email: 'len27057@mail.ru' }\n    ],\n    \"Проволока\": [\n      { name: 'ООО \"Металлсервис\"', email: 'Lobaev.IE@mc.ru' },\n      { name: 'Нижегородская Метизная компания', email: 'iasmirnov@mtk-fortuna.ru' },\n      { name: 'НижегородМеталл', email: 'uva@nizhmet.ru' },\n      { name: 'ООО \"МЕЧЕЛ-СЕРВИС\"', email: 'Tatyana.Matsyna@mechelservice.ru' },\n      { name: 'ООО \"А ГРУПП\"', email: 'DMTkachuk@agrupp.com' },\n      { name: 'АО \"Металлоторг\"', email: 'user7@metallotorg.ru' },\n      { name: 'ООО \"УВМ-СТАЛЬ\"', email: 'elena.abramova@uvm-steel.ru' },\n      { name: 'ЗАО \"ТФД \"Брок-Инвест-Сервис и К\"', email: 'borodina_oy@nnov.brokinvest.ru' },\n      { name: 'АО \"ЕВРАЗ Маркет\"', email: 'Dmitriy.Frolov@evraz.com' }\n    ],\n    \"Рельс\": [\n      { name: 'АО \"ЕВРАЗ Маркет\"', email: 'Dmitriy.Frolov@evraz.com' },\n      { name: 'РемстройПуть', email: 'm-mara1@ya.ru' }\n    ],\n    \"Сетка\": [\n      { name: 'СтройСетка', email: 'stroisetka_nn@inbox.ru' },\n      { name: 'НижегородМеталл', email: 'uva@nizhmet.ru' },\n      { name: 'ООО Группа Компаний Демидов\"', email: 'zelenjii1981@mail.ru' },\n      { name: 'ООО \"АСК\"', email: 'ask.setka@yandex.ru' }\n    ],\n    \"Сэндвич-Панели\": [\n      { name: 'ЗЛК Декор', email: 'info@dekor-bor.ru' },\n      { name: 'Главк', email: 'ak@del-k.ru' }\n    ],\n    \"Трубы ВГП, оц, круглые э/с\": [\n      { name: 'ООО \"Металлсервис\"', email: 'Lobaev.IE@mc.ru' },\n      { name: 'ООО \"А ГРУПП\"', email: 'DMTkachuk@agrupp.com' },\n      { name: 'МеталлСервис-НН', email: 'rabota_en@mail.ru' },\n      { name: 'АО \"ОМК МАРКЕТ\"', email: 'KALITINA_NA@omk.ru' },\n      { name: 'ООО Группа Компаний Демидов\"', email: 'zelenjii1981@mail.ru' },\n      { name: 'Трансметалл', email: 'ivis2004@yandex.ru' },\n      { name: 'Металлкомплект-М', email: 'glukhova_m@mkm-metal.ru' },\n      { name: 'Металлкомплект-М', email: 'Saprykina_E@mkm-metal.ru' },\n      { name: 'Гросс', email: 'grossn@mail.ru' },\n      { name: 'Сталепромышленная компания', email: 'spirina@spk.ru' },\n      { name: 'Сталепромышленная компания', email: '1036@mailspk.ru' },\n      { name: 'ООО \"ИнтерметГрупп\"', email: 'a.dudenkov@imgmet.ru' },\n      { name: 'ЗАО \"ТФД \"Брок-Инвест-Сервис и К\"', email: 'borodina_oy@nnov.brokinvest.ru' },\n      { name: 'Айрон', email: 'elenaivanovs93@gmail.com' },\n      { name: 'Айрон', email: 'ivanova.irongroup@yandex.ru' },\n      { name: 'АО \"Металлоторг\"', email: 'user7@metallotorg.ru' },\n      { name: 'Борский ТЗ', email: 'tnp@bortrub.ru' }\n    ],\n    \"Трубы б/ш\": [\n      { name: 'ООО \"Металлсервис\"', email: 'Lobaev.IE@mc.ru' },\n      { name: 'ТД ТМК', email: 'aleksandr.akishkin@tmk-group.com' },\n      { name: 'Гросс', email: 'grossn@mail.ru' },\n      { name: 'АО \"Металлоторг\"', email: 'user7@metallotorg.ru' },\n      { name: 'Метрайз', email: 'alvnn@mail.ru' }\n    ],\n    \"Трубы проф, б/ш и э/с кусками\": [\n      { name: 'Метрайз', email: 'alvnn@mail.ru' },\n      { name: 'Трансметалл', email: 'ivis2004@yandex.ru' },\n      { name: 'Полюс А', email: 'super.ok2002@yandex.ru' },\n      { name: 'Аксмет', email: 'aksmet52@ya.ru' }\n    ],\n    \"Труба профильная\": [\n      { name: 'АБС Профиль', email: 'len27057@mail.ru' },\n      { name: 'Металлопрокат-НН', email: 'sales@mpt-nn.ru' },\n      { name: 'Мир кровли', email: 'info@mirkrovly.org' },\n      { name: 'Гросс', email: 'grossn@mail.ru' },\n      { name: 'Борский трубный завод', email: 'tnp@bortrub.ru' },\n      { name: 'СеверСталь', email: 'dv.popkov1@severstal.com' },\n      { name: 'СеверСталь', email: 'super.lubasha85@yandex.ru' },\n      { name: 'ООО \"ИнтерметГрупп\"', email: 'a.dudenkov@imgmet.ru' },\n      { name: 'Сталепромышленная компания', email: 'spirina@spk.ru' },\n      { name: 'Сталепромышленная компания', email: '1036@mailspk.ru' },\n      { name: 'Трансметалл', email: 'ivis2004@yandex.ru' },\n      { name: 'ООО \"Металлсервис\"', email: 'Lobaev.IE@mc.ru' },\n      { name: 'ООО Группа Компаний Демидов\"', email: 'zelenjii1981@mail.ru' },\n      { name: 'ЗАО \"ТФД \"Брок-Инвест-Сервис и К\"', email: 'borodina_oy@nnov.brokinvest.ru' },\n      { name: 'АО \"ЕВРАЗ Маркет\"', email: 'Dmitriy.Frolov@evraz.com' },\n      { name: 'АО \"ОМК МАРКЕТ\"', email: 'KALITINA_NA@omk.ru' },\n      { name: 'ООО \"А ГРУПП\"', email: 'DMTkachuk@agrupp.com' }\n    ],\n    \"Уголок\": [\n      { name: 'ЗАО \"ТФД \"Брок-Инвест-Сервис и К\"', email: 'borodina_oy@nnov.brokinvest.ru' },\n      { name: 'АО \"ЕВРАЗ Маркет\"', email: 'Dmitriy.Frolov@evraz.com' },\n      { name: 'Металлкомплект-М', email: 'glukhova_m@mkm-metal.ru' },\n      { name: 'Металлкомплект-М', email: 'Saprykina_E@mkm-metal.ru' },\n      { name: 'ООО \"Металлсервис\"', email: 'Lobaev.IE@mc.ru' },\n      { name: 'ООО \"МЕЧЕЛ-СЕРВИС\"', email: 'Tatyana.Matsyna@mechelservice.ru' },\n      { name: 'ООО \"А ГРУПП\"', email: 'DMTkachuk@agrupp.com' },\n      { name: 'ООО Группа Компаний Демидов\"', email: 'zelenjii1981@mail.ru' },\n      { name: 'АО \"ОМК МАРКЕТ\"', email: 'KALITINA_NA@omk.ru' },\n      { name: 'Сталепромышленная компания', email: 'spirina@spk.ru' },\n      { name: 'Сталепромышленная компания', email: '1036@mailspk.ru' },\n      { name: 'ООО \"ИнтерметГрупп\"', email: 'a.dudenkov@imgmet.ru' },\n      { name: 'СеверСталь', email: 'dv.popkov1@severstal.com' },\n      { name: 'СеверСталь', email: 'super.lubasha85@yandex.ru' },\n      { name: 'ММК Москва', email: 'goryunov.mv@tdmmk.ru' },\n      { name: 'АО \"Металлоторг\"', email: 'user7@metallotorg.ru' },\n      { name: 'ООО \"УВМ-СТАЛЬ\"', email: 'elena.abramova@uvm-steel.ru' },\n      { name: 'Трансметалл', email: 'ivis2004@yandex.ru' }\n    ],\n    \"Швеллер\": [\n      { name: 'ЗАО \"ТФД \"Брок-Инвест-Сервис и К\"', email: 'borodina_oy@nnov.brokinvest.ru' },\n      { name: 'АО \"ЕВРАЗ Маркет\"', email: 'Dmitriy.Frolov@evraz.com' },\n      { name: 'Металлкомплект-М', email: 'glukhova_m@mkm-metal.ru' },\n      { name: 'Металлкомплект-М', email: 'Saprykina_E@mkm-metal.ru' },\n      { name: 'ООО \"Металлсервис\"', email: 'Lobaev.IE@mc.ru' },\n      { name: 'ООО \"МЕЧЕЛ-СЕРВИС\"', email: 'Tatyana.Matsyna@mechelservice.ru' },\n      { name: 'ООО \"А ГРУПП\"', email: 'DMTkachuk@agrupp.com' },\n      { name: 'ООО Группа Компаний Демидов\"', email: 'zelenjii1981@mail.ru' },\n      { name: 'АО \"ОМК МАРКЕТ\"', email: 'KALITINA_NA@omk.ru' },\n      { name: 'Сталепромышленная компания', email: 'spirina@spk.ru' },\n      { name: 'Сталепромышленная компания', email: '1036@mailspk.ru' },\n      { name: 'ООО \"ИнтерметГрупп\"', email: 'a.dudenkov@imgmet.ru' },\n      { name: 'СеверСталь', email: 'dv.popkov1@severstal.com' },\n      { name: 'СеверСталь', email: 'super.lubasha85@yandex.ru' },\n      { name: 'ММК Москва', email: 'goryunov.mv@tdmmk.ru' },\n      { name: 'АО \"Металлоторг\"', email: 'user7@metallotorg.ru' },\n      { name: 'ООО \"УВМ-СТАЛЬ\"', email: 'elena.abramova@uvm-steel.ru' },\n      { name: 'Трансметалл', email: 'ivis2004@yandex.ru' }\n    ],\n    \"Швеллер гнутый\": [\n      { name: 'ООО \"Металлсервис\"', email: 'Lobaev.IE@mc.ru' },\n      { name: 'ООО Группа Компаний Демидов\"', email: 'zelenjii1981@mail.ru' },\n      { name: 'Трансметалл', email: 'ivis2004@yandex.ru' },\n      { name: 'Сталепромышленная компания', email: 'spirina@spk.ru' },\n      { name: 'Сталепромышленная компания', email: '1036@mailspk.ru' },\n      { name: 'ЗАО \"ТФД \"Брок-Инвест-Сервис и К\"', email: 'borodina_oy@nnov.brokinvest.ru' },\n      { name: 'АО \"Металлоторг\"', email: 'user7@metallotorg.ru' }\n    ],\n    \"Шпунт\": [\n      { name: 'АО \"ЕВРАЗ Маркет\"', email: 'Dmitriy.Frolov@evraz.com' }\n    ],\n    \"Шток\": [\n      { name: 'ООО ПТК \"КРПМС\"', email: 'mail@krpms.ru' }\n    ],\n    \"Нержавейка\": [\n      { name: 'ООО \"Металлсервис\"', email: 'Lobaev.IE@mc.ru' },\n      { name: 'УТК Сталь', email: 'titareva@utk-steel.ru' },\n      { name: 'Специальные Стали и сплавы', email: 'nazarova@russteels.ru' },\n      { name: 'КросМет', email: 'krosmet1@yandex.ru' },\n      { name: 'ИноксТрейд', email: 'aplatonov@arielinox.ru' },\n      { name: 'Орринокс', email: 'kuzenkova@orinnox.ru' },\n      { name: 'Металл М', email: 'rop2@ss-r.ru' }\n    ],\n    \"ЦветМет\": [\n      { name: 'КросМет', email: 'krosmet1@yandex.ru' },\n      { name: 'Техпромресурс', email: 'SALE10@TPRNN.RU' },\n      { name: 'ПромАлюминий', email: 'promalnn@mail.ru' },\n      { name: 'ООО \"Металлсервис\"', email: 'Lobaev.IE@mc.ru' },\n      { name: 'Фолкон', email: 'zakaz@folkon.ru' },\n      { name: 'Металл М', email: 'rop2@ss-r.ru' }\n    ],\n    \"Госрезерв\": [\n      { name: 'Полюс А', email: 'super.ok2002@yandex.ru' },\n      { name: 'МетСнаб', email: 'metsnabgroup@metsnabgroup.ru' }\n    ],\n    \"Трубы б/у\": [\n      { name: 'Метрайз', email: 'alvnn@mail.ru' },\n      { name: 'ТЗК-НН', email: 'perlitnn@mail.ru' },\n      { name: 'Аксмет', email: 'aksmet52@ya.ru' }\n    ],\n    \"Трубопроводная Арматура\": [\n      { name: 'ИП Коновалов, Комплект НН', email: 'teplo2004nn@bk.ru' },\n      { name: 'Сантехкомплект', email: 'info-nn@santech.ru' },\n      { name: 'Проконсим', email: 'o.tadeushuk@proconsim.ru' },\n      { name: 'Эльф', email: 'nnov@elf-region.ru' }\n    ],\n    \"Анкера, Метизы: Болты, Гайки, Шайбы и пр.\": [\n      { name: 'Нижегородская Метизная компания', email: 'iasmirnov@mtk-fortuna.ru' },\n      { name: '1001 КРЕПЕЖ', email: 'm10@1001krep.ru' },\n      { name: 'Машкрепеж', email: 'mashkrep-nn@mail.ru' },\n      { name: 'ИП Коновалов, Комплект НН', email: 'teplo2004nn@bk.ru' }\n    ],\n    \"Шестигранник\": [\n      { name: 'ООО \"Металлсервис\"', email: 'Lobaev.IE@mc.ru' },\n      { name: 'Стальмаш', email: '4290177@mail.ru' },\n      { name: 'АО \"ЕВРАЗ Маркет\"', email: 'Dmitriy.Frolov@evraz.com' }\n    ],\n    \"Плоскоовальная труба\": [\n      { name: 'ООО Группа Компаний Демидов\"', email: 'zelenjii1981@mail.ru' },\n      { name: 'АБС Профиль', email: 'len27057@mail.ru' }\n    ],\n    \"Труба ПНД\": [\n      { name: 'Сантехкомплект', email: 'info-nn@santech.ru' },\n      { name: 'ИП Коновалов, Комплект НН', email: 'teplo2004nn@bk.ru' },\n      { name: 'Проконсим', email: 'o.tadeushuk@proconsim.ru' }\n    ],\n    \"Канат\": [\n      { name: 'ООО \"МЕЧЕЛ-СЕРВИС\"', email: 'Tatyana.Matsyna@mechelservice.ru' },\n      { name: 'ООО \"Металлсервис\"', email: 'Lobaev.IE@mc.ru' }\n    ]\n  },\n\n  // =========================================================================\n  // МОСКВА И РЕГИОНЫ\n  // =========================================================================\n  moscow: {\n    \"Арматура А500С, А1, А240\": [\n      { name: 'АО \"ЕВРАЗ Маркет\"', email: 'Oksana.Startseva@evraz.com' },\n      { name: 'ООО \"МЕЧЕЛ-СЕРВИС\"', email: 'Elena.Gryaznova@mechelservice.ru' },\n      { name: 'ООО \"Металлсервис-Москва\"', email: 'Lobaev.IE@mc.ru' },\n      { name: 'ООО \"УВМ-СТАЛЬ\"', email: 'elena.abramova@uvm-steel.ru' },\n      { name: 'ООО \"ПКФ \"ДиПОС\"', email: 'anisimova@dipos.ru' },\n      { name: 'ООО \"ТК Стальинтекс Трейд\"', email: 'help@stalintex.ru' },\n      { name: 'АО \"Металлоторг\"', email: 'user7@metallotorg.ru' },\n      { name: 'Русметпром', email: 'ulanova.e@rusmetprom.ru' },\n      { name: 'ММК Москва', email: 'Momot.IN@mmk.ru' },\n      { name: 'ООО \"Королевский трубный завод\"', email: 'skiba.v@ktzholding.ru' },\n      { name: 'СеверСталь', email: 'super.lubasha85@yandex.ru' },\n      { name: 'СеверСталь', email: 'sa.kolobov@severstal.com' },\n      { name: 'ЗАО \"ТФД \"Брок-Инвест-Сервис и К\"', email: 'borodina_oy@nnov.brokinvest.ru' },\n      { name: 'Абинский электрометаллургический завод', email: 'priemnaya@abinmetall.ru' },\n      { name: 'Тэмпо', email: 'nikiforov.m.r@kmk-tempo.ru' }\n    ],\n    \"Арматура 25Г2С, АТ800\": [\n      { name: 'ООО \"Металлсервис-Москва\"', email: 'Lobaev.IE@mc.ru' },\n      { name: 'ООО \"ПКФ \"ДиПОС\"', email: 'anisimova@dipos.ru' },\n      { name: 'АО \"ЕВРАЗ Маркет\"', email: 'Oksana.Startseva@evraz.com' },\n      { name: 'ООО \"МЕЧЕЛ-СЕРВИС\"', email: 'Elena.Gryaznova@mechelservice.ru' },\n      { name: 'АО \"Металлоторг\"', email: 'user7@metallotorg.ru' },\n      { name: 'Абинский электрометаллургический завод', email: 'priemnaya@abinmetall.ru' },\n      { name: 'Тэмпо', email: 'nikiforov.m.r@kmk-tempo.ru' }\n    ],\n    \"Балка\": [\n      { name: 'АО \"ЕВРАЗ Маркет\"', email: 'Oksana.Startseva@evraz.com' },\n      { name: 'ООО \"МЕЧЕЛ-СЕРВИС\"', email: 'Elena.Gryaznova@mechelservice.ru' },\n      { name: 'ООО \"Металлсервис-Москва\"', email: 'Lobaev.IE@mc.ru' },\n      { name: 'ЗАО \"ТФД \"Брок-Инвест-Сервис и К\"', email: 'borodina_oy@nnov.brokinvest.ru' },\n      { name: 'ООО \"ПКФ \"ДиПОС\"', email: 'anisimova@dipos.ru' },\n      { name: 'ООО \"ТК Стальинтекс Трейд\"', email: 'help@stalintex.ru' },\n      { name: 'АО \"Металлоторг\"', email: 'user7@metallotorg.ru' },\n      { name: 'АО \"ОМК МАРКЕТ\"', email: 'KALITINA_NA@omk.ru' },\n      { name: 'ООО \"Королевский трубный завод\"', email: 'skiba.v@ktzholding.ru' },\n      { name: 'ООО Группа Компаний Демидов\"', email: 'zelenjii1981@mail.ru' }\n    ],\n    \"Круги, квадраты\": [\n      { name: 'ООО \"Металлсервис-Москва\"', email: 'Lobaev.IE@mc.ru' },\n      { name: 'ООО \"ПКФ \"ДиПОС\"', email: 'anisimova@dipos.ru' },\n      { name: 'АО \"Металлоторг\"', email: 'user7@metallotorg.ru' },\n      { name: 'ООО \"МЕЧЕЛ-СЕРВИС\"', email: 'Elena.Gryaznova@mechelservice.ru' },\n      { name: 'ООО Группа Компаний Демидов\"', email: 'zelenjii1981@mail.ru' },\n      { name: 'Арес-П', email: 'info@ares-p.com' },\n      { name: 'ООО ПГ \"БФ БАЛТИК\"', email: 'info@bfbaltic.com' }\n    ],\n    \"Лист г/к, ПВЛ, листы рефленые\": [\n      { name: 'ООО \"А ГРУПП\"', email: 'empavlenko@agrupp.com' },\n      { name: 'ООО \"Металлсервис-Москва\"', email: 'Lobaev.IE@mc.ru' },\n      { name: 'АО \"ЕВРАЗ Маркет\"', email: 'Oksana.Startseva@evraz.com' },\n      { name: 'ЗАО \"ТФД \"Брок-Инвест-Сервис и К\"', email: 'borodina_oy@nnov.brokinvest.ru' },\n      { name: 'ООО \"ТД \"Ареал\"', email: 'elena@areal.msk.ru' },\n      { name: 'ООО \"ПКФ \"ДиПОС\"', email: 'anisimova@dipos.ru' },\n      { name: 'ООО \"ТК Стальинтекс Трейд\"', email: 'help@stalintex.ru' },\n      { name: 'ООО \"Королевский трубный завод\"', email: 'skiba.v@ktzholding.ru' },\n      { name: 'Русметпром', email: 'ulanova.e@rusmetprom.ru' },\n      { name: 'ООО \"МЕЧЕЛ-СЕРВИС\"', email: 'Elena.Gryaznova@mechelservice.ru' },\n      { name: 'АО \"Металлоторг\"', email: 'user7@metallotorg.ru' },\n      { name: 'СеверСталь', email: 'super.lubasha85@yandex.ru' },\n      { name: 'СеверСталь', email: 'sa.kolobov@severstal.com' },\n      { name: 'АО \"ОМК МАРКЕТ\"', email: 'KALITINA_NA@omk.ru' },\n      { name: 'Амет', email: 'sergey.karpov@amet-invest.ru' },\n      { name: 'Омега', email: 'roma@omegametall.ru' },\n      { name: 'ООО \"ИнтерметГрупп\"', email: 'a.dudenkov@imgmet.ru' },\n      { name: 'ММК Москва', email: 'Momot.IN@mmk.ru' }\n    ],\n    \"Листы продают кусками\": [\n      { name: 'ЗАО \"ТФД \"Брок-Инвест-Сервис и К\"', email: 'borodina_oy@nnov.brokinvest.ru' },\n      { name: 'ООО \"ТК Стальинтекс Трейд\"', email: 'help@stalintex.ru' },\n      { name: 'ООО \"ТД \"Ареал\"', email: 'elena@areal.msk.ru' },\n      { name: 'АО \"Металлоторг\"', email: 'user7@metallotorg.ru' }\n    ],\n    \"Листы х/к, оц,рулоны\": [\n      { name: 'ООО \"Металлсервис-Москва\"', email: 'Lobaev.IE@mc.ru' },\n      { name: 'ООО \"ПКФ \"ДиПОС\"', email: 'anisimova@dipos.ru' },\n      { name: 'ООО \"А ГРУПП\"', email: 'empavlenko@agrupp.com' },\n      { name: 'ООО \"ТК Стальинтекс Трейд\"', email: 'help@stalintex.ru' },\n      { name: 'ММК Москва', email: 'Momot.IN@mmk.ru' },\n      { name: 'ЗАО \"ТФД \"Брок-Инвест-Сервис и К\"', email: 'borodina_oy@nnov.brokinvest.ru' },\n      { name: 'ООО \"Королевский трубный завод\"', email: 'skiba.v@ktzholding.ru' },\n      { name: 'ООО \"НТПЗ\"', email: 'vsv@ntpz.ru' },\n      { name: 'АО \"Металлоторг\"', email: 'user7@metallotorg.ru' },\n      { name: 'СеверСталь', email: 'super.lubasha85@yandex.ru' },\n      { name: 'СеверСталь', email: 'sa.kolobov@severstal.com' },\n      { name: 'Русметпром', email: 'ulanova.e@rusmetprom.ru' },\n      { name: 'ООО \"ИнтерметГрупп\"', email: 'a.dudenkov@imgmet.ru' },\n      { name: 'ООО \"ТД \"Ареал\"', email: 'elena@areal.msk.ru' },\n      { name: 'Пушкинский завод металла', email: 'info@p-z-m.ru' },\n      { name: 'Ласар', email: 'sales@lasar.ru' }\n    ],\n    \"Рулоны, резка рулонов\": [\n      { name: 'ООО \"ПКФ \"ДиПОС\"', email: 'anisimova@dipos.ru' },\n      { name: 'ООО \"ТД \"Ареал\"', email: 'elena@areal.msk.ru' },\n      { name: 'Пушкинский завод металла', email: 'info@p-z-m.ru' },\n      { name: 'Ласар', email: 'sales@lasar.ru' }\n    ],\n    \"Профлист, штакетник\": [\n      { name: 'ООО \"ПКФ \"ДиПОС\"', email: 'anisimova@dipos.ru' },\n      { name: 'Стальные конструкции', email: 'sr3@proflist.ru' }\n    ],\n    \"Полоса\": [\n      { name: 'ООО \"Металлсервис-Москва\"', email: 'Lobaev.IE@mc.ru' },\n      { name: 'ООО \"ПКФ \"ДиПОС\"', email: 'anisimova@dipos.ru' },\n      { name: 'ООО \"ТК Стальинтекс Трейд\"', email: 'help@stalintex.ru' },\n      { name: 'АО \"Металлоторг\"', email: 'user7@metallotorg.ru' }\n    ],\n    \"Полоса нарубленная\": [\n      { name: 'ООО \"ПКФ \"ДиПОС\"', email: 'anisimova@dipos.ru' },\n      { name: 'ООО \"ТК Стальинтекс Трейд\"', email: 'help@stalintex.ru' }\n    ],\n    \"Рубка плазма, гильотина\": [\n      { name: 'АО \"ЕВРАЗ Маркет\"', email: 'Oksana.Startseva@evraz.com' },\n      { name: 'ЗАО \"ТФД \"Брок-Инвест-Сервис и К\"', email: 'borodina_oy@nnov.brokinvest.ru' },\n      { name: 'ООО \"ПКФ \"ДиПОС\"', email: 'anisimova@dipos.ru' },\n      { name: 'ООО \"ТК Стальинтекс Трейд\"', email: 'help@stalintex.ru' }\n    ],\n    \"Проволока\": [\n      { name: 'ООО \"Металлсервис-Москва\"', email: 'Lobaev.IE@mc.ru' },\n      { name: 'ООО \"А ГРУПП\"', email: 'empavlenko@agrupp.com' },\n      { name: 'ООО \"ПКФ \"ДиПОС\"', email: 'anisimova@dipos.ru' },\n      { name: 'ООО \"МЕЧЕЛ-СЕРВИС\"', email: 'Elena.Gryaznova@mechelservice.ru' }\n    ],\n    \"Рельс\": [\n      { name: 'АО \"ЕВРАЗ Маркет\"', email: 'Oksana.Startseva@evraz.com' }\n    ],\n    \"Трубы ВГП, оц, круглые э/с, профильные\": [\n      { name: 'ООО \"Металлсервис-Москва\"', email: 'Lobaev.IE@mc.ru' },\n      { name: 'ООО \"ПКФ \"ДиПОС\"', email: 'anisimova@dipos.ru' },\n      { name: 'Промстройметалл', email: 'NLZ@MKPSM.RU' },\n      { name: 'Промстройметалл', email: 'eap@mkpsm.ru' },\n      { name: 'ООО \"А ГРУПП\"', email: 'empavlenko@agrupp.com' },\n      { name: 'ООО \"ТК Стальинтекс Трейд\"', email: 'help@stalintex.ru' },\n      { name: 'ЗАО \"ТФД \"Брок-Инвест-Сервис и К\"', email: 'borodina_oy@nnov.brokinvest.ru' },\n      { name: 'АО \"Металлоторг\"', email: 'user7@metallotorg.ru' },\n      { name: 'ООО Группа Компаний Демидов\"', email: 'zelenjii1981@mail.ru' },\n      { name: 'ООО \"Королевский трубный завод\"', email: 'skiba.v@ktzholding.ru' },\n      { name: 'ООО \"НТПЗ\"', email: 'vsv@ntpz.ru' },\n      { name: 'СеверСталь', email: 'super.lubasha85@yandex.ru' },\n      { name: 'СеверСталь', email: 'sa.kolobov@severstal.com' },\n      { name: 'АО \"ОМК МАРКЕТ\"', email: 'KALITINA_NA@omk.ru' },\n      { name: 'Кольчугинский трубный завод', email: 'ds.okishev@tagil-steel.ru' },\n      { name: 'Русметпром', email: 'ulanova.e@rusmetprom.ru' },\n      { name: 'Блок', email: 'v.d@block-metal.ru' },\n      { name: 'ООО \"ИнтерметГрупп\"', email: 'a.dudenkov@imgmet.ru' }\n    ],\n    \"Труба б/ш\": [\n      { name: 'ООО \"Металлсервис-Москва\"', email: 'Lobaev.IE@mc.ru' },\n      { name: 'Промстройметалл', email: 'NLZ@MKPSM.RU' },\n      { name: 'Промстройметалл', email: 'eap@mkpsm.ru' },\n      { name: 'ООО \"А ГРУПП\"', email: 'empavlenko@agrupp.com' },\n      { name: 'АО \"Металлоторг\"', email: 'user7@metallotorg.ru' },\n      { name: 'Миратех', email: 'korobkov_vs@npk-miratech.ru' },\n      { name: 'ТД ТМК', email: 'aleksandr.akishkin@tmk-group.com' }\n    ],\n    \"Уголок, Швеллер\": [\n      { name: 'ООО \"Металлсервис-Москва\"', email: 'Lobaev.IE@mc.ru' },\n      { name: 'ООО \"ПКФ \"ДиПОС\"', email: 'anisimova@dipos.ru' },\n      { name: 'ООО \"А ГРУПП\"', email: 'empavlenko@agrupp.com' },\n      { name: 'ООО \"ТК Стальинтекс Трейд\"', email: 'help@stalintex.ru' },\n      { name: 'ММК Москва', email: 'Momot.IN@mmk.ru' },\n      { name: 'ЗАО \"ТФД \"Брок-Инвест-Сервис и К\"', email: 'borodina_oy@nnov.brokinvest.ru' },\n      { name: 'АО \"ЕВРАЗ Маркет\"', email: 'Oksana.Startseva@evraz.com' },\n      { name: 'ООО \"МЕЧЕЛ-СЕРВИС\"', email: 'Elena.Gryaznova@mechelservice.ru' },\n      { name: 'ООО Группа Компаний Демидов\"', email: 'zelenjii1981@mail.ru' },\n      { name: 'ООО \"Королевский трубный завод\"', email: 'skiba.v@ktzholding.ru' },\n      { name: 'АО \"ОМК МАРКЕТ\"', email: 'KALITINA_NA@omk.ru' },\n      { name: 'ООО \"УВМ-СТАЛЬ\"', email: 'elena.abramova@uvm-steel.ru' },\n      { name: 'Русметпром', email: 'ulanova.e@rusmetprom.ru' },\n      { name: 'ООО \"ИнтерметГрупп\"', email: 'a.dudenkov@imgmet.ru' }\n    ],\n    \"Швеллер гнутый\": [\n      { name: 'ООО \"Металлсервис-Москва\"', email: 'Lobaev.IE@mc.ru' },\n      { name: 'ООО \"ПКФ \"ДиПОС\"', email: 'anisimova@dipos.ru' },\n      { name: 'ЗАО \"ТФД \"Брок-Инвест-Сервис и К\"', email: 'borodina_oy@nnov.brokinvest.ru' },\n      { name: 'АО \"Металлоторг\"', email: 'user7@metallotorg.ru' }\n    ],\n    \"Нержавейка\": [\n      { name: 'ООО \"Металлсервис-Москва\"', email: 'Lobaev.IE@mc.ru' },\n      { name: 'Специальные Стали и сплавы', email: 'nazarova@russteels.ru' },\n      { name: 'КросМет', email: 'krosmet1@yandex.ru' },\n      { name: 'Нержавейка.ру', email: 'sales1@nerzhaveyka.ru' },\n      { name: 'Мерчегалия', email: 'anastasiya.galitsina@marcegaglia.com' },\n      { name: 'Салют', email: 'salut@coba.ru' },\n      { name: 'Континенталь', email: 'msk@kontinental.ru' },\n      { name: 'ГлобусСталь', email: 'zakaz@globus-stal.ru' },\n      { name: 'ГлобусСталь', email: 'truba@globus-stal.ru' },\n      { name: 'ООО \"МЕЧЕЛ-СЕРВИС\"', email: 'Elena.Gryaznova@mechelservice.ru' }\n    ],\n    \"Цветмет\": [\n      { name: 'КросМет', email: 'krosmet1@yandex.ru' },\n      { name: 'ООО \"ПКФ \"ДиПОС\"', email: 'anisimova@dipos.ru' },\n      { name: 'ООО \"ТК Стальинтекс Трейд\"', email: 'help@stalintex.ru' },\n      { name: 'Галактика', email: 'chas@galakmet.ru' },\n      { name: 'ООО \"Металлсервис-Москва\"', email: 'Lobaev.IE@mc.ru' },\n      { name: 'Техпромресурс', email: 'SALE10@TPRNN.RU' },\n      { name: 'промцветмет', email: 'pcm@pcmet.ru' },\n      { name: 'Татпроф', email: 'emn@tatprof.ru' },\n      { name: 'Алунекст', email: 'kte@alunext.ru' },\n      { name: 'Лист', email: 'ak@listmet.ru' },\n      { name: 'Лист', email: 'list@listmet.ru' }\n    ],\n    \"Трубопроводная арматура\": [\n      { name: 'Сантехкомплект', email: 'info-nn@santech.ru' },\n      { name: 'ДН.ру', email: '161@dn.ru' },\n      { name: 'Лунда', email: 'olru@lunda.ru' }\n    ],\n    \"Труба овал. оц.\": [\n      { name: 'Новорязанский трубный завод', email: 'td-rtz@ferost.ru' }\n    ],\n    \"Канат, Анкера\": [\n      { name: '1001 КРЕПЕЖ', email: 'm10@1001krep.ru' }\n    ]\n  },\n\n  // =========================================================================\n  // ЗАВОДЫ (FACTORIES) - Добавлено 23.12.2024\n  // =========================================================================\n  factories: {\n    \"Арматура А500С, А1, А240\": [\n      { name: 'ООО \"Королевский трубный завод\"', email: 'skiba.v@ktzholding.ru' },\n      { name: 'Абинский электрометаллургический завод', email: 'priemnaya@abinmetall.ru' }\n    ],\n    \"Арматура 25Г2С, АТ800\": [\n      { name: 'Абинский электрометаллургический завод', email: 'priemnaya@abinmetall.ru' }\n    ],\n    \"Балка\": [\n      { name: 'ООО \"Королевский трубный завод\"', email: 'skiba.v@ktzholding.ru' }\n    ],\n    \"Лист г/к, ПВЛ, листы рифленые\": [\n      { name: 'ООО \"Королевский трубный завод\"', email: 'skiba.v@ktzholding.ru' }\n    ],\n    \"Листы х/к, оц, рулоны\": [\n      { name: 'ООО \"Королевский трубный завод\"', email: 'skiba.v@ktzholding.ru' },\n      { name: 'Пушкинский завод металла', email: 'info@p-z-m.ru' }\n    ],\n    \"Рулоны, резка рулонов\": [\n      { name: 'Пушкинский завод металла', email: 'info@p-z-m.ru' }\n    ],\n    \"Труба профильная\": [\n      { name: 'Борский трубный завод', email: 'tnp@bortrub.ru' }\n    ],\n    \"Трубы ВГП, оц, круглые э/с, профильные\": [\n      { name: 'ООО \"Королевский трубный завод\"', email: 'skiba.v@ktzholding.ru' },\n      { name: 'Кольчугинский трубный завод', email: 'ds.okishev@tagil-steel.ru' }\n    ],\n    \"Уголок, Швеллер\": [\n      { name: 'ООО \"Королевский трубный завод\"', email: 'skiba.v@ktzholding.ru' }\n    ],\n    \"Труба овал. оц.\": [\n      { name: 'Новорязанский трубный завод', email: 'td-rtz@ferost.ru' }\n    ]\n  }\n};\n\n// =============================================================================\n// МАППИНГ: Тип металла из парсера → Категория в таблице поставщиков\n// =============================================================================\nconst METAL_TYPE_MAPPING = {\n  nn: {\n    // Арматура\n    \"Арматура А1\": \"Арматура А500С, А1, А240\",\n    \"Арматура А1 оц.\": \"Арматура А500С, А1, А240\",\n    \"Арматура А3\": \"Арматура А500С, А1, А240\",\n    \"Арматура А3 оц.\": \"Арматура А500С, А1, А240\",\n    \"Арматура Ат800\": \"Арматура АТ800\",\n    \"Арматура Ат1000\": \"Арматура АТ800\",\n    \n    // Сортовой прокат\n    \"Балка\": \"Балка\",\n    \"Квадрат\": \"КВАДРАТ\",\n    \"Круг\": \"КРУГИ\",\n    \"Круг оцинк.\": \"КРУГИ\",\n    \"Полоса\": \"Полоса\",\n    \"Полоса оцинк.\": \"Полоса\",\n    \"Шестигранник\": \"Шестигранник\",\n    \"Уголок\": \"Уголок\",\n    \"Уголок оц.\": \"Уголок\",\n    \"Уголок гнутый\": \"Уголок\",\n    \"Уголок гнутый оц.\": \"Уголок\",\n    \"Швеллер\": \"Швеллер\",\n    \"Швеллер оц.\": \"Швеллер\",\n    \"Швеллер гнутый\": \"Швеллер гнутый\",\n    \"Швеллер гнутый оц.\": \"Швеллер гнутый\",\n    \n    // Листовой прокат\n    \"Лист/рулон г/к\": \"Лист г/к\",\n    \"Лист/рулон х/к\": \"Листы х/к, оц,рулоны\",\n    \"Лист/рулон оцинк.\": \"Листы х/к, оц,рулоны\",\n    \"Лист/рулон окраш.\": \"Листы х/к, оц,рулоны\",\n    \"Лист ПВ\": \"ПВЛ\",\n    \"Лист ПВ оцинк.\": \"ПВЛ\",\n    \"Лист рифленый\": \"Лист рифленый\",\n    \"Плита\": \"Лист г/к\",\n    \"Лента/штрипс\": \"Листы х/к, оц,рулоны\",\n    \"Лента/штрипс оц.\": \"Листы х/к, оц,рулоны\",\n    \"Лента/штрипс окраш.\": \"Листы х/к, оц,рулоны\",\n    \"Профнастил оц.\": \"Профлист, штакетник\",\n    \"Профнастил окраш.\": \"Профлист, штакетник\",\n    \n    // Трубы\n    \"Труба э/с\": \"Трубы ВГП, оц, круглые э/с\",\n    \"Труба э/с оц.\": \"Трубы ВГП, оц, круглые э/с\",\n    \"Труба квадр.\": \"Труба профильная\",\n    \"Труба квадр. оц.\": \"Труба профильная\",\n    \"Труба прямоуг.\": \"Труба профильная\",\n    \"Труба прямоуг. оц.\": \"Труба профильная\",\n    \"Труба овал.\": \"Плоскоовальная труба\",\n    \"Труба овал. оц.\": \"Плоскоовальная труба\",\n    \"Труба плоскоовал.\": \"Плоскоовальная труба\",\n    \"Труба плоскоовал. оц.\": \"Плоскоовальная труба\",\n    \"Труба ВГП\": \"Трубы ВГП, оц, круглые э/с\",\n    \"Труба ВГП оцинк.\": \"Трубы ВГП, оц, круглые э/с\",\n    \"Труба б/ш г/д\": \"Трубы б/ш\",\n    \"Труба б/ш г/д оцинк.\": \"Трубы б/ш\",\n    \"Труба б/ш х/д\": \"Трубы б/ш\",\n    \"Труба б/ш х/д оц.\": \"Трубы б/ш\",\n    \"Труба б/ш котельная\": \"Трубы б/ш\",\n    \"Труба ПНД\": \"Труба ПНД\",\n    \n    // Канаты и проволока\n    \"Канат\": \"Канат\",\n    \"Канат оцинк.\": \"Канат\",\n    \"Канат арматурный\": \"Канат\",\n    \"Катанка\": \"Проволока\",\n    \"Проволока\": \"Проволока\",\n    \"Проволока оцинк.\": \"Проволока\",\n    \n    // Прочее\n    \"Рельс\": \"Рельс\",\n    \"Шпунт Ларсена\": \"Шпунт\",\n    \"Шпунт двутавровый\": \"Шпунт\",\n    \"Шпунт трубчатый\": \"Шпунт\",\n    \"Шпунт холодногнутый\": \"Шпунт\",\n    \"Сетка\": \"Сетка\",\n    \n    // Метизы\n    \"Болты\": \"Анкера, Метизы: Болты, Гайки, Шайбы и пр.\",\n    \"Гайки\": \"Анкера, Метизы: Болты, Гайки, Шайбы и пр.\",\n    \"Шайбы\": \"Анкера, Метизы: Болты, Гайки, Шайбы и пр.\",\n    \"Винты\": \"Анкера, Метизы: Болты, Гайки, Шайбы и пр.\",\n    \"Гвозди\": \"Анкера, Метизы: Болты, Гайки, Шайбы и пр.\",\n    \"Саморезы\": \"Анкера, Метизы: Болты, Гайки, Шайбы и пр.\",\n    \"Шплинты\": \"Анкера, Метизы: Болты, Гайки, Шайбы и пр.\",\n    \"Шурупы\": \"Анкера, Метизы: Болты, Гайки, Шайбы и пр.\",\n    \"Шпильки\": \"Анкера, Метизы: Болты, Гайки, Шайбы и пр.\"\n  },\n  \n  moscow: {\n    // Арматура\n    \"Арматура А1\": \"Арматура А500С, А1, А240\",\n    \"Арматура А1 оц.\": \"Арматура А500С, А1, А240\",\n    \"Арматура А3\": \"Арматура А500С, А1, А240\",\n    \"Арматура А3 оц.\": \"Арматура А500С, А1, А240\",\n    \"Арматура Ат800\": \"Арматура 25Г2С, АТ800\",\n    \"Арматура Ат1000\": \"Арматура 25Г2С, АТ800\",\n    \n    // Сортовой прокат\n    \"Балка\": \"Балка\",\n    \"Квадрат\": \"Круги, квадраты\",\n    \"Круг\": \"Круги, квадраты\",\n    \"Круг оцинк.\": \"Круги, квадраты\",\n    \"Полоса\": \"Полоса\",\n    \"Полоса оцинк.\": \"Полоса\",\n    \"Уголок\": \"Уголок, Швеллер\",\n    \"Уголок оц.\": \"Уголок, Швеллер\",\n    \"Уголок гнутый\": \"Уголок, Швеллер\",\n    \"Уголок гнутый оц.\": \"Уголок, Швеллер\",\n    \"Швеллер\": \"Уголок, Швеллер\",\n    \"Швеллер оц.\": \"Уголок, Швеллер\",\n    \"Швеллер гнутый\": \"Швеллер гнутый\",\n    \"Швеллер гнутый оц.\": \"Швеллер гнутый\",\n    \n    // Листовой прокат\n    \"Лист/рулон г/к\": \"Лист г/к, ПВЛ, листы рефленые\",\n    \"Лист/рулон х/к\": \"Листы х/к, оц,рулоны\",\n    \"Лист/рулон оцинк.\": \"Листы х/к, оц,рулоны\",\n    \"Лист/рулон окраш.\": \"Листы х/к, оц,рулоны\",\n    \"Лист ПВ\": \"Лист г/к, ПВЛ, листы рефленые\",\n    \"Лист ПВ оцинк.\": \"Лист г/к, ПВЛ, листы рефленые\",\n    \"Лист рифленый\": \"Лист г/к, ПВЛ, листы рефленые\",\n    \"Плита\": \"Лист г/к, ПВЛ, листы рефленые\",\n    \"Лента/штрипс\": \"Листы х/к, оц,рулоны\",\n    \"Лента/штрипс оц.\": \"Листы х/к, оц,рулоны\",\n    \"Лента/штрипс окраш.\": \"Листы х/к, оц,рулоны\",\n    \"Профнастил оц.\": \"Профлист, штакетник\",\n    \"Профнастил окраш.\": \"Профлист, штакетник\",\n    \n    // Трубы\n    \"Труба э/с\": \"Трубы ВГП, оц, круглые э/с, профильные\",\n    \"Труба э/с оц.\": \"Трубы ВГП, оц, круглые э/с, профильные\",\n    \"Труба квадр.\": \"Трубы ВГП, оц, круглые э/с, профильные\",\n    \"Труба квадр. оц.\": \"Трубы ВГП, оц, круглые э/с, профильные\",\n    \"Труба прямоуг.\": \"Трубы ВГП, оц, круглые э/с, профильные\",\n    \"Труба прямоуг. оц.\": \"Трубы ВГП, оц, круглые э/с, профильные\",\n    \"Труба ВГП\": \"Трубы ВГП, оц, круглые э/с, профильные\",\n    \"Труба ВГП оцинк.\": \"Трубы ВГП, оц, круглые э/с, профильные\",\n    \"Труба б/ш г/д\": \"Труба б/ш\",\n    \"Труба б/ш г/д оцинк.\": \"Труба б/ш\",\n    \"Труба б/ш х/д\": \"Труба б/ш\",\n    \"Труба б/ш х/д оц.\": \"Труба б/ш\",\n    \"Труба б/ш котельная\": \"Труба б/ш\",\n    \"Труба овал.\": \"Труба овал. оц.\",\n    \"Труба овал. оц.\": \"Труба овал. оц.\",\n    \n    // Канаты и проволока\n    \"Канат\": \"Канат, Анкера\",\n    \"Канат оцинк.\": \"Канат, Анкера\",\n    \"Канат арматурный\": \"Канат, Анкера\",\n    \"Проволока\": \"Проволока\",\n    \"Проволока оцинк.\": \"Проволока\",\n    \n    // Прочее\n    \"Рельс\": \"Рельс\",\n    \"Болты\": \"Канат, Анкера\",\n    \"Гайки\": \"Канат, Анкера\",\n    \"Шайбы\": \"Канат, Анкера\"\n  },\n\n  // =========================================================================\n  // МАППИНГ ДЛЯ ЗАВОДОВ (использует те же категории что и moscow)\n  // =========================================================================\n  factories: {\n    // Арматура\n    \"Арматура А1\": \"Арматура А500С, А1, А240\",\n    \"Арматура А1 оц.\": \"Арматура А500С, А1, А240\",\n    \"Арматура А3\": \"Арматура А500С, А1, А240\",\n    \"Арматура А3 оц.\": \"Арматура А500С, А1, А240\",\n    \"Арматура Ат800\": \"Арматура 25Г2С, АТ800\",\n    \"Арматура Ат1000\": \"Арматура 25Г2С, АТ800\",\n    \n    // Сортовой прокат\n    \"Балка\": \"Балка\",\n    \"Уголок\": \"Уголок, Швеллер\",\n    \"Уголок оц.\": \"Уголок, Швеллер\",\n    \"Швеллер\": \"Уголок, Швеллер\",\n    \"Швеллер оц.\": \"Уголок, Швеллер\",\n    \n    // Листовой прокат\n    \"Лист/рулон г/к\": \"Лист г/к, ПВЛ, листы рифленые\",\n    \"Лист/рулон х/к\": \"Листы х/к, оц, рулоны\",\n    \"Лист/рулон оцинк.\": \"Листы х/к, оц, рулоны\",\n    \"Лист/рулон окраш.\": \"Листы х/к, оц, рулоны\",\n    \"Лист ПВ\": \"Лист г/к, ПВЛ, листы рифленые\",\n    \"Лист ПВ оцинк.\": \"Лист г/к, ПВЛ, листы рифленые\",\n    \"Лист рифленый\": \"Лист г/к, ПВЛ, листы рифленые\",\n    \"Лента/штрипс\": \"Листы х/к, оц, рулоны\",\n    \"Лента/штрипс оц.\": \"Листы х/к, оц, рулоны\",\n    \n    // Трубы\n    \"Труба э/с\": \"Трубы ВГП, оц, круглые э/с, профильные\",\n    \"Труба э/с оц.\": \"Трубы ВГП, оц, круглые э/с, профильные\",\n    \"Труба квадр.\": \"Труба профильная\",\n    \"Труба квадр. оц.\": \"Труба профильная\",\n    \"Труба прямоуг.\": \"Труба профильная\",\n    \"Труба прямоуг. оц.\": \"Труба профильная\",\n    \"Труба ВГП\": \"Трубы ВГП, оц, круглые э/с, профильные\",\n    \"Труба ВГП оцинк.\": \"Трубы ВГП, оц, круглые э/с, профильные\",\n    \"Труба овал.\": \"Труба овал. оц.\",\n    \"Труба овал. оц.\": \"Труба овал. оц.\"\n  }\n};\n\n// =============================================================================\n// ОСНОВНАЯ ЛОГИКА\n// =============================================================================\nconst body = $input.first().json.body || $input.first().json;\nconst category = body.category || 'nn';\nconst requestId = body.request_id;\nconst items = body.items || [];\nconst totalWeight = body.totals?.weight || items.reduce((sum, i) => sum + (parseFloat(i.weight) || 0), 0);\nconst excelBase64 = body.excel_base64 || '';\nconst excelFilename = body.excel_filename || `Запрос_${requestId}.xlsx`;\nconst managerComment = body.manager_comment || '';\nconst managerName = body.manager_name || '';\n\n// Добавляем код категории к request_id для уникальности\nconst categoryCode = {\n  'nn': 'NN',\n  'moscow': 'MSK', \n  'factories': 'FAC'\n}[category] || category.toUpperCase().slice(0, 3);\n\nconst uniqueRequestId = `${requestId}-${categoryCode}`;\n\n// 1. Извлекаем уникальные типы металла из заказа\nconst metalTypes = [...new Set(items.map(i => i.metal_name || i.metal_type).filter(Boolean))];\nconsole.log(`📋 Типы металла в заказе: ${metalTypes.join(', ')}`);\n\n// 2. Находим категории поставщиков\n// Для factories используем свой маппинг, иначе fallback на nn\nconst mapping = METAL_TYPE_MAPPING[category] || METAL_TYPE_MAPPING.nn;\nconst suppliersByMetal = SUPPLIERS_BY_METAL[category] || SUPPLIERS_BY_METAL.nn;\n\nconst supplierCategories = new Set();\nconst unmappedTypes = [];\n\nfor (const metalType of metalTypes) {\n  const supplierCategory = mapping[metalType];\n  if (supplierCategory && suppliersByMetal[supplierCategory]) {\n    supplierCategories.add(supplierCategory);\n    console.log(`✅ ${metalType} → ${supplierCategory}`);\n  } else if (supplierCategory) {\n    // Категория есть в маппинге, но нет в списке поставщиков для этого региона\n    unmappedTypes.push(metalType);\n    console.log(`⚠️ ${metalType} → ${supplierCategory} (нет поставщиков в категории ${category})`);\n  } else {\n    unmappedTypes.push(metalType);\n    console.log(`⚠️ ${metalType} → НЕТ В МАППИНГЕ (ручной запрос)`);\n  }\n}\n\n// 3. Собираем уникальные email\nconst emailsSet = new Set();\nconst suppliersFound = [];\n\nfor (const cat of supplierCategories) {\n  const categorySuppliers = suppliersByMetal[cat] || [];\n  for (const supplier of categorySuppliers) {\n    if (!emailsSet.has(supplier.email.toLowerCase())) {\n      emailsSet.add(supplier.email.toLowerCase());\n      suppliersFound.push(supplier);\n    }\n  }\n}\n\n// 4. Формируем список email\nconst emailList = TEST_MODE \n  ? TEST_EMAIL \n  : [...emailsSet].join(', ');\n\n// Названия категорий для логов\nconst categoryNames = {\n  'nn': 'Нижний Новгород',\n  'moscow': 'Москва и регионы',\n  'factories': 'Заводы'\n};\n\nconsole.log(`📧 Категория: ${category} (${categoryNames[category] || category})`);\nconsole.log(`🆔 Request ID: ${uniqueRequestId}`);\nconsole.log(`🧪 ТЕСТОВЫЙ РЕЖИМ: ${TEST_MODE}`);\nconsole.log(`📧 Найдено поставщиков: ${suppliersFound.length}`);\nconsole.log(`📧 Категорий металла: ${supplierCategories.size}`);\nconsole.log(`⚠️ Без маппинга: ${unmappedTypes.length} - ${unmappedTypes.join(', ')}`);\nconsole.log(`📧 Отправка на: ${emailList}`);\nconsole.log(`💬 Комментарий менеджера: ${managerComment ? 'есть' : 'нет'}`);\n\nreturn [{\n  json: {\n    category,\n    categoryName: categoryNames[category] || category,\n    requestId: uniqueRequestId,\n    items,\n    totalWeight: Number(totalWeight).toFixed(3),\n    suppliers: suppliersFound,\n    emailList,\n    supplierCount: suppliersFound.length,\n    metalTypes,\n    supplierCategories: [...supplierCategories],\n    unmappedTypes,\n    excelBase64,\n    excelFilename,\n    managerComment,\n    managerName\n  }\n}];"
      },
      "id": "cc52df22-2c32-4307-a98c-387407a5424c",
      "name": "Code: Get Suppliers by Category",
      "type": "n8n-nodes-base.code",
      "position": [
        -192,
        384
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\n\n// Формируем таблицу для email\nlet tableRows = data.items.map((item, idx) => {\n  return `<tr>\n    <td style=\"border:1px solid #ddd;padding:8px;text-align:center;\">${idx + 1}</td>\n    <td style=\"border:1px solid #ddd;padding:8px;\">${item.metal_type || item.metal_name || ''}</td>\n    <td style=\"border:1px solid #ddd;padding:8px;text-align:center;\">${item.size || ''}</td>\n    <td style=\"border:1px solid #ddd;padding:8px;text-align:center;\">${item.steel_grade || ''}</td>\n    <td style=\"border:1px solid #ddd;padding:8px;text-align:center;\">${item.weight ? Number(item.weight).toFixed(3) : ''}</td>\n    <td style=\"border:1px solid #ddd;padding:8px;text-align:center;\">${item.pieces || ''}</td>\n  </tr>`;\n}).join('');\n\n// Тема письма с срочностью\nconst emailSubject = data.managerName ? `Заказ ${data.requestId} (${data.managerName}) | МеталлСтройГрупп` : `Заказ ${data.requestId} | МеталлСтройГрупп`;\n\n// Блок комментария менеджера (если есть)\nconst managerCommentBlock = data.managerComment ? `\n  <div style=\"background-color: #f0f9ff; border-left: 4px solid #3b82f6; padding: 12px 15px; margin: 15px 0;\">\n    <p style=\"margin: 0; color: #1e40af;\"><strong>💬 Сообщение от менеджера:</strong></p>\n    <p style=\"margin: 8px 0 0 0; color: #333;\">${data.managerComment}</p>\n  </div>\n` : '';\n\n// Тело письма\nconst emailBody = `\n<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"UTF-8\">\n</head>\n<body style=\"font-family: Arial, sans-serif; font-size: 14px; color: #333;\">\n  <p>Добрый день!</p>\n  ${managerCommentBlock}\n  <p>Просим предоставить цены на следующие позиции:</p>\n  \n  <p><strong>Заявка №${data.requestId}</strong></p>\n  \n  <table style=\"border-collapse: collapse; width: 100%; margin: 15px 0;\">\n    <thead>\n      <tr style=\"background-color: #f5f5f5;\">\n        <th style=\"border:1px solid #ddd;padding:8px;\">№</th>\n        <th style=\"border:1px solid #ddd;padding:8px;\">Наименование</th>\n        <th style=\"border:1px solid #ddd;padding:8px;\">Размер</th>\n        <th style=\"border:1px solid #ddd;padding:8px;\">Марка стали</th>\n        <th style=\"border:1px solid #ddd;padding:8px;\">Вес, т</th>\n        <th style=\"border:1px solid #ddd;padding:8px;\">Кол-во</th>\n      </tr>\n    </thead>\n    <tbody>\n      ${tableRows}\n      <tr style=\"font-weight: bold; background-color: #f0f0f0;\">\n        <td colspan=\"4\" style=\"border:1px solid #ddd;padding:8px;\">ИТОГО:</td>\n        <td style=\"border:1px solid #ddd;padding:8px;text-align:center;\">${data.totalWeight} т</td>\n        <td style=\"border:1px solid #ddd;padding:8px;\"></td>\n      </tr>\n    </tbody>\n  </table>\n\n  <div style=\"background-color: #fff3cd; border: 1px solid #ffc107; padding: 15px; margin: 20px 0; border-radius: 5px;\">\n    <p style=\"margin: 0 0 10px 0; font-weight: bold; color: #856404;\">⚡ ВАЖНО: Сбор цен заканчивается через 30 минут!</p>\n    <p style=\"margin: 0; color: #856404;\">Если отвечаете позже — ваша цена может быть не учтена.</p>\n  </div>\n\n  <div style=\"background-color: #e7f3ff; border: 1px solid #2196F3; padding: 15px; margin: 20px 0; border-radius: 5px;\">\n    <p style=\"margin: 0 0 10px 0; font-weight: bold; color: #1565c0;\">📋 Как ответить:</p>\n    <ol style=\"margin: 0; padding-left: 20px; color: #1565c0;\">\n      <li>Скачайте прикреплённый Excel-файл</li>\n      <li>Заполните колонку <strong>«Цена»</strong></li>\n      <li>При необходимости заполните колонку <strong>«Примечания»</strong> — если нет полного объёма, сроки отличаются или есть другие нюансы</li>\n      <li>Отправьте файл ответным письмом</li>\n    </ol>\n  </div>\n\n  <p>Спасибо за оперативность!</p>\n\n  <p style=\"margin-top: 30px; padding-top: 15px; border-top: 1px solid #ddd; color: #666;\">\n    С уважением,<br>\n    <strong>МеталлСтройГрупп РФ</strong><br>\n    Отдел закупок<br>\n    zakup@msgnn.ru\n  </p>\n</body>\n</html>\n`;\n\n// Готовим результат\nconst result = {\n  json: {\n    ...data,\n    emailSubject,\n    emailBody\n  }\n};\n\n// Если есть Excel - добавляем как binary вложение\nif (data.excelBase64 && data.excelBase64.length > 0) {\n  result.binary = {\n    attachment: {\n      data: data.excelBase64,\n      mimeType: 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet',\n      fileName: data.excelFilename || 'Запрос.xlsx'\n    }\n  };\n  console.log('📎 Вложение подготовлено:', data.excelFilename);\n} else {\n  console.log('⚠️ Excel не найден в данных!');\n}\n\nreturn [result];"
      },
      "id": "1f24f429-1837-4255-87db-b565832014aa",
      "name": "Code: Prepare Email Body",
      "type": "n8n-nodes-base.code",
      "position": [
        32,
        384
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "// Берём данные из ПРАВИЛЬНОЙ ноды\nconst data = $('Code: Get Suppliers by Category').item.json;\n\n// Время сбора (через 45 минут)\nconst collectAt = new Date(Date.now() + 45 * 60 * 1000);\nconst collectAtFormatted = collectAt.toLocaleTimeString('ru-RU', { hour: '2-digit', minute: '2-digit' });\n\nreturn [{\n  json: {\n    success: true,\n    request_id: data.requestId,\n    category: data.category,\n    category_name: data.categoryName,\n    suppliers_count: data.supplierCount,\n    suppliers: (data.suppliers || []).map(s => ({ name: s.name, email: s.email })),\n    collect_at: collectAt.toISOString(),\n    collect_at_formatted: collectAtFormatted,\n    message: `Запрос отправлен ${data.supplierCount} поставщикам. Сводка будет готова в ${collectAtFormatted}`\n  }\n}];"
      },
      "id": "6de0bcd0-05eb-4240-a87e-40127911b3fb",
      "name": "Code: Prepare Response",
      "type": "n8n-nodes-base.code",
      "position": [
        688,
        384
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "05f2c805-a4cf-45ef-93e1-c9e0ec2e5c9e",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [
        912,
        384
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.resend.com/emails",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer re_h8imb4uX_3e7wJGXkPJxy7kqyZUd7wxdE"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"from\": \"МеталлСтройГрупп <zakup@msgnn.ru>\",\n  \"to\": [\"zakup@msgnn.ru\"],\n  \"bcc\": {{ JSON.stringify($json.emailList.split(', ')) }},\n  \"subject\": {{ JSON.stringify($json.emailSubject) }},\n  \"html\": {{ JSON.stringify($json.emailBody) }},\n  \"attachments\": [\n    {\n      \"filename\": {{ JSON.stringify($json.excelFilename || \"Запрос.xlsx\") }},\n      \"content\": {{ JSON.stringify($json.excelBase64 || \"\") }}\n    }\n  ]\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        256,
        384
      ],
      "id": "e96e900d-3f68-439c-98ae-912ec84d1e19",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "tableId": "supplier_requests",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "request_id",
              "fieldValue": "={{ $('Code: Get Suppliers by Category').item.json.requestId }}"
            },
            {
              "fieldId": "category",
              "fieldValue": "={{ $('Code: Get Suppliers by Category').item.json.category }}"
            },
            {
              "fieldId": "status",
              "fieldValue": "pending"
            },
            {
              "fieldId": "items",
              "fieldValue": "={{ JSON.stringify($('Code: Get Suppliers by Category').item.json.items) }}"
            },
            {
              "fieldId": "total_weight",
              "fieldValue": "={{ $('Code: Get Suppliers by Category').item.json.totalWeight }}"
            },
            {
              "fieldId": "suppliers_count",
              "fieldValue": "={{ $('Code: Get Suppliers by Category').item.json.supplierCount }}"
            },
            {
              "fieldId": "supplier_emails",
              "fieldValue": "={{ '{' + $('Code: Get Suppliers by Category').item.json.emailList.split(', ').map(e => '\"' + e + '\"').join(',') + '}' }}"
            },
            {
              "fieldId": "created_at",
              "fieldValue": "={{ new Date().toISOString() }}"
            },
            {
              "fieldId": "collect_at",
              "fieldValue": "={{ new Date(Date.now() + 45 * 60 * 1000).toISOString() }}"
            }
          ]
        }
      },
      "name": "Supabase: Save Request",
      "type": "n8n-nodes-base.supabase",
      "position": [
        464,
        384
      ],
      "typeVersion": 1,
      "id": "e0d865b7-de63-4ff9-b14c-5e43339a7109",
      "credentials": {
        "supabaseApi": {
          "id": "zV2DqqzhilTxlmiG",
          "name": "Supabase account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook: Send Request": {
      "main": [
        [
          {
            "node": "Code: Get Suppliers by Category",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Get Suppliers by Category": {
      "main": [
        [
          {
            "node": "Code: Prepare Email Body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Prepare Email Body": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Prepare Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Supabase: Save Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase: Save Request": {
      "main": [
        [
          {
            "node": "Code: Prepare Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "7c30f285-5ae1-4ba0-a4a0-3e5459ffce93",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e053b61b8b3bdff69a323dc7c626e5598b37038308beed9b02f6dd362745fcdd"
  },
  "id": "P5cXiJ5gIvkniz6l",
  "tags": []
}