n8n-workflows/Send Supplier Request - Email v2.json
{
  "name": "Send Supplier Request - Email v2",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "send-supplier-request",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "7f7f6852-2a88-4c90-9eb2-ac10483902f9",
      "name": "Webhook: Send Request",
      "type": "n8n-nodes-base.webhook",
      "position": [
        0,
        0
      ],
      "typeVersion": 2,
      "webhookId": "cfb3e72b-3fd7-4b65-8f34-c7be819d0504"
    },
    {
      "parameters": {
        "jsCode": "// ========== ТЕСТОВЫЙ РЕЖИМ ==========\nconst TEST_MODE = true;  // true = тест на твою почту, false = боевой режим\nconst TEST_EMAIL = 'blackoutlamb@gmail.com, adm76@yandex.ru';\n// =====================================\n\n// =============================================================================\n// ПОСТАВЩИКИ ПО ТИПАМ МЕТАЛЛА (финальная таблица от заказчика, декабрь 2024)\n// Полный список из файла \"Поставщики_финал.xlsx\" - ПРОВЕРЕНО!\n// Обновлено: 23.12.2024 - добавлена категория ЗАВОДЫ (factories)\n// =============================================================================\nconst SUPPLIERS_BY_METAL = {\n  nn: {\n    \"Арматура А500С, А1, А240\": [\n      { name: 'АО \"ЕВРАЗ Маркет\"', email: 'Dmitriy.Frolov@evraz.com' },\n      { name: 'ООО \"МЕЧЕЛ-СЕРВИС\"', email: 'Tatyana.Matsyna@mechelservice.ru' },\n      { name: 'ООО \"Металлсервис\"', email: 'Lobaev.IE@mc.ru' },\n      { name: 'ООО \"УВМ-СТАЛЬ\"', email: 'elena.abramova@uvm-steel.ru' },\n      { name: 'ООО \"ТД Тула-Сталь\"', email: 'shishkin_vy@td.tula-steel.ru' },\n      { name: 'ЗАО \"ТФД \"Брок-Инвест-Сервис и К\"', email: 'borodina_oy@nnov.brokinvest.ru' },\n      { name: 'Металлкомплект-М', email: 'glukhova_m@mkm-metal.ru' },\n      { name: 'Металлкомплект-М', email: 'Saprykina_E@mkm-metal.ru' },\n      { name: 'СеверСталь', email: 'dv.popkov1@severstal.com' },\n      { name: 'СеверСталь', email: 'super.lubasha85@yandex.ru' },\n      { name: 'ООО \"ИнтерметГрупп\"', email: 'a.dudenkov@imgmet.ru' },\n      { name: 'Сталепромышленная компания', email: 'golets@spk.ru' },\n      { name: 'Сталепромышленная компания', email: '1036@mailspk.ru' },\n      { name: 'ММК Москва', email: 'goryunov.mv@tdmmk.ru' }\n    ],\n    \"Арматура 25Г2С\": [\n      { name: 'ООО \"МЕЧЕЛ-СЕРВИС\"', email: 'Tatyana.Matsyna@mechelservice.ru' },\n      { name: 'ООО \"Металлсервис\"', email: 'Lobaev.IE@mc.ru' },\n      { name: 'ММК Москва', email: 'goryunov.mv@tdmmk.ru' }\n    ],\n    \"Арматура АТ800\": [\n      { name: 'АО \"ЕВРАЗ Маркет\"', email: 'Dmitriy.Frolov@evraz.com' },\n      { name: 'Металлкомплект-М', email: 'glukhova_m@mkm-metal.ru' },\n      { name: 'Металлкомплект-М', email: 'Saprykina_E@mkm-metal.ru' },\n      { name: 'ООО \"Металлсервис\"', email: 'Lobaev.IE@mc.ru' },\n      { name: 'АО \"Металлоторг\"', email: 'user7@metallotorg.ru' }\n    ],\n    \"Балка\": [\n      { name: 'АО \"ЕВРАЗ Маркет\"', email: 'Dmitriy.Frolov@evraz.com' },\n      { name: 'ООО \"МЕЧЕЛ-СЕРВИС\"', email: 'Tatyana.Matsyna@mechelservice.ru' },\n      { name: 'ООО \"Металлсервис\"', email: 'Lobaev.IE@mc.ru' },\n      { name: 'ЗАО \"ТФД \"Брок-Инвест-Сервис и К\"', email: 'borodina_oy@nnov.brokinvest.ru' },\n      { name: 'Сталепромышленная компания', email: 'golets@spk.ru' },\n      { name: 'Сталепромышленная компания', email: '1036@mailspk.ru' },\n      { name: 'ООО Группа Компаний Демидов\"', email: 'zelenjii1981@mail.ru' },\n      { name: 'АО \"Металлоторг\"', email: 'user7@metallotorg.ru' }\n    ],\n    \"КРУГИ\": [\n      { name: 'ООО Группа Компаний Демидов\"', email: 'zelenjii1981@mail.ru' },\n      { name: 'ООО \"Металлсервис\"', email: 'Lobaev.IE@mc.ru' },\n      { name: 'ООО \"МЕЧЕЛ-СЕРВИС\"', email: 'Tatyana.Matsyna@mechelservice.ru' },\n      { name: 'Стальмаш', email: '4290177@mail.ru' },\n      { name: 'Сталепромышленная компания', email: 'golets@spk.ru' },\n      { name: 'Сталепромышленная компания', email: '1036@mailspk.ru' },\n      { name: 'Полюс А', email: 'super.ok2002@yandex.ru' },\n      { name: 'АО \"Металлоторг\"', email: 'user7@metallotorg.ru' }\n    ],\n    \"КВАДРАТ\": [\n      { name: 'ООО Группа Компаний Демидов\"', email: 'zelenjii1981@mail.ru' },\n      { name: 'ООО \"Металлсервис\"', email: 'Lobaev.IE@mc.ru' },\n      { name: 'ООО \"МЕЧЕЛ-СЕРВИС\"', email: 'Tatyana.Matsyna@mechelservice.ru' },\n      { name: 'Стальмаш', email: '4290177@mail.ru' },\n      { name: 'Сталепромышленная компания', email: 'golets@spk.ru' },\n      { name: 'Сталепромышленная компания', email: '1036@mailspk.ru' },\n      { name: 'Полюс А', email: 'super.ok2002@yandex.ru' },\n      { name: 'АО \"Металлоторг\"', email: 'user7@metallotorg.ru' },\n      { name: 'Трансметалл', email: 'ivis2004@yandex.ru' }\n    ],\n    \"Лист г/к\": [\n      { name: 'ООО \"Металлсервис\"', email: 'Lobaev.IE@mc.ru' },\n      { name: 'ООО \"А ГРУПП\"', email: 'DMTkachuk@agrupp.com' },\n      { name: 'АО \"ОМК МАРКЕТ\"', email: 'KALITINA_NA@omk.ru' },\n      { name: 'ООО Группа Компаний Демидов\"', email: 'zelenjii1981@mail.ru' },\n      { name: 'Трансметалл', email: 'ivis2004@yandex.ru' },\n      { name: 'Металлкомплект-М', email: 'glukhova_m@mkm-metal.ru' },\n      { name: 'Металлкомплект-М', email: 'Saprykina_E@mkm-metal.ru' },\n      { name: 'Сталепромышленная компания', email: 'golets@spk.ru' },\n      { name: 'Сталепромышленная компания', email: '1036@mailspk.ru' },\n      { name: 'ООО \"ИнтерметГрупп\"', email: 'a.dudenkov@imgmet.ru' },\n      { name: 'АО \"ЕВРАЗ Маркет\"', email: 'Dmitriy.Frolov@evraz.com' },\n      { name: 'СеверСталь', email: 'dv.popkov1@severstal.com' },\n      { name: 'СеверСталь', email: 'super.lubasha85@yandex.ru' },\n      { name: 'ЗАО \"ТФД \"Брок-Инвест-Сервис и К\"', email: 'borodina_oy@nnov.brokinvest.ru' },\n      { name: 'ООО \"МЕЧЕЛ-СЕРВИС\"', email: 'Tatyana.Matsyna@mechelservice.ru' },\n      { name: 'ММК Москва', email: 'goryunov.mv@tdmmk.ru' },\n      { name: 'АО \"Металлоторг\"', email: 'user7@metallotorg.ru' },\n      { name: 'ООО \"УВМ-СТАЛЬ\"', email: 'elena.abramova@uvm-steel.ru' }\n    ],\n    \"Листы х/к, оц,рулоны\": [\n      { name: 'ООО \"Металлсервис\"', email: 'Lobaev.IE@mc.ru' },\n      { name: 'ООО \"А ГРУПП\"', email: 'DMTkachuk@agrupp.com' },\n      { name: 'АО \"ОМК МАРКЕТ\"', email: 'KALITINA_NA@omk.ru' },\n      { name: 'ООО \"ИнтерметГрупп\"', email: 'a.dudenkov@imgmet.ru' },\n      { name: 'Металлкомплект-М', email: 'glukhova_m@mkm-metal.ru' },\n      { name: 'Металлкомплект-М', email: 'Saprykina_E@mkm-metal.ru' },\n      { name: 'Сталепромышленная компания', email: 'golets@spk.ru' },\n      { name: 'Сталепромышленная компания', email: '1036@mailspk.ru' },\n      { name: 'СеверСталь', email: 'dv.popkov1@severstal.com' },\n      { name: 'СеверСталь', email: 'super.lubasha85@yandex.ru' },\n      { name: 'ЗАО \"ТФД \"Брок-Инвест-Сервис и К\"', email: 'borodina_oy@nnov.brokinvest.ru' },\n      { name: 'ММК Москва', email: 'goryunov.mv@tdmmk.ru' },\n      { name: 'Новые промышленные технологии', email: 'info@zavod-npt.ru' }\n    ],\n    \"Листы продают кусками\": [\n      { name: 'НижегородМеталл', email: 'uva@nizhmet.ru' },\n      { name: 'Сталепромышленная компания', email: 'golets@spk.ru' },\n      { name: 'Сталепромышленная компания', email: '1036@mailspk.ru' },\n      { name: 'АО \"Металлоторг\"', email: 'user7@metallotorg.ru' },\n      { name: 'Полюс А', email: 'super.ok2002@yandex.ru' },\n      { name: 'ООО \"Металлсервис\"', email: 'Lobaev.IE@mc.ru' },\n      { name: 'Трансметалл', email: 'ivis2004@yandex.ru' },\n      { name: 'Метрайз', email: 'alvnn@mail.ru' },\n      { name: 'Квинтек', email: 'kvintek-nn@mail.ru' }\n    ],\n    \"Рулоны, резка рулонов\": [\n      { name: 'Новые промышленные технологии', email: 'info@zavod-npt.ru' },\n      { name: 'АБС Профиль', email: 'len27057@mail.ru' },\n      { name: 'ТД Металла', email: 'mtdsale@yandex.ru' },\n      { name: 'СтальКров', email: '9200530473@mail.ru' },\n      { name: 'Мир кровли', email: 'info@mirkrovly.org' },\n      { name: 'ГрандЛайн', email: '9601977343@grandline.ru' }\n    ],\n    \"Лист рифленый\": [\n      { name: 'ООО \"Металлсервис\"', email: 'Lobaev.IE@mc.ru' },\n      { name: 'ООО \"А ГРУПП\"', email: 'DMTkachuk@agrupp.com' },\n      { name: 'ООО Группа Компаний Демидов\"', email: 'zelenjii1981@mail.ru' },\n      { name: 'АО \"ОМК МАРКЕТ\"', email: 'KALITINA_NA@omk.ru' },\n      { name: 'Трансметалл', email: 'ivis2004@yandex.ru' },\n      { name: 'Металлкомплект-М', email: 'glukhova_m@mkm-metal.ru' },\n      { name: 'Металлкомплект-М', email: 'Saprykina_E@mkm-metal.ru' },\n      { name: 'Сталепромышленная компания', email: 'golets@spk.ru' },\n      { name: 'Сталепромышленная компания', email: '1036@mailspk.ru' },\n      { name: 'ООО \"ИнтерметГрупп\"', email: 'a.dudenkov@imgmet.ru' },\n      { name: 'АО \"ЕВРАЗ Маркет\"', email: 'Dmitriy.Frolov@evraz.com' },\n      { name: 'СеверСталь', email: 'dv.popkov1@severstal.com' },\n      { name: 'СеверСталь', email: 'super.lubasha85@yandex.ru' },\n      { name: 'ЗАО \"ТФД \"Брок-Инвест-Сервис и К\"', email: 'borodina_oy@nnov.brokinvest.ru' },\n      { name: 'ООО \"МЕЧЕЛ-СЕРВИС\"', email: 'Tatyana.Matsyna@mechelservice.ru' },\n      { name: 'ММК Москва', email: 'goryunov.mv@tdmmk.ru' },\n      { name: 'АО \"Металлоторг\"', email: 'user7@metallotorg.ru' },\n      { name: 'ООО \"УВМ-СТАЛЬ\"', email: 'elena.abramova@uvm-steel.ru' }\n    ],\n    \"ПВЛ\": [\n      { name: 'ООО \"Металлсервис\"', email: 'Lobaev.IE@mc.ru' },\n      { name: 'ООО Группа Компаний Демидов\"', email: 'zelenjii1981@mail.ru' },\n      { name: 'Трансметалл', email: 'ivis2004@yandex.ru' },\n      { name: 'Сталепромышленная компания', email: 'golets@spk.ru' },\n      { name: 'Сталепромышленная компания', email: '1036@mailspk.ru' },\n      { name: 'ЗАО \"ТФД \"Брок-Инвест-Сервис и К\"', email: 'borodina_oy@nnov.brokinvest.ru' },\n      { name: 'АО \"Металлоторг\"', email: 'user7@metallotorg.ru' }\n    ],\n    \"Профлист, штакетник\": [\n      { name: 'ТД Металла', email: 'mtdsale@yandex.ru' },\n      { name: 'СтальКров', email: '9200530473@mail.ru' },\n      { name: 'Мир кровли', email: 'info@mirkrovly.org' },\n      { name: 'ГрандЛайн', email: '9601977343@grandline.ru' },\n      { name: 'Металл-Профиль', email: 'parshina.mn@metallprofil.ru' },\n      { name: 'ООО \"Металлсервис\"', email: 'Lobaev.IE@mc.ru' }\n    ],\n    \"Полоса\": [\n      { name: 'ООО \"Металлсервис\"', email: 'Lobaev.IE@mc.ru' },\n      { name: 'АО \"ЕВРАЗ Маркет\"', email: 'Dmitriy.Frolov@evraz.com' },\n      { name: 'ООО \"МЕЧЕЛ-СЕРВИС\"', email: 'Tatyana.Matsyna@mechelservice.ru' },\n      { name: 'АО \"Металлоторг\"', email: 'user7@metallotorg.ru' },\n      { name: 'ЗАО \"ТФД \"Брок-Инвест-Сервис и К\"', email: 'borodina_oy@nnov.brokinvest.ru' },\n      { name: 'ООО Группа Компаний Демидов\"', email: 'zelenjii1981@mail.ru' },\n      { name: 'ООО \"А ГРУПП\"', email: 'DMTkachuk@agrupp.com' },\n      { name: 'Трансметалл', email: 'ivis2004@yandex.ru' },\n      { name: 'НижегородМеталл', email: 'uva@nizhmet.ru' }\n    ],\n    \"Полоса нарубленная\": [\n      { name: 'Сталепромышленная компания', email: 'golets@spk.ru' },\n      { name: 'Сталепромышленная компания', email: '1036@mailspk.ru' },\n      { name: 'НижегородМеталл', email: 'uva@nizhmet.ru' },\n      { name: 'Квинтек', email: 'kvintek-nn@mail.ru' }\n    ],\n    \"Рубка плазма, гильотина\": [\n      { name: 'Сталепромышленная компания', email: 'golets@spk.ru' },\n      { name: 'Сталепромышленная компания', email: '1036@mailspk.ru' },\n      { name: 'Квинтек', email: 'kvintek-nn@mail.ru' },\n      { name: 'АО \"ЕВРАЗ Маркет\"', email: 'Dmitriy.Frolov@evraz.com' },\n      { name: 'АБС Профиль', email: 'len27057@mail.ru' }\n    ],\n    \"Проволока\": [\n      { name: 'ООО \"Металлсервис\"', email: 'Lobaev.IE@mc.ru' },\n      { name: 'Нижегородская Метизная компания', email: 'iasmirnov@mtk-fortuna.ru' },\n      { name: 'НижегородМеталл', email: 'uva@nizhmet.ru' },\n      { name: 'ООО \"МЕЧЕЛ-СЕРВИС\"', email: 'Tatyana.Matsyna@mechelservice.ru' },\n      { name: 'ООО \"А ГРУПП\"', email: 'DMTkachuk@agrupp.com' },\n      { name: 'АО \"Металлоторг\"', email: 'user7@metallotorg.ru' },\n      { name: 'ООО \"УВМ-СТАЛЬ\"', email: 'elena.abramova@uvm-steel.ru' },\n      { name: 'ЗАО \"ТФД \"Брок-Инвест-Сервис и К\"', email: 'borodina_oy@nnov.brokinvest.ru' },\n      { name: 'АО \"ЕВРАЗ Маркет\"', email: 'Dmitriy.Frolov@evraz.com' }\n    ],\n    \"Рельс\": [\n      { name: 'АО \"ЕВРАЗ Маркет\"', email: 'Dmitriy.Frolov@evraz.com' },\n      { name: 'РемстройПуть', email: 'm-mara1@ya.ru' }\n    ],\n    \"Сетка\": [\n      { name: 'СтройСетка', email: 'stroisetka_nn@inbox.ru' },\n      { name: 'НижегородМеталл', email: 'uva@nizhmet.ru' },\n      { name: 'ООО Группа Компаний Демидов\"', email: 'zelenjii1981@mail.ru' },\n      { name: 'ООО \"АСК\"', email: 'ask.setka@yandex.ru' }\n    ],\n    \"Сэндвич-Панели\": [\n      { name: 'ЗЛК Декор', email: 'info@dekor-bor.ru' },\n      { name: 'Главк', email: 'ak@del-k.ru' }\n    ],\n    \"Трубы ВГП, оц, круглые э/с\": [\n      { name: 'ООО \"Металлсервис\"', email: 'Lobaev.IE@mc.ru' },\n      { name: 'ООО \"А ГРУПП\"', email: 'DMTkachuk@agrupp.com' },\n      { name: 'МеталлСервис-НН', email: 'rabota_en@mail.ru' },\n      { name: 'АО \"ОМК МАРКЕТ\"', email: 'KALITINA_NA@omk.ru' },\n      { name: 'ООО Группа Компаний Демидов\"', email: 'zelenjii1981@mail.ru' },\n      { name: 'Трансметалл', email: 'ivis2004@yandex.ru' },\n      { name: 'Металлкомплект-М', email: 'glukhova_m@mkm-metal.ru' },\n      { name: 'Металлкомплект-М', email: 'Saprykina_E@mkm-metal.ru' },\n      { name: 'Гросс', email: 'grossn@mail.ru' },\n      { name: 'Сталепромышленная компания', email: 'golets@spk.ru' },\n      { name: 'Сталепромышленная компания', email: '1036@mailspk.ru' },\n      { name: 'ООО \"ИнтерметГрупп\"', email: 'a.dudenkov@imgmet.ru' },\n      { name: 'ЗАО \"ТФД \"Брок-Инвест-Сервис и К\"', email: 'borodina_oy@nnov.brokinvest.ru' },\n      { name: 'Айрон', email: 'elenaivanovs93@gmail.com' },\n      { name: 'Айрон', email: 'ivanova.irongroup@yandex.ru' },\n      { name: 'АО \"Металлоторг\"', email: 'user7@metallotorg.ru' },\n      { name: 'Борский ТЗ', email: 'tnp@bortrub.ru' }\n    ],\n    \"Трубы б/ш\": [\n      { name: 'ООО \"Металлсервис\"', email: 'Lobaev.IE@mc.ru' },\n      { name: 'ТД ТМК', email: 'aleksandr.akishkin@tmk-group.com' },\n      { name: 'Гросс', email: 'grossn@mail.ru' },\n      { name: 'АО \"Металлоторг\"', email: 'user7@metallotorg.ru' },\n      { name: 'Метрайз', email: 'alvnn@mail.ru' }\n    ],\n    \"Трубы проф, б/ш и э/с кусками\": [\n      { name: 'Метрайз', email: 'alvnn@mail.ru' },\n      { name: 'Трансметалл', email: 'ivis2004@yandex.ru' },\n      { name: 'Полюс А', email: 'super.ok2002@yandex.ru' },\n      { name: 'Аксмет', email: 'aksmet52@ya.ru' }\n    ],\n    \"Труба профильная\": [\n      { name: 'АБС Профиль', email: 'len27057@mail.ru' },\n      { name: 'Металлопрокат-НН', email: 'sales@mpt-nn.ru' },\n      { name: 'Мир кровли', email: 'info@mirkrovly.org' },\n      { name: 'Гросс', email: 'grossn@mail.ru' },\n      { name: 'Борский трубный завод', email: 'tnp@bortrub.ru' },\n      { name: 'СеверСталь', email: 'dv.popkov1@severstal.com' },\n      { name: 'СеверСталь', email: 'super.lubasha85@yandex.ru' },\n      { name: 'ООО \"ИнтерметГрупп\"', email: 'a.dudenkov@imgmet.ru' },\n      { name: 'Сталепромышленная компания', email: 'golets@spk.ru' },\n      { name: 'Сталепромышленная компания', email: '1036@mailspk.ru' },\n      { name: 'Трансметалл', email: 'ivis2004@yandex.ru' },\n      { name: 'ООО \"Металлсервис\"', email: 'Lobaev.IE@mc.ru' },\n      { name: 'ООО Группа Компаний Демидов\"', email: 'zelenjii1981@mail.ru' },\n      { name: 'ЗАО \"ТФД \"Брок-Инвест-Сервис и К\"', email: 'borodina_oy@nnov.brokinvest.ru' },\n      { name: 'АО \"ЕВРАЗ Маркет\"', email: 'Dmitriy.Frolov@evraz.com' },\n      { name: 'АО \"ОМК МАРКЕТ\"', email: 'KALITINA_NA@omk.ru' },\n      { name: 'ООО \"А ГРУПП\"', email: 'DMTkachuk@agrupp.com' }\n    ],\n    \"Уголок\": [\n      { name: 'ЗАО \"ТФД \"Брок-Инвест-Сервис и К\"', email: 'borodina_oy@nnov.brokinvest.ru' },\n      { name: 'АО \"ЕВРАЗ Маркет\"', email: 'Dmitriy.Frolov@evraz.com' },\n      { name: 'Металлкомплект-М', email: 'glukhova_m@mkm-metal.ru' },\n      { name: 'Металлкомплект-М', email: 'Saprykina_E@mkm-metal.ru' },\n      { name: 'ООО \"Металлсервис\"', email: 'Lobaev.IE@mc.ru' },\n      { name: 'ООО \"МЕЧЕЛ-СЕРВИС\"', email: 'Tatyana.Matsyna@mechelservice.ru' },\n      { name: 'ООО \"А ГРУПП\"', email: 'DMTkachuk@agrupp.com' },\n      { name: 'ООО Группа Компаний Демидов\"', email: 'zelenjii1981@mail.ru' },\n      { name: 'АО \"ОМК МАРКЕТ\"', email: 'KALITINA_NA@omk.ru' },\n      { name: 'Сталепромышленная компания', email: 'golets@spk.ru' },\n      { name: 'Сталепромышленная компания', email: '1036@mailspk.ru' },\n      { name: 'ООО \"ИнтерметГрупп\"', email: 'a.dudenkov@imgmet.ru' },\n      { name: 'СеверСталь', email: 'dv.popkov1@severstal.com' },\n      { name: 'СеверСталь', email: 'super.lubasha85@yandex.ru' },\n      { name: 'ММК Москва', email: 'goryunov.mv@tdmmk.ru' },\n      { name: 'АО \"Металлоторг\"', email: 'user7@metallotorg.ru' },\n      { name: 'ООО \"УВМ-СТАЛЬ\"', email: 'elena.abramova@uvm-steel.ru' },\n      { name: 'Трансметалл', email: 'ivis2004@yandex.ru' }\n    ],\n    \"Швеллер\": [\n      { name: 'ЗАО \"ТФД \"Брок-Инвест-Сервис и К\"', email: 'borodina_oy@nnov.brokinvest.ru' },\n      { name: 'АО \"ЕВРАЗ Маркет\"', email: 'Dmitriy.Frolov@evraz.com' },\n      { name: 'Металлкомплект-М', email: 'glukhova_m@mkm-metal.ru' },\n      { name: 'Металлкомплект-М', email: 'Saprykina_E@mkm-metal.ru' },\n      { name: 'ООО \"Металлсервис\"', email: 'Lobaev.IE@mc.ru' },\n      { name: 'ООО \"МЕЧЕЛ-СЕРВИС\"', email: 'Tatyana.Matsyna@mechelservice.ru' },\n      { name: 'ООО \"А ГРУПП\"', email: 'DMTkachuk@agrupp.com' },\n      { name: 'ООО Группа Компаний Демидов\"', email: 'zelenjii1981@mail.ru' },\n      { name: 'АО \"ОМК МАРКЕТ\"', email: 'KALITINA_NA@omk.ru' },\n      { name: 'Сталепромышленная компания', email: 'golets@spk.ru' },\n      { name: 'Сталепромышленная компания', email: '1036@mailspk.ru' },\n      { name: 'ООО \"ИнтерметГрупп\"', email: 'a.dudenkov@imgmet.ru' },\n      { name: 'СеверСталь', email: 'dv.popkov1@severstal.com' },\n      { name: 'СеверСталь', email: 'super.lubasha85@yandex.ru' },\n      { name: 'ММК Москва', email: 'goryunov.mv@tdmmk.ru' },\n      { name: 'АО \"Металлоторг\"', email: 'user7@metallotorg.ru' },\n      { name: 'ООО \"УВМ-СТАЛЬ\"', email: 'elena.abramova@uvm-steel.ru' },\n      { name: 'Трансметалл', email: 'ivis2004@yandex.ru' }\n    ],\n    \"Швеллер гнутый\": [\n      { name: 'ООО \"Металлсервис\"', email: 'Lobaev.IE@mc.ru' },\n      { name: 'ООО Группа Компаний Демидов\"', email: 'zelenjii1981@mail.ru' },\n      { name: 'Трансметалл', email: 'ivis2004@yandex.ru' },\n      { name: 'Сталепромышленная компания', email: 'golets@spk.ru' },\n      { name: 'Сталепромышленная компания', email: '1036@mailspk.ru' },\n      { name: 'ЗАО \"ТФД \"Брок-Инвест-Сервис и К\"', email: 'borodina_oy@nnov.brokinvest.ru' },\n      { name: 'АО \"Металлоторг\"', email: 'user7@metallotorg.ru' }\n    ],\n    \"Шпунт\": [\n      { name: 'АО \"ЕВРАЗ Маркет\"', email: 'Dmitriy.Frolov@evraz.com' }\n    ],\n    \"Шток\": [\n      { name: 'ООО ПТК \"КРПМС\"', email: 'mail@krpms.ru' }\n    ],\n    \"Нержавейка\": [\n      { name: 'ООО \"Металлсервис\"', email: 'Lobaev.IE@mc.ru' },\n      { name: 'УТК Сталь', email: 'titareva@utk-steel.ru' },\n      { name: 'Специальные Стали и сплавы', email: 'nazarova@russteels.ru' },\n      { name: 'КросМет', email: 'krosmet1@yandex.ru' },\n      { name: 'ИноксТрейд', email: 'aplatonov@arielinox.ru' },\n      { name: 'Орринокс', email: 'kuzenkova@orinnox.ru' },\n      { name: 'Металл М', email: 'rop2@ss-r.ru' }\n    ],\n    \"ЦветМет\": [\n      { name: 'КросМет', email: 'krosmet1@yandex.ru' },\n      { name: 'Техпромресурс', email: 'SALE10@TPRNN.RU' },\n      { name: 'ПромАлюминий', email: 'promalnn@mail.ru' },\n      { name: 'ООО \"Металлсервис\"', email: 'Lobaev.IE@mc.ru' },\n      { name: 'Фолкон', email: 'zakaz@folkon.ru' },\n      { name: 'Металл М', email: 'rop2@ss-r.ru' }\n    ],\n    \"Госрезерв\": [\n      { name: 'Полюс А', email: 'super.ok2002@yandex.ru' },\n      { name: 'МетСнаб', email: 'metsnabgroup@metsnabgroup.ru' }\n    ],\n    \"Трубы б/у\": [\n      { name: 'Метрайз', email: 'alvnn@mail.ru' },\n      { name: 'ТЗК-НН', email: 'perlitnn@mail.ru' },\n      { name: 'Аксмет', email: 'aksmet52@ya.ru' }\n    ],\n    \"Трубопроводная Арматура\": [\n      { name: 'ИП Коновалов, Комплект НН', email: 'teplo2004nn@bk.ru' },\n      { name: 'Сантехкомплект', email: 'info-nn@santech.ru' },\n      { name: 'Проконсим', email: 'o.tadeushuk@proconsim.ru' },\n      { name: 'Эльф', email: 'nnov@elf-region.ru' }\n    ],\n    \"Анкера, Метизы: Болты, Гайки, Шайбы и пр.\": [\n      { name: 'Нижегородская Метизная компания', email: 'iasmirnov@mtk-fortuna.ru' },\n      { name: '1001 КРЕПЕЖ', email: 'm10@1001krep.ru' },\n      { name: 'Машкрепеж', email: 'mashkrep-nn@mail.ru' },\n      { name: 'ИП Коновалов, Комплект НН', email: 'teplo2004nn@bk.ru' }\n    ],\n    \"Шестигранник\": [\n      { name: 'ООО \"Металлсервис\"', email: 'Lobaev.IE@mc.ru' },\n      { name: 'Стальмаш', email: '4290177@mail.ru' },\n      { name: 'АО \"ЕВРАЗ Маркет\"', email: 'Dmitriy.Frolov@evraz.com' }\n    ],\n    \"Плоскоовальная труба\": [\n      { name: 'ООО Группа Компаний Демидов\"', email: 'zelenjii1981@mail.ru' },\n      { name: 'АБС Профиль', email: 'len27057@mail.ru' }\n    ],\n    \"Труба ПНД\": [\n      { name: 'Сантехкомплект', email: 'info-nn@santech.ru' },\n      { name: 'ИП Коновалов, Комплект НН', email: 'teplo2004nn@bk.ru' },\n      { name: 'Проконсим', email: 'o.tadeushuk@proconsim.ru' }\n    ],\n    \"Канат\": [\n      { name: 'ООО \"МЕЧЕЛ-СЕРВИС\"', email: 'Tatyana.Matsyna@mechelservice.ru' },\n      { name: 'ООО \"Металлсервис\"', email: 'Lobaev.IE@mc.ru' }\n    ]\n  },\n\n  // =========================================================================\n  // МОСКВА И РЕГИОНЫ\n  // =========================================================================\n  moscow: {\n    \"Арматура А500С, А1, А240\": [\n      { name: 'АО \"ЕВРАЗ Маркет\"', email: 'Oksana.Startseva@evraz.com' },\n      { name: 'ООО \"МЕЧЕЛ-СЕРВИС\"', email: 'Elena.Gryaznova@mechelservice.ru' },\n      { name: 'ООО \"Металлсервис-Москва\"', email: 'Lobaev.IE@mc.ru' },\n      { name: 'ООО \"УВМ-СТАЛЬ\"', email: 'elena.abramova@uvm-steel.ru' },\n      { name: 'ООО \"ПКФ \"ДиПОС\"', email: 'anisimova@dipos.ru' },\n      { name: 'ООО \"ТК Стальинтекс Трейд\"', email: 'help@stalintex.ru' },\n      { name: 'АО \"Металлоторг\"', email: 'user7@metallotorg.ru' },\n      { name: 'Русметпром', email: 'ulanova.e@rusmetprom.ru' },\n      { name: 'ММК Москва', email: 'Momot.IN@mmk.ru' },\n      { name: 'ООО \"Королевский трубный завод\"', email: 'skiba.v@ktzholding.ru' },\n      { name: 'СеверСталь', email: 'super.lubasha85@yandex.ru' },\n      { name: 'СеверСталь', email: 'sa.kolobov@severstal.com' },\n      { name: 'ЗАО \"ТФД \"Брок-Инвест-Сервис и К\"', email: 'borodina_oy@nnov.brokinvest.ru' },\n      { name: 'Абинский электрометаллургический завод', email: 'priemnaya@abinmetall.ru' },\n      { name: 'Тэмпо', email: 'nikiforov.m.r@kmk-tempo.ru' }\n    ],\n    \"Арматура 25Г2С, АТ800\": [\n      { name: 'ООО \"Металлсервис-Москва\"', email: 'Lobaev.IE@mc.ru' },\n      { name: 'ООО \"ПКФ \"ДиПОС\"', email: 'anisimova@dipos.ru' },\n      { name: 'АО \"ЕВРАЗ Маркет\"', email: 'Oksana.Startseva@evraz.com' },\n      { name: 'ООО \"МЕЧЕЛ-СЕРВИС\"', email: 'Elena.Gryaznova@mechelservice.ru' },\n      { name: 'АО \"Металлоторг\"', email: 'user7@metallotorg.ru' },\n      { name: 'Абинский электрометаллургический завод', email: 'priemnaya@abinmetall.ru' },\n      { name: 'Тэмпо', email: 'nikiforov.m.r@kmk-tempo.ru' }\n    ],\n    \"Балка\": [\n      { name: 'АО \"ЕВРАЗ Маркет\"', email: 'Oksana.Startseva@evraz.com' },\n      { name: 'ООО \"МЕЧЕЛ-СЕРВИС\"', email: 'Elena.Gryaznova@mechelservice.ru' },\n      { name: 'ООО \"Металлсервис-Москва\"', email: 'Lobaev.IE@mc.ru' },\n      { name: 'ЗАО \"ТФД \"Брок-Инвест-Сервис и К\"', email: 'borodina_oy@nnov.brokinvest.ru' },\n      { name: 'ООО \"ПКФ \"ДиПОС\"', email: 'anisimova@dipos.ru' },\n      { name: 'ООО \"ТК Стальинтекс Трейд\"', email: 'help@stalintex.ru' },\n      { name: 'АО \"Металлоторг\"', email: 'user7@metallotorg.ru' },\n      { name: 'АО \"ОМК МАРКЕТ\"', email: 'KALITINA_NA@omk.ru' },\n      { name: 'ООО \"Королевский трубный завод\"', email: 'skiba.v@ktzholding.ru' },\n      { name: 'ООО Группа Компаний Демидов\"', email: 'zelenjii1981@mail.ru' }\n    ],\n    \"Круги, квадраты\": [\n      { name: 'ООО \"Металлсервис-Москва\"', email: 'Lobaev.IE@mc.ru' },\n      { name: 'ООО \"ПКФ \"ДиПОС\"', email: 'anisimova@dipos.ru' },\n      { name: 'АО \"Металлоторг\"', email: 'user7@metallotorg.ru' },\n      { name: 'ООО \"МЕЧЕЛ-СЕРВИС\"', email: 'Elena.Gryaznova@mechelservice.ru' },\n      { name: 'ООО Группа Компаний Демидов\"', email: 'zelenjii1981@mail.ru' },\n      { name: 'Арес-П', email: 'info@ares-p.com' },\n      { name: 'ООО ПГ \"БФ БАЛТИК\"', email: 'info@bfbaltic.com' }\n    ],\n    \"Лист г/к, ПВЛ, листы рефленые\": [\n      { name: 'ООО \"А ГРУПП\"', email: 'empavlenko@agrupp.com' },\n      { name: 'ООО \"Металлсервис-Москва\"', email: 'Lobaev.IE@mc.ru' },\n      { name: 'АО \"ЕВРАЗ Маркет\"', email: 'Oksana.Startseva@evraz.com' },\n      { name: 'ЗАО \"ТФД \"Брок-Инвест-Сервис и К\"', email: 'borodina_oy@nnov.brokinvest.ru' },\n      { name: 'ООО \"ТД \"Ареал\"', email: 'elena@areal.msk.ru' },\n      { name: 'ООО \"ПКФ \"ДиПОС\"', email: 'anisimova@dipos.ru' },\n      { name: 'ООО \"ТК Стальинтекс Трейд\"', email: 'help@stalintex.ru' },\n      { name: 'ООО \"Королевский трубный завод\"', email: 'skiba.v@ktzholding.ru' },\n      { name: 'Русметпром', email: 'ulanova.e@rusmetprom.ru' },\n      { name: 'ООО \"МЕЧЕЛ-СЕРВИС\"', email: 'Elena.Gryaznova@mechelservice.ru' },\n      { name: 'АО \"Металлоторг\"', email: 'user7@metallotorg.ru' },\n      { name: 'СеверСталь', email: 'super.lubasha85@yandex.ru' },\n      { name: 'СеверСталь', email: 'sa.kolobov@severstal.com' },\n      { name: 'АО \"ОМК МАРКЕТ\"', email: 'KALITINA_NA@omk.ru' },\n      { name: 'Амет', email: 'sergey.karpov@amet-invest.ru' },\n      { name: 'Омега', email: 'roma@omegametall.ru' },\n      { name: 'ООО \"ИнтерметГрупп\"', email: 'a.dudenkov@imgmet.ru' },\n      { name: 'ММК Москва', email: 'Momot.IN@mmk.ru' }\n    ],\n    \"Листы продают кусками\": [\n      { name: 'ЗАО \"ТФД \"Брок-Инвест-Сервис и К\"', email: 'borodina_oy@nnov.brokinvest.ru' },\n      { name: 'ООО \"ТК Стальинтекс Трейд\"', email: 'help@stalintex.ru' },\n      { name: 'ООО \"ТД \"Ареал\"', email: 'elena@areal.msk.ru' },\n      { name: 'АО \"Металлоторг\"', email: 'user7@metallotorg.ru' }\n    ],\n    \"Листы х/к, оц,рулоны\": [\n      { name: 'ООО \"Металлсервис-Москва\"', email: 'Lobaev.IE@mc.ru' },\n      { name: 'ООО \"ПКФ \"ДиПОС\"', email: 'anisimova@dipos.ru' },\n      { name: 'ООО \"А ГРУПП\"', email: 'empavlenko@agrupp.com' },\n      { name: 'ООО \"ТК Стальинтекс Трейд\"', email: 'help@stalintex.ru' },\n      { name: 'ММК Москва', email: 'Momot.IN@mmk.ru' },\n      { name: 'ЗАО \"ТФД \"Брок-Инвест-Сервис и К\"', email: 'borodina_oy@nnov.brokinvest.ru' },\n      { name: 'ООО \"Королевский трубный завод\"', email: 'skiba.v@ktzholding.ru' },\n      { name: 'ООО \"НТПЗ\"', email: 'vsv@ntpz.ru' },\n      { name: 'АО \"Металлоторг\"', email: 'user7@metallotorg.ru' },\n      { name: 'СеверСталь', email: 'super.lubasha85@yandex.ru' },\n      { name: 'СеверСталь', email: 'sa.kolobov@severstal.com' },\n      { name: 'Русметпром', email: 'ulanova.e@rusmetprom.ru' },\n      { name: 'ООО \"ИнтерметГрупп\"', email: 'a.dudenkov@imgmet.ru' },\n      { name: 'ООО \"ТД \"Ареал\"', email: 'elena@areal.msk.ru' },\n      { name: 'Пушкинский завод металла', email: 'info@p-z-m.ru' },\n      { name: 'Ласар', email: 'sales@lasar.ru' }\n    ],\n    \"Рулоны, резка рулонов\": [\n      { name: 'ООО \"ПКФ \"ДиПОС\"', email: 'anisimova@dipos.ru' },\n      { name: 'ООО \"ТД \"Ареал\"', email: 'elena@areal.msk.ru' },\n      { name: 'Пушкинский завод металла', email: 'info@p-z-m.ru' },\n      { name: 'Ласар', email: 'sales@lasar.ru' }\n    ],\n    \"Профлист, штакетник\": [\n      { name: 'ООО \"ПКФ \"ДиПОС\"', email: 'anisimova@dipos.ru' },\n      { name: 'Стальные конструкции', email: 'sr3@proflist.ru' }\n    ],\n    \"Полоса\": [\n      { name: 'ООО \"Металлсервис-Москва\"', email: 'Lobaev.IE@mc.ru' },\n      { name: 'ООО \"ПКФ \"ДиПОС\"', email: 'anisimova@dipos.ru' },\n      { name: 'ООО \"ТК Стальинтекс Трейд\"', email: 'help@stalintex.ru' },\n      { name: 'АО \"Металлоторг\"', email: 'user7@metallotorg.ru' }\n    ],\n    \"Полоса нарубленная\": [\n      { name: 'ООО \"ПКФ \"ДиПОС\"', email: 'anisimova@dipos.ru' },\n      { name: 'ООО \"ТК Стальинтекс Трейд\"', email: 'help@stalintex.ru' }\n    ],\n    \"Рубка плазма, гильотина\": [\n      { name: 'АО \"ЕВРАЗ Маркет\"', email: 'Oksana.Startseva@evraz.com' },\n      { name: 'ЗАО \"ТФД \"Брок-Инвест-Сервис и К\"', email: 'borodina_oy@nnov.brokinvest.ru' },\n      { name: 'ООО \"ПКФ \"ДиПОС\"', email: 'anisimova@dipos.ru' },\n      { name: 'ООО \"ТК Стальинтекс Трейд\"', email: 'help@stalintex.ru' }\n    ],\n    \"Проволока\": [\n      { name: 'ООО \"Металлсервис-Москва\"', email: 'Lobaev.IE@mc.ru' },\n      { name: 'ООО \"А ГРУПП\"', email: 'empavlenko@agrupp.com' },\n      { name: 'ООО \"ПКФ \"ДиПОС\"', email: 'anisimova@dipos.ru' },\n      { name: 'ООО \"МЕЧЕЛ-СЕРВИС\"', email: 'Elena.Gryaznova@mechelservice.ru' }\n    ],\n    \"Рельс\": [\n      { name: 'АО \"ЕВРАЗ Маркет\"', email: 'Oksana.Startseva@evraz.com' }\n    ],\n    \"Трубы ВГП, оц, круглые э/с, профильные\": [\n      { name: 'ООО \"Металлсервис-Москва\"', email: 'Lobaev.IE@mc.ru' },\n      { name: 'ООО \"ПКФ \"ДиПОС\"', email: 'anisimova@dipos.ru' },\n      { name: 'Промстройметалл', email: 'NLZ@MKPSM.RU' },\n      { name: 'Промстройметалл', email: 'eap@mkpsm.ru' },\n      { name: 'ООО \"А ГРУПП\"', email: 'empavlenko@agrupp.com' },\n      { name: 'ООО \"ТК Стальинтекс Трейд\"', email: 'help@stalintex.ru' },\n      { name: 'ЗАО \"ТФД \"Брок-Инвест-Сервис и К\"', email: 'borodina_oy@nnov.brokinvest.ru' },\n      { name: 'АО \"Металлоторг\"', email: 'user7@metallotorg.ru' },\n      { name: 'ООО Группа Компаний Демидов\"', email: 'zelenjii1981@mail.ru' },\n      { name: 'ООО \"Королевский трубный завод\"', email: 'skiba.v@ktzholding.ru' },\n      { name: 'ООО \"НТПЗ\"', email: 'vsv@ntpz.ru' },\n      { name: 'СеверСталь', email: 'super.lubasha85@yandex.ru' },\n      { name: 'СеверСталь', email: 'sa.kolobov@severstal.com' },\n      { name: 'АО \"ОМК МАРКЕТ\"', email: 'KALITINA_NA@omk.ru' },\n      { name: 'Кольчугинский трубный завод', email: 'ds.okishev@tagil-steel.ru' },\n      { name: 'Русметпром', email: 'ulanova.e@rusmetprom.ru' },\n      { name: 'Блок', email: 'v.d@block-metal.ru' },\n      { name: 'ООО \"ИнтерметГрупп\"', email: 'a.dudenkov@imgmet.ru' }\n    ],\n    \"Труба б/ш\": [\n      { name: 'ООО \"Металлсервис-Москва\"', email: 'Lobaev.IE@mc.ru' },\n      { name: 'Промстройметалл', email: 'NLZ@MKPSM.RU' },\n      { name: 'Промстройметалл', email: 'eap@mkpsm.ru' },\n      { name: 'ООО \"А ГРУПП\"', email: 'empavlenko@agrupp.com' },\n      { name: 'АО \"Металлоторг\"', email: 'user7@metallotorg.ru' },\n      { name: 'Миратех', email: 'korobkov_vs@npk-miratech.ru' },\n      { name: 'ТД ТМК', email: 'aleksandr.akishkin@tmk-group.com' }\n    ],\n    \"Уголок, Швеллер\": [\n      { name: 'ООО \"Металлсервис-Москва\"', email: 'Lobaev.IE@mc.ru' },\n      { name: 'ООО \"ПКФ \"ДиПОС\"', email: 'anisimova@dipos.ru' },\n      { name: 'ООО \"А ГРУПП\"', email: 'empavlenko@agrupp.com' },\n      { name: 'ООО \"ТК Стальинтекс Трейд\"', email: 'help@stalintex.ru' },\n      { name: 'ММК Москва', email: 'Momot.IN@mmk.ru' },\n      { name: 'ЗАО \"ТФД \"Брок-Инвест-Сервис и К\"', email: 'borodina_oy@nnov.brokinvest.ru' },\n      { name: 'АО \"ЕВРАЗ Маркет\"', email: 'Oksana.Startseva@evraz.com' },\n      { name: 'ООО \"МЕЧЕЛ-СЕРВИС\"', email: 'Elena.Gryaznova@mechelservice.ru' },\n      { name: 'ООО Группа Компаний Демидов\"', email: 'zelenjii1981@mail.ru' },\n      { name: 'ООО \"Королевский трубный завод\"', email: 'skiba.v@ktzholding.ru' },\n      { name: 'АО \"ОМК МАРКЕТ\"', email: 'KALITINA_NA@omk.ru' },\n      { name: 'ООО \"УВМ-СТАЛЬ\"', email: 'elena.abramova@uvm-steel.ru' },\n      { name: 'Русметпром', email: 'ulanova.e@rusmetprom.ru' },\n      { name: 'ООО \"ИнтерметГрупп\"', email: 'a.dudenkov@imgmet.ru' }\n    ],\n    \"Швеллер гнутый\": [\n      { name: 'ООО \"Металлсервис-Москва\"', email: 'Lobaev.IE@mc.ru' },\n      { name: 'ООО \"ПКФ \"ДиПОС\"', email: 'anisimova@dipos.ru' },\n      { name: 'ЗАО \"ТФД \"Брок-Инвест-Сервис и К\"', email: 'borodina_oy@nnov.brokinvest.ru' },\n      { name: 'АО \"Металлоторг\"', email: 'user7@metallotorg.ru' }\n    ],\n    \"Нержавейка\": [\n      { name: 'ООО \"Металлсервис-Москва\"', email: 'Lobaev.IE@mc.ru' },\n      { name: 'Специальные Стали и сплавы', email: 'nazarova@russteels.ru' },\n      { name: 'КросМет', email: 'krosmet1@yandex.ru' },\n      { name: 'Нержавейка.ру', email: 'info+423518@nerzhaveyka.ru' },\n      { name: 'Мерчегалия', email: 'anastasiya.galitsina@marcegaglia.com' },\n      { name: 'Салют', email: 'salut@coba.ru' },\n      { name: 'Континенталь', email: 'msk@kontinental.ru' },\n      { name: 'ГлобусСталь', email: 'zakaz@globus-stal.ru' },\n      { name: 'ГлобусСталь', email: 'truba@globus-stal.ru' },\n      { name: 'ООО \"МЕЧЕЛ-СЕРВИС\"', email: 'Elena.Gryaznova@mechelservice.ru' }\n    ],\n    \"Цветмет\": [\n      { name: 'КросМет', email: 'krosmet1@yandex.ru' },\n      { name: 'ООО \"ПКФ \"ДиПОС\"', email: 'anisimova@dipos.ru' },\n      { name: 'ООО \"ТК Стальинтекс Трейд\"', email: 'help@stalintex.ru' },\n      { name: 'Галактика', email: 'chas@galakmet.ru' },\n      { name: 'ООО \"Металлсервис-Москва\"', email: 'Lobaev.IE@mc.ru' },\n      { name: 'Техпромресурс', email: 'SALE10@TPRNN.RU' },\n      { name: 'промцветмет', email: 'pcm@pcmet.ru' },\n      { name: 'Татпроф', email: 'emn@tatprof.ru' },\n      { name: 'Алунекст', email: 'kte@alunext.ru' },\n      { name: 'Лист', email: 'ak@listmet.ru' },\n      { name: 'Лист', email: 'list@listmet.ru' }\n    ],\n    \"Трубопроводная арматура\": [\n      { name: 'Сантехкомплект', email: 'info-nn@santech.ru' },\n      { name: 'ДН.ру', email: '161@dn.ru' },\n      { name: 'Лунда', email: 'olru@lunda.ru' }\n    ],\n    \"Труба овал. оц.\": [\n      { name: 'Новорязанский трубный завод', email: 'td-rtz@ferost.ru' }\n    ],\n    \"Канат, Анкера\": [\n      { name: '1001 КРЕПЕЖ', email: 'm10@1001krep.ru' }\n    ]\n  },\n\n  // =========================================================================\n  // ЗАВОДЫ (FACTORIES) - Добавлено 23.12.2024\n  // =========================================================================\n  factories: {\n    \"Арматура А500С, А1, А240\": [\n      { name: 'ООО \"Королевский трубный завод\"', email: 'skiba.v@ktzholding.ru' },\n      { name: 'Абинский электрометаллургический завод', email: 'priemnaya@abinmetall.ru' }\n    ],\n    \"Арматура 25Г2С, АТ800\": [\n      { name: 'Абинский электрометаллургический завод', email: 'priemnaya@abinmetall.ru' }\n    ],\n    \"Балка\": [\n      { name: 'ООО \"Королевский трубный завод\"', email: 'skiba.v@ktzholding.ru' }\n    ],\n    \"Лист г/к, ПВЛ, листы рифленые\": [\n      { name: 'ООО \"Королевский трубный завод\"', email: 'skiba.v@ktzholding.ru' }\n    ],\n    \"Листы х/к, оц, рулоны\": [\n      { name: 'ООО \"Королевский трубный завод\"', email: 'skiba.v@ktzholding.ru' },\n      { name: 'Пушкинский завод металла', email: 'info@p-z-m.ru' }\n    ],\n    \"Рулоны, резка рулонов\": [\n      { name: 'Пушкинский завод металла', email: 'info@p-z-m.ru' }\n    ],\n    \"Труба профильная\": [\n      { name: 'Борский трубный завод', email: 'tnp@bortrub.ru' }\n    ],\n    \"Трубы ВГП, оц, круглые э/с, профильные\": [\n      { name: 'ООО \"Королевский трубный завод\"', email: 'skiba.v@ktzholding.ru' },\n      { name: 'Кольчугинский трубный завод', email: 'ds.okishev@tagil-steel.ru' }\n    ],\n    \"Уголок, Швеллер\": [\n      { name: 'ООО \"Королевский трубный завод\"', email: 'skiba.v@ktzholding.ru' }\n    ],\n    \"Труба овал. оц.\": [\n      { name: 'Новорязанский трубный завод', email: 'td-rtz@ferost.ru' }\n    ]\n  }\n};\n\n// =============================================================================\n// МАППИНГ: Тип металла из парсера → Категория в таблице поставщиков\n// =============================================================================\nconst METAL_TYPE_MAPPING = {\n  nn: {\n    // Арматура\n    \"Арматура А1\": \"Арматура А500С, А1, А240\",\n    \"Арматура А1 оц.\": \"Арматура А500С, А1, А240\",\n    \"Арматура А3\": \"Арматура А500С, А1, А240\",\n    \"Арматура А3 оц.\": \"Арматура А500С, А1, А240\",\n    \"Арматура Ат800\": \"Арматура АТ800\",\n    \"Арматура Ат1000\": \"Арматура АТ800\",\n    \n    // Сортовой прокат\n    \"Балка\": \"Балка\",\n    \"Квадрат\": \"КВАДРАТ\",\n    \"Круг\": \"КРУГИ\",\n    \"Круг оцинк.\": \"КРУГИ\",\n    \"Полоса\": \"Полоса\",\n    \"Полоса оцинк.\": \"Полоса\",\n    \"Шестигранник\": \"Шестигранник\",\n    \"Уголок\": \"Уголок\",\n    \"Уголок оц.\": \"Уголок\",\n    \"Уголок гнутый\": \"Уголок\",\n    \"Уголок гнутый оц.\": \"Уголок\",\n    \"Швеллер\": \"Швеллер\",\n    \"Швеллер оц.\": \"Швеллер\",\n    \"Швеллер гнутый\": \"Швеллер гнутый\",\n    \"Швеллер гнутый оц.\": \"Швеллер гнутый\",\n    \n    // Листовой прокат\n    \"Лист/рулон г/к\": \"Лист г/к\",\n    \"Лист/рулон х/к\": \"Листы х/к, оц,рулоны\",\n    \"Лист/рулон оцинк.\": \"Листы х/к, оц,рулоны\",\n    \"Лист/рулон окраш.\": \"Листы х/к, оц,рулоны\",\n    \"Лист ПВ\": \"ПВЛ\",\n    \"Лист ПВ оцинк.\": \"ПВЛ\",\n    \"Лист рифленый\": \"Лист рифленый\",\n    \"Плита\": \"Лист г/к\",\n    \"Лента/штрипс\": \"Листы х/к, оц,рулоны\",\n    \"Лента/штрипс оц.\": \"Листы х/к, оц,рулоны\",\n    \"Лента/штрипс окраш.\": \"Листы х/к, оц,рулоны\",\n    \"Профнастил оц.\": \"Профлист, штакетник\",\n    \"Профнастил окраш.\": \"Профлист, штакетник\",\n    \n    // Трубы\n    \"Труба э/с\": \"Трубы ВГП, оц, круглые э/с\",\n    \"Труба э/с оц.\": \"Трубы ВГП, оц, круглые э/с\",\n    \"Труба квадр.\": \"Труба профильная\",\n    \"Труба квадр. оц.\": \"Труба профильная\",\n    \"Труба прямоуг.\": \"Труба профильная\",\n    \"Труба прямоуг. оц.\": \"Труба профильная\",\n    \"Труба овал.\": \"Плоскоовальная труба\",\n    \"Труба овал. оц.\": \"Плоскоовальная труба\",\n    \"Труба плоскоовал.\": \"Плоскоовальная труба\",\n    \"Труба плоскоовал. оц.\": \"Плоскоовальная труба\",\n    \"Труба ВГП\": \"Трубы ВГП, оц, круглые э/с\",\n    \"Труба ВГП оцинк.\": \"Трубы ВГП, оц, круглые э/с\",\n    \"Труба б/ш г/д\": \"Трубы б/ш\",\n    \"Труба б/ш г/д оцинк.\": \"Трубы б/ш\",\n    \"Труба б/ш х/д\": \"Трубы б/ш\",\n    \"Труба б/ш х/д оц.\": \"Трубы б/ш\",\n    \"Труба б/ш котельная\": \"Трубы б/ш\",\n    \"Труба ПНД\": \"Труба ПНД\",\n    \n    // Канаты и проволока\n    \"Канат\": \"Канат\",\n    \"Канат оцинк.\": \"Канат\",\n    \"Канат арматурный\": \"Канат\",\n    \"Катанка\": \"Проволока\",\n    \"Проволока\": \"Проволока\",\n    \"Проволока оцинк.\": \"Проволока\",\n    \n    // Прочее\n    \"Рельс\": \"Рельс\",\n    \"Шпунт Ларсена\": \"Шпунт\",\n    \"Шпунт двутавровый\": \"Шпунт\",\n    \"Шпунт трубчатый\": \"Шпунт\",\n    \"Шпунт холодногнутый\": \"Шпунт\",\n    \"Сетка\": \"Сетка\",\n    \n    // Метизы\n    \"Болты\": \"Анкера, Метизы: Болты, Гайки, Шайбы и пр.\",\n    \"Гайки\": \"Анкера, Метизы: Болты, Гайки, Шайбы и пр.\",\n    \"Шайбы\": \"Анкера, Метизы: Болты, Гайки, Шайбы и пр.\",\n    \"Винты\": \"Анкера, Метизы: Болты, Гайки, Шайбы и пр.\",\n    \"Гвозди\": \"Анкера, Метизы: Болты, Гайки, Шайбы и пр.\",\n    \"Саморезы\": \"Анкера, Метизы: Болты, Гайки, Шайбы и пр.\",\n    \"Шплинты\": \"Анкера, Метизы: Болты, Гайки, Шайбы и пр.\",\n    \"Шурупы\": \"Анкера, Метизы: Болты, Гайки, Шайбы и пр.\",\n    \"Шпильки\": \"Анкера, Метизы: Болты, Гайки, Шайбы и пр.\"\n  },\n  \n  moscow: {\n    // Арматура\n    \"Арматура А1\": \"Арматура А500С, А1, А240\",\n    \"Арматура А1 оц.\": \"Арматура А500С, А1, А240\",\n    \"Арматура А3\": \"Арматура А500С, А1, А240\",\n    \"Арматура А3 оц.\": \"Арматура А500С, А1, А240\",\n    \"Арматура Ат800\": \"Арматура 25Г2С, АТ800\",\n    \"Арматура Ат1000\": \"Арматура 25Г2С, АТ800\",\n    \n    // Сортовой прокат\n    \"Балка\": \"Балка\",\n    \"Квадрат\": \"Круги, квадраты\",\n    \"Круг\": \"Круги, квадраты\",\n    \"Круг оцинк.\": \"Круги, квадраты\",\n    \"Полоса\": \"Полоса\",\n    \"Полоса оцинк.\": \"Полоса\",\n    \"Уголок\": \"Уголок, Швеллер\",\n    \"Уголок оц.\": \"Уголок, Швеллер\",\n    \"Уголок гнутый\": \"Уголок, Швеллер\",\n    \"Уголок гнутый оц.\": \"Уголок, Швеллер\",\n    \"Швеллер\": \"Уголок, Швеллер\",\n    \"Швеллер оц.\": \"Уголок, Швеллер\",\n    \"Швеллер гнутый\": \"Швеллер гнутый\",\n    \"Швеллер гнутый оц.\": \"Швеллер гнутый\",\n    \n    // Листовой прокат\n    \"Лист/рулон г/к\": \"Лист г/к, ПВЛ, листы рефленые\",\n    \"Лист/рулон х/к\": \"Листы х/к, оц,рулоны\",\n    \"Лист/рулон оцинк.\": \"Листы х/к, оц,рулоны\",\n    \"Лист/рулон окраш.\": \"Листы х/к, оц,рулоны\",\n    \"Лист ПВ\": \"Лист г/к, ПВЛ, листы рефленые\",\n    \"Лист ПВ оцинк.\": \"Лист г/к, ПВЛ, листы рефленые\",\n    \"Лист рифленый\": \"Лист г/к, ПВЛ, листы рефленые\",\n    \"Плита\": \"Лист г/к, ПВЛ, листы рефленые\",\n    \"Лента/штрипс\": \"Листы х/к, оц,рулоны\",\n    \"Лента/штрипс оц.\": \"Листы х/к, оц,рулоны\",\n    \"Лента/штрипс окраш.\": \"Листы х/к, оц,рулоны\",\n    \"Профнастил оц.\": \"Профлист, штакетник\",\n    \"Профнастил окраш.\": \"Профлист, штакетник\",\n    \n    // Трубы\n    \"Труба э/с\": \"Трубы ВГП, оц, круглые э/с, профильные\",\n    \"Труба э/с оц.\": \"Трубы ВГП, оц, круглые э/с, профильные\",\n    \"Труба квадр.\": \"Трубы ВГП, оц, круглые э/с, профильные\",\n    \"Труба квадр. оц.\": \"Трубы ВГП, оц, круглые э/с, профильные\",\n    \"Труба прямоуг.\": \"Трубы ВГП, оц, круглые э/с, профильные\",\n    \"Труба прямоуг. оц.\": \"Трубы ВГП, оц, круглые э/с, профильные\",\n    \"Труба ВГП\": \"Трубы ВГП, оц, круглые э/с, профильные\",\n    \"Труба ВГП оцинк.\": \"Трубы ВГП, оц, круглые э/с, профильные\",\n    \"Труба б/ш г/д\": \"Труба б/ш\",\n    \"Труба б/ш г/д оцинк.\": \"Труба б/ш\",\n    \"Труба б/ш х/д\": \"Труба б/ш\",\n    \"Труба б/ш х/д оц.\": \"Труба б/ш\",\n    \"Труба б/ш котельная\": \"Труба б/ш\",\n    \"Труба овал.\": \"Труба овал. оц.\",\n    \"Труба овал. оц.\": \"Труба овал. оц.\",\n    \n    // Канаты и проволока\n    \"Канат\": \"Канат, Анкера\",\n    \"Канат оцинк.\": \"Канат, Анкера\",\n    \"Канат арматурный\": \"Канат, Анкера\",\n    \"Проволока\": \"Проволока\",\n    \"Проволока оцинк.\": \"Проволока\",\n    \n    // Прочее\n    \"Рельс\": \"Рельс\",\n    \"Болты\": \"Канат, Анкера\",\n    \"Гайки\": \"Канат, Анкера\",\n    \"Шайбы\": \"Канат, Анкера\"\n  },\n\n  // =========================================================================\n  // МАППИНГ ДЛЯ ЗАВОДОВ (использует те же категории что и moscow)\n  // =========================================================================\n  factories: {\n    // Арматура\n    \"Арматура А1\": \"Арматура А500С, А1, А240\",\n    \"Арматура А1 оц.\": \"Арматура А500С, А1, А240\",\n    \"Арматура А3\": \"Арматура А500С, А1, А240\",\n    \"Арматура А3 оц.\": \"Арматура А500С, А1, А240\",\n    \"Арматура Ат800\": \"Арматура 25Г2С, АТ800\",\n    \"Арматура Ат1000\": \"Арматура 25Г2С, АТ800\",\n    \n    // Сортовой прокат\n    \"Балка\": \"Балка\",\n    \"Уголок\": \"Уголок, Швеллер\",\n    \"Уголок оц.\": \"Уголок, Швеллер\",\n    \"Швеллер\": \"Уголок, Швеллер\",\n    \"Швеллер оц.\": \"Уголок, Швеллер\",\n    \n    // Листовой прокат\n    \"Лист/рулон г/к\": \"Лист г/к, ПВЛ, листы рифленые\",\n    \"Лист/рулон х/к\": \"Листы х/к, оц, рулоны\",\n    \"Лист/рулон оцинк.\": \"Листы х/к, оц, рулоны\",\n    \"Лист/рулон окраш.\": \"Листы х/к, оц, рулоны\",\n    \"Лист ПВ\": \"Лист г/к, ПВЛ, листы рифленые\",\n    \"Лист ПВ оцинк.\": \"Лист г/к, ПВЛ, листы рифленые\",\n    \"Лист рифленый\": \"Лист г/к, ПВЛ, листы рифленые\",\n    \"Лента/штрипс\": \"Листы х/к, оц, рулоны\",\n    \"Лента/штрипс оц.\": \"Листы х/к, оц, рулоны\",\n    \n    // Трубы\n    \"Труба э/с\": \"Трубы ВГП, оц, круглые э/с, профильные\",\n    \"Труба э/с оц.\": \"Трубы ВГП, оц, круглые э/с, профильные\",\n    \"Труба квадр.\": \"Труба профильная\",\n    \"Труба квадр. оц.\": \"Труба профильная\",\n    \"Труба прямоуг.\": \"Труба профильная\",\n    \"Труба прямоуг. оц.\": \"Труба профильная\",\n    \"Труба ВГП\": \"Трубы ВГП, оц, круглые э/с, профильные\",\n    \"Труба ВГП оцинк.\": \"Трубы ВГП, оц, круглые э/с, профильные\",\n    \"Труба овал.\": \"Труба овал. оц.\",\n    \"Труба овал. оц.\": \"Труба овал. оц.\"\n  }\n};\n\n// =============================================================================\n// ОСНОВНАЯ ЛОГИКА\n// =============================================================================\nconst body = $input.first().json.body || $input.first().json;\nconst category = body.category || 'nn';\nconst requestId = body.request_id;\nconst items = body.items || [];\nconst totalWeight = body.totals?.weight || items.reduce((sum, i) => sum + (parseFloat(i.weight) || 0), 0);\nconst excelBase64 = body.excel_base64 || '';\nconst excelFilename = body.excel_filename || `Запрос_${requestId}.xlsx`;\nconst managerComment = body.manager_comment || '';\n\n// Добавляем код категории к request_id для уникальности\nconst categoryCode = {\n  'nn': 'NN',\n  'moscow': 'MSK', \n  'factories': 'FAC'\n}[category] || category.toUpperCase().slice(0, 3);\n\nconst uniqueRequestId = `${requestId}-${categoryCode}`;\n\n// 1. Извлекаем уникальные типы металла из заказа\nconst metalTypes = [...new Set(items.map(i => i.metal_name || i.metal_type).filter(Boolean))];\nconsole.log(`📋 Типы металла в заказе: ${metalTypes.join(', ')}`);\n\n// 2. Находим категории поставщиков\n// Для factories используем свой маппинг, иначе fallback на nn\nconst mapping = METAL_TYPE_MAPPING[category] || METAL_TYPE_MAPPING.nn;\nconst suppliersByMetal = SUPPLIERS_BY_METAL[category] || SUPPLIERS_BY_METAL.nn;\n\nconst supplierCategories = new Set();\nconst unmappedTypes = [];\n\nfor (const metalType of metalTypes) {\n  const supplierCategory = mapping[metalType];\n  if (supplierCategory && suppliersByMetal[supplierCategory]) {\n    supplierCategories.add(supplierCategory);\n    console.log(`✅ ${metalType} → ${supplierCategory}`);\n  } else if (supplierCategory) {\n    // Категория есть в маппинге, но нет в списке поставщиков для этого региона\n    unmappedTypes.push(metalType);\n    console.log(`⚠️ ${metalType} → ${supplierCategory} (нет поставщиков в категории ${category})`);\n  } else {\n    unmappedTypes.push(metalType);\n    console.log(`⚠️ ${metalType} → НЕТ В МАППИНГЕ (ручной запрос)`);\n  }\n}\n\n// 3. Собираем уникальные email\nconst emailsSet = new Set();\nconst suppliersFound = [];\n\nfor (const cat of supplierCategories) {\n  const categorySuppliers = suppliersByMetal[cat] || [];\n  for (const supplier of categorySuppliers) {\n    if (!emailsSet.has(supplier.email.toLowerCase())) {\n      emailsSet.add(supplier.email.toLowerCase());\n      suppliersFound.push(supplier);\n    }\n  }\n}\n\n// 4. Формируем список email\nconst emailList = TEST_MODE \n  ? TEST_EMAIL \n  : [...emailsSet].join(', ');\n\n// Названия категорий для логов\nconst categoryNames = {\n  'nn': 'Нижний Новгород',\n  'moscow': 'Москва и регионы',\n  'factories': 'Заводы'\n};\n\nconsole.log(`📧 Категория: ${category} (${categoryNames[category] || category})`);\nconsole.log(`🆔 Request ID: ${uniqueRequestId}`);\nconsole.log(`🧪 ТЕСТОВЫЙ РЕЖИМ: ${TEST_MODE}`);\nconsole.log(`📧 Найдено поставщиков: ${suppliersFound.length}`);\nconsole.log(`📧 Категорий металла: ${supplierCategories.size}`);\nconsole.log(`⚠️ Без маппинга: ${unmappedTypes.length} - ${unmappedTypes.join(', ')}`);\nconsole.log(`📧 Отправка на: ${emailList}`);\nconsole.log(`💬 Комментарий менеджера: ${managerComment ? 'есть' : 'нет'}`);\n\nreturn [{\n  json: {\n    category,\n    categoryName: categoryNames[category] || category,\n    requestId: uniqueRequestId,\n    items,\n    totalWeight: Number(totalWeight).toFixed(3),\n    suppliers: suppliersFound,\n    emailList,\n    supplierCount: suppliersFound.length,\n    metalTypes,\n    supplierCategories: [...supplierCategories],\n    unmappedTypes,\n    excelBase64,\n    excelFilename,\n    managerComment\n  }\n}];"
      },
      "id": "0fd75a98-22c4-46e4-91d6-9f2bc4678677",
      "name": "Code: Get Suppliers by Category",
      "type": "n8n-nodes-base.code",
      "position": [
        224,
        0
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\n\n// Формируем таблицу для email\nlet tableRows = data.items.map((item, idx) => {\n  return `<tr>\n    <td style=\"border:1px solid #ddd;padding:8px;text-align:center;\">${idx + 1}</td>\n    <td style=\"border:1px solid #ddd;padding:8px;\">${item.metal_type || item.metal_name || ''}</td>\n    <td style=\"border:1px solid #ddd;padding:8px;text-align:center;\">${item.size || ''}</td>\n    <td style=\"border:1px solid #ddd;padding:8px;text-align:center;\">${item.steel_grade || ''}</td>\n    <td style=\"border:1px solid #ddd;padding:8px;text-align:center;\">${item.weight ? Number(item.weight).toFixed(3) : ''}</td>\n    <td style=\"border:1px solid #ddd;padding:8px;text-align:center;\">${item.pieces || ''}</td>\n  </tr>`;\n}).join('');\n\n// Тема письма с срочностью\nconst emailSubject = `Заказ ${data.requestId} | МеталлСтройГрупп`;\n\n// Блок комментария менеджера (если есть)\nconst managerCommentBlock = data.managerComment ? `\n  <div style=\"background-color: #f0f9ff; border-left: 4px solid #3b82f6; padding: 12px 15px; margin: 15px 0;\">\n    <p style=\"margin: 0; color: #1e40af;\"><strong>💬 Сообщение от менеджера:</strong></p>\n    <p style=\"margin: 8px 0 0 0; color: #333;\">${data.managerComment}</p>\n  </div>\n` : '';\n\n// Тело письма\nconst emailBody = `\n<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"UTF-8\">\n</head>\n<body style=\"font-family: Arial, sans-serif; font-size: 14px; color: #333;\">\n  <p>Добрый день!</p>\n  ${managerCommentBlock}\n  <p>Просим предоставить цены на следующие позиции:</p>\n  \n  <p><strong>Заявка №${data.requestId}</strong></p>\n  \n  <table style=\"border-collapse: collapse; width: 100%; margin: 15px 0;\">\n    <thead>\n      <tr style=\"background-color: #f5f5f5;\">\n        <th style=\"border:1px solid #ddd;padding:8px;\">№</th>\n        <th style=\"border:1px solid #ddd;padding:8px;\">Наименование</th>\n        <th style=\"border:1px solid #ddd;padding:8px;\">Размер</th>\n        <th style=\"border:1px solid #ddd;padding:8px;\">Марка стали</th>\n        <th style=\"border:1px solid #ddd;padding:8px;\">Вес, т</th>\n        <th style=\"border:1px solid #ddd;padding:8px;\">Кол-во</th>\n      </tr>\n    </thead>\n    <tbody>\n      ${tableRows}\n      <tr style=\"font-weight: bold; background-color: #f0f0f0;\">\n        <td colspan=\"4\" style=\"border:1px solid #ddd;padding:8px;\">ИТОГО:</td>\n        <td style=\"border:1px solid #ddd;padding:8px;text-align:center;\">${data.totalWeight} т</td>\n        <td style=\"border:1px solid #ddd;padding:8px;\"></td>\n      </tr>\n    </tbody>\n  </table>\n\n  <div style=\"background-color: #fff3cd; border: 1px solid #ffc107; padding: 15px; margin: 20px 0; border-radius: 5px;\">\n    <p style=\"margin: 0 0 10px 0; font-weight: bold; color: #856404;\">⚡ ВАЖНО: Сбор цен заканчивается через 30 минут!</p>\n    <p style=\"margin: 0; color: #856404;\">Если отвечаете позже — ваша цена может быть не учтена.</p>\n  </div>\n\n  <div style=\"background-color: #e7f3ff; border: 1px solid #2196F3; padding: 15px; margin: 20px 0; border-radius: 5px;\">\n    <p style=\"margin: 0 0 10px 0; font-weight: bold; color: #1565c0;\">📋 Как ответить:</p>\n    <ol style=\"margin: 0; padding-left: 20px; color: #1565c0;\">\n      <li>Скачайте прикреплённый Excel-файл</li>\n      <li>Заполните колонку <strong>«Цена»</strong></li>\n      <li>При необходимости заполните колонку <strong>«Примечания»</strong> — если нет полного объёма, сроки отличаются или есть другие нюансы</li>\n      <li>Отправьте файл ответным письмом</li>\n    </ol>\n  </div>\n\n  <p>Спасибо за оперативность!</p>\n\n  <p style=\"margin-top: 30px; padding-top: 15px; border-top: 1px solid #ddd; color: #666;\">\n    С уважением,<br>\n    <strong>МеталлСтройГрупп РФ</strong><br>\n    Отдел закупок<br>\n    zakup@msgnn.ru\n  </p>\n</body>\n</html>\n`;\n\n// Готовим результат\nconst result = {\n  json: {\n    ...data,\n    emailSubject,\n    emailBody\n  }\n};\n\n// Если есть Excel - добавляем как binary вложение\nif (data.excelBase64 && data.excelBase64.length > 0) {\n  result.binary = {\n    attachment: {\n      data: data.excelBase64,\n      mimeType: 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet',\n      fileName: data.excelFilename || 'Запрос.xlsx'\n    }\n  };\n  console.log('📎 Вложение подготовлено:', data.excelFilename);\n} else {\n  console.log('⚠️ Excel не найден в данных!');\n}\n\nreturn [result];"
      },
      "id": "12f136eb-9a9d-4111-9206-dec2097a8501",
      "name": "Code: Prepare Email Body",
      "type": "n8n-nodes-base.code",
      "position": [
        448,
        0
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "// Берём данные из ПРАВИЛЬНОЙ ноды\nconst data = $('Code: Get Suppliers by Category').item.json;\n\n// Время сбора (через 45 минут)\nconst collectAt = new Date(Date.now() + 45 * 60 * 1000);\nconst collectAtFormatted = collectAt.toLocaleTimeString('ru-RU', { hour: '2-digit', minute: '2-digit' });\n\nreturn [{\n  json: {\n    success: true,\n    request_id: data.requestId,\n    category: data.category,\n    category_name: data.categoryName,\n    suppliers_count: data.supplierCount,\n    collect_at: collectAt.toISOString(),\n    collect_at_formatted: collectAtFormatted,\n    message: `Запрос отправлен ${data.supplierCount} поставщикам. Сводка будет готова в ${collectAtFormatted}`\n  }\n}];"
      },
      "id": "3880523f-24e6-4e84-a086-aebca3b38768",
      "name": "Code: Prepare Response",
      "type": "n8n-nodes-base.code",
      "position": [
        1168,
        0
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "b9e25843-e765-440b-a795-baedfca30df4",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [
        1392,
        0
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.resend.com/emails",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer re_h8imb4uX_3e7wJGXkPJxy7kqyZUd7wxdE"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"from\": \"МеталлСтройГрупп <zakup@msgnn.ru>\",\n  \"to\": {{ JSON.stringify($json.emailList.split(', ')) }},\n  \"subject\": {{ JSON.stringify($json.emailSubject) }},\n  \"html\": {{ JSON.stringify($json.emailBody) }},\n  \"attachments\": [\n    {\n      \"filename\": {{ JSON.stringify($json.excelFilename || \"Запрос.xlsx\") }},\n      \"content\": {{ JSON.stringify($json.excelBase64 || \"\") }}\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        656,
        0
      ],
      "id": "4ec3eccc-3499-426a-ac14-d2a3d3f397a7",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "tableId": "supplier_requests",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "request_id",
              "fieldValue": "={{ $('Code: Get Suppliers by Category').item.json.requestId }}"
            },
            {
              "fieldId": "category",
              "fieldValue": "={{ $('Code: Get Suppliers by Category').item.json.category }}"
            },
            {
              "fieldId": "status",
              "fieldValue": "pending"
            },
            {
              "fieldId": "items",
              "fieldValue": "={{ JSON.stringify($('Code: Get Suppliers by Category').item.json.items) }}"
            },
            {
              "fieldId": "total_weight",
              "fieldValue": "={{ $('Code: Get Suppliers by Category').item.json.totalWeight }}"
            },
            {
              "fieldId": "suppliers_count",
              "fieldValue": "={{ $('Code: Get Suppliers by Category').item.json.supplierCount }}"
            },
            {
              "fieldId": "supplier_emails",
              "fieldValue": "={{ '{' + $('Code: Get Suppliers by Category').item.json.emailList.split(', ').map(e => '\"' + e + '\"').join(',') + '}' }}"
            },
            {
              "fieldId": "created_at",
              "fieldValue": "={{ new Date().toISOString() }}"
            },
            {
              "fieldId": "collect_at",
              "fieldValue": "={{ new Date(Date.now() + 45 * 60 * 1000).toISOString() }}"
            }
          ]
        }
      },
      "name": "Supabase: Save Request",
      "type": "n8n-nodes-base.supabase",
      "position": [
        896,
        -16
      ],
      "typeVersion": 1,
      "id": "50494acd-2d31-493d-be3b-44ac66c4332c",
      "credentials": {
        "supabaseApi": {
          "id": "zV2DqqzhilTxlmiG",
          "name": "Supabase account"
        }
      }
    }
  ],
  "pinData": {
    "Webhook: Send Request": [
      {
        "json": {
          "headers": {
            "host": "primary-production-4e88.up.railway.app",
            "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/143.0.0.0 Safari/537.36",
            "content-length": "36897",
            "accept": "*/*",
            "accept-encoding": "gzip, deflate, br, zstd",
            "accept-language": "en-US,en;q=0.9,ru;q=0.8",
            "content-type": "application/json",
            "origin": "https://lamblackout.github.io",
            "priority": "u=1, i",
            "referer": "https://lamblackout.github.io/",
            "sec-ch-ua": "\"Google Chrome\";v=\"143\", \"Chromium\";v=\"143\", \"Not A(Brand\";v=\"24\"",
            "sec-ch-ua-mobile": "?0",
            "sec-ch-ua-platform": "\"Windows\"",
            "sec-fetch-dest": "empty",
            "sec-fetch-mode": "cors",
            "sec-fetch-site": "cross-site",
            "x-forwarded-for": "194.110.207.107",
            "x-forwarded-host": "primary-production-4e88.up.railway.app",
            "x-forwarded-proto": "https",
            "x-railway-edge": "railway/europe-west4-drams3a",
            "x-railway-request-id": "q4EwAARiTEm_Ssy8w9P4nw",
            "x-real-ip": "194.110.207.107",
            "x-request-start": "1766583957373"
          },
          "params": {},
          "query": {},
          "body": {
            "category": "factories",
            "category_name": "Заводы",
            "request_id": "ЗП-20251224-079",
            "items": [
              {
                "position": 1,
                "metal_key": "tryba_es_pr",
                "metal_type": "Труба прямоуг.",
                "metal_name": "Труба прямоуг.",
                "size": "160х120х6",
                "weight": 3.09,
                "total_length": 126,
                "pieces": 21,
                "length_per_piece": 6,
                "width": null,
                "length_sheet": null,
                "gost": "ГОСТы и ТУ на трубу прямоугольную",
                "steel_grade": "Ст3",
                "unit": "тн",
                "raw_text": "Труба прямоуг. 160x120x6"
              },
              {
                "position": 2,
                "metal_key": "tryba_es_pr",
                "metal_type": "Труба прямоуг.",
                "metal_name": "Труба прямоуг.",
                "size": "180х140х6",
                "weight": 3.055,
                "total_length": 108,
                "pieces": 18,
                "length_per_piece": 6,
                "width": null,
                "length_sheet": null,
                "gost": "ГОСТы и ТУ на трубу прямоугольную",
                "steel_grade": "Ст3",
                "unit": "тн",
                "raw_text": "Труба прямоуг. 180x140x6"
              },
              {
                "position": 3,
                "metal_key": "tryba_es_pr",
                "metal_type": "Труба прямоуг.",
                "metal_name": "Труба прямоуг.",
                "size": "160х80х5",
                "weight": 1.79,
                "total_length": 102,
                "pieces": 17,
                "length_per_piece": 6,
                "width": null,
                "length_sheet": null,
                "gost": "ГОСТы и ТУ на трубу прямоугольную",
                "steel_grade": "Ст3",
                "unit": "тн",
                "raw_text": "Труба прямоуг. 160x80x5"
              },
              {
                "position": 4,
                "metal_key": "tryba_es_kvadr",
                "metal_type": "Труба квадр.",
                "metal_name": "Труба квадр.",
                "size": "120х120х4",
                "weight": 2.052,
                "total_length": 144,
                "pieces": 24,
                "length_per_piece": 6,
                "width": null,
                "length_sheet": null,
                "gost": "ГОСТ 8639-82, ГОСТ 30245-2003",
                "steel_grade": "Ст3",
                "unit": "тн",
                "raw_text": "Труба прямоуг. 120x4"
              },
              {
                "position": 5,
                "metal_key": "tryba_es_kvadr",
                "metal_type": "Труба квадр.",
                "metal_name": "Труба квадр.",
                "size": "80х80х4",
                "weight": 0.504,
                "total_length": 54,
                "pieces": 9,
                "length_per_piece": 6,
                "width": null,
                "length_sheet": null,
                "gost": "ГОСТ 8639-82, ГОСТ 30245-2003",
                "steel_grade": "Ст3",
                "unit": "тн",
                "raw_text": "Труба прямоуг. 80x4"
              },
              {
                "position": 6,
                "metal_key": "tryba_es_pr",
                "metal_type": "Труба прямоуг.",
                "metal_name": "Труба прямоуг.",
                "size": "80х40х4",
                "weight": 0.123,
                "total_length": 18,
                "pieces": 3,
                "length_per_piece": 6,
                "width": null,
                "length_sheet": null,
                "gost": "ГОСТы и ТУ на трубу прямоугольную",
                "steel_grade": "Ст3",
                "unit": "тн",
                "raw_text": "Труба прямоуг. 80x40x4"
              },
              {
                "position": 7,
                "metal_key": "tryba_es_pr",
                "metal_type": "Труба прямоуг.",
                "metal_name": "Труба прямоуг.",
                "size": "60х40х5",
                "weight": 6.824,
                "total_length": 1014,
                "pieces": 169,
                "length_per_piece": 6,
                "width": null,
                "length_sheet": null,
                "gost": "ГОСТы и ТУ на трубу прямоугольную",
                "steel_grade": "Ст3",
                "unit": "тн",
                "raw_text": "Труба прямоуг. 60x40x5"
              },
              {
                "position": 8,
                "metal_key": "tryba_es_pr",
                "metal_type": "Труба прямоуг.",
                "metal_name": "Труба прямоуг.",
                "size": "40х30х3",
                "weight": 0.104,
                "total_length": 36,
                "pieces": 6,
                "length_per_piece": 6,
                "width": null,
                "length_sheet": null,
                "gost": "ГОСТы и ТУ на трубу прямоугольную",
                "steel_grade": "Ст3",
                "unit": "тн",
                "raw_text": "Труба прямоуг. 40x30x3"
              },
              {
                "position": 9,
                "metal_key": "tryba_es_pr",
                "metal_type": "Труба прямоуг.",
                "metal_name": "Профиль С (ПН 200x80x6)",
                "size": "200х80х6",
                "weight": 7.209,
                "total_length": 294,
                "pieces": 49,
                "length_per_piece": 6,
                "width": null,
                "length_sheet": null,
                "gost": "ГОСТы и ТУ на трубу прямоугольную",
                "steel_grade": "ст3",
                "unit": "тн",
                "raw_text": "Профиль С (ПН 200x80x6)"
              },
              {
                "position": 10,
                "metal_key": "beam",
                "metal_type": "Балка",
                "metal_name": "Балка",
                "size": "30М",
                "weight": 18.423,
                "total_length": 84,
                "pieces": 7,
                "length_per_piece": 12,
                "width": null,
                "length_sheet": null,
                "gost": "ГОСТ 8239-89, ГОСТ Р 57837-2017, ТУ 0925-016-00186269-2016",
                "steel_grade": "Ст3",
                "unit": "шт",
                "raw_text": "Балка 30М"
              },
              {
                "position": 11,
                "metal_key": "sheet_hot",
                "metal_type": "Лист/рулон г/к",
                "metal_name": "Лист/рулон г/к",
                "size": "6",
                "weight": 0.294,
                "total_length": 6.25,
                "pieces": 2,
                "length_per_piece": 0,
                "width": 1.25,
                "length_sheet": 2.5,
                "gost": "ГОСТ 19903-90",
                "steel_grade": "Ст3",
                "unit": "тн",
                "raw_text": "Лист г/к 6"
              },
              {
                "position": 12,
                "metal_key": "sheet_hot",
                "metal_type": "Лист/рулон г/к",
                "metal_name": "Лист/рулон г/к",
                "size": "10",
                "weight": 0.491,
                "total_length": 6.25,
                "pieces": 2,
                "length_per_piece": 0,
                "width": 1.25,
                "length_sheet": 2.5,
                "gost": "ГОСТ 19903-90",
                "steel_grade": "Ст3",
                "unit": "тн",
                "raw_text": "Лист г/к 10"
              },
              {
                "position": 13,
                "metal_key": "sheet_hot",
                "metal_type": "Лист/рулон г/к",
                "metal_name": "Лист/рулон г/к",
                "size": "14",
                "weight": 0.343,
                "total_length": 3.13,
                "pieces": 1,
                "length_per_piece": 0,
                "width": 1.25,
                "length_sheet": 2.5,
                "gost": "ГОСТ 19903-90",
                "steel_grade": "Ст3",
                "unit": "тн",
                "raw_text": "Лист г/к 14"
              },
              {
                "position": 14,
                "metal_key": "sheet_hot",
                "metal_type": "Лист/рулон г/к",
                "metal_name": "Лист/рулон г/к",
                "size": "16",
                "weight": 0.393,
                "total_length": 3.13,
                "pieces": 1,
                "length_per_piece": 0,
                "width": 1.25,
                "length_sheet": 2.5,
                "gost": "ГОСТ 19903-90",
                "steel_grade": "Ст3",
                "unit": "тн",
                "raw_text": "Лист г/к 16"
              },
              {
                "position": 15,
                "metal_key": "sheet_hot",
                "metal_type": "Лист/рулон г/к",
                "metal_name": "Лист/рулон г/к",
                "size": "20",
                "weight": 0.491,
                "total_length": 3.13,
                "pieces": 1,
                "length_per_piece": 0,
                "width": 1.25,
                "length_sheet": 2.5,
                "gost": "ГОСТ 19903-90",
                "steel_grade": "Ст3",
                "unit": "тн",
                "raw_text": "Лист г/к 20"
              },
              {
                "position": 16,
                "metal_key": "sheet_hot",
                "metal_type": "Лист/рулон г/к",
                "metal_name": "Лист/рулон г/к",
                "size": "18",
                "weight": 0.442,
                "total_length": 3.13,
                "pieces": 1,
                "length_per_piece": 0,
                "width": 1.25,
                "length_sheet": 2.5,
                "gost": "ГОСТ 19903-90",
                "steel_grade": "Ст3",
                "unit": "тн",
                "raw_text": "Лист г/к 18"
              },
              {
                "position": 17,
                "metal_key": "sheet_hot",
                "metal_type": "Лист/рулон г/к",
                "metal_name": "Лист/рулон г/к",
                "size": "8",
                "weight": 0.196,
                "total_length": 3.13,
                "pieces": 1,
                "length_per_piece": 0,
                "width": 1.25,
                "length_sheet": 2.5,
                "gost": "ГОСТ 19903-90",
                "steel_grade": "Ст3",
                "unit": "тн",
                "raw_text": "Лист г/к 8"
              }
            ],
            "totals": {
              "weight": 45.82399999999999,
              "length": 2008.1500000000005,
              "items_count": 17
            },
            "timestamp": "2025-12-24T13:45:58.660Z",
            "excel_base64": "UEsDBBQAAAAAAAAAAACkAYS4tQIAALUCAAAaAAAAeGwvX3JlbHMvd29ya2Jvb2sueG1sLnJlbHM8P3htbCB2ZXJzaW9uPSIxLjAiIGVuY29kaW5nPSJVVEYtOCIgc3RhbmRhbG9uZT0ieWVzIj8+DQo8UmVsYXRpb25zaGlwcyB4bWxucz0iaHR0cDovL3NjaGVtYXMub3BlbnhtbGZvcm1hdHMub3JnL3BhY2thZ2UvMjAwNi9yZWxhdGlvbnNoaXBzIj48UmVsYXRpb25zaGlwIElkPSJySWQxIiBUeXBlPSJodHRwOi8vc2NoZW1hcy5vcGVueG1sZm9ybWF0cy5vcmcvb2ZmaWNlRG9jdW1lbnQvMjAwNi9yZWxhdGlvbnNoaXBzL3dvcmtzaGVldCIgVGFyZ2V0PSJ3b3Jrc2hlZXRzL3NoZWV0MS54bWwiLz48UmVsYXRpb25zaGlwIElkPSJySWQyIiBUeXBlPSJodHRwOi8vc2NoZW1hcy5vcGVueG1sZm9ybWF0cy5vcmcvb2ZmaWNlRG9jdW1lbnQvMjAwNi9yZWxhdGlvbnNoaXBzL3RoZW1lIiBUYXJnZXQ9InRoZW1lL3RoZW1lMS54bWwiLz48UmVsYXRpb25zaGlwIElkPSJySWQzIiBUeXBlPSJodHRwOi8vc2NoZW1hcy5vcGVueG1sZm9ybWF0cy5vcmcvb2ZmaWNlRG9jdW1lbnQvMjAwNi9yZWxhdGlvbnNoaXBzL3N0eWxlcyIgVGFyZ2V0PSJzdHlsZXMueG1sIi8+PFJlbGF0aW9uc2hpcCBJZD0icklkNCIgVHlwZT0iaHR0cDovL3NjaGVtYXMub3BlbnhtbGZvcm1hdHMub3JnL29mZmljZURvY3VtZW50LzIwMDYvcmVsYXRpb25zaGlwcy9zaGVldE1ldGFkYXRhIiBUYXJnZXQ9Im1ldGFkYXRhLnhtbCIvPjwvUmVsYXRpb25zaGlwcz5QSwMEFAAAAAAAAAAAADAPiGveHQAA3h0AABMAAAB4bC90aGVtZS90aGVtZTEueG1sPD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/Pg0KPGE6dGhlbWUgeG1sbnM6YT0iaHR0cDovL3NjaGVtYXMub3BlbnhtbGZvcm1hdHMub3JnL2RyYXdpbmdtbC8yMDA2L21haW4iIG5hbWU9Ik9mZmljZSBUaGVtZSI+PGE6dGhlbWVFbGVtZW50cz48YTpjbHJTY2hlbWUgbmFtZT0iT2ZmaWNlIj48YTpkazE+PGE6c3lzQ2xyIHZhbD0id2luZG93VGV4dCIgbGFzdENscj0iMDAwMDAwIi8+PC9hOmRrMT48YTpsdDE+PGE6c3lzQ2xyIHZhbD0id2luZG93IiBsYXN0Q2xyPSJGRkZGRkYiLz48L2E6bHQxPjxhOmRrMj48YTpzcmdiQ2xyIHZhbD0iMUY0OTdEIi8+PC9hOmRrMj48YTpsdDI+PGE6c3JnYkNsciB2YWw9IkVFRUNFMSIvPjwvYTpsdDI+PGE6YWNjZW50MT48YTpzcmdiQ2xyIHZhbD0iNEY4MUJEIi8+PC9hOmFjY2VudDE+PGE6YWNjZW50Mj48YTpzcmdiQ2xyIHZhbD0iQzA1MDREIi8+PC9hOmFjY2VudDI+PGE6YWNjZW50Mz48YTpzcmdiQ2xyIHZhbD0iOUJCQjU5Ii8+PC9hOmFjY2VudDM+PGE6YWNjZW50ND48YTpzcmdiQ2xyIHZhbD0iODA2NEEyIi8+PC9hOmFjY2VudDQ+PGE6YWNjZW50NT48YTpzcmdiQ2xyIHZhbD0iNEJBQ0M2Ii8+PC9hOmFjY2VudDU+PGE6YWNjZW50Nj48YTpzcmdiQ2xyIHZhbD0iRjc5NjQ2Ii8+PC9hOmFjY2VudDY+PGE6aGxpbms+PGE6c3JnYkNsciB2YWw9IjAwMDBGRiIvPjwvYTpobGluaz48YTpmb2xIbGluaz48YTpzcmdiQ2xyIHZhbD0iODAwMDgwIi8+PC9hOmZvbEhsaW5rPjwvYTpjbHJTY2hlbWU+PGE6Zm9udFNjaGVtZSBuYW1lPSJPZmZpY2UiPjxhOm1ham9yRm9udD48YTpsYXRpbiB0eXBlZmFjZT0iQ2FtYnJpYSIvPjxhOmVhIHR5cGVmYWNlPSIiLz48YTpjcyB0eXBlZmFjZT0iIi8+PGE6Zm9udCBzY3JpcHQ9IkpwYW4iIHR5cGVmYWNlPSLvvK3vvLMg77yw44K044K344OD44KvIi8+PGE6Zm9udCBzY3JpcHQ9IkhhbmciIHR5cGVmYWNlPSLrp5HsnYAg6rOg65SVIi8+PGE6Zm9udCBzY3JpcHQ9IkhhbnMiIHR5cGVmYWNlPSLlrovkvZMiLz48YTpmb250IHNjcmlwdD0iSGFudCIgdHlwZWZhY2U9IuaWsOe0sOaYjumrlCIvPjxhOmZvbnQgc2NyaXB0PSJBcmFiIiB0eXBlZmFjZT0iVGltZXMgTmV3IFJvbWFuIi8+PGE6Zm9udCBzY3JpcHQ9IkhlYnIiIHR5cGVmYWNlPSJUaW1lcyBOZXcgUm9tYW4iLz48YTpmb250IHNjcmlwdD0iVGhhaSIgdHlwZWZhY2U9IlRhaG9tYSIvPjxhOmZvbnQgc2NyaXB0PSJFdGhpIiB0eXBlZmFjZT0iTnlhbGEiLz48YTpmb250IHNjcmlwdD0iQmVuZyIgdHlwZWZhY2U9IlZyaW5kYSIvPjxhOmZvbnQgc2NyaXB0PSJHdWpyIiB0eXBlZmFjZT0iU2hydXRpIi8+PGE6Zm9udCBzY3JpcHQ9IktobXIiIHR5cGVmYWNlPSJNb29sQm9yYW4iLz48YTpmb250IHNjcmlwdD0iS25kYSIgdHlwZWZhY2U9IlR1bmdhIi8+PGE6Zm9udCBzY3JpcHQ9Ikd1cnUiIHR5cGVmYWNlPSJSYWF2aSIvPjxhOmZvbnQgc2NyaXB0PSJDYW5zIiB0eXBlZmFjZT0iRXVwaGVtaWEiLz48YTpmb250IHNjcmlwdD0iQ2hlciIgdHlwZWZhY2U9IlBsYW50YWdlbmV0IENoZXJva2VlIi8+PGE6Zm9udCBzY3JpcHQ9IllpaWkiIHR5cGVmYWNlPSJNaWNyb3NvZnQgWWkgQmFpdGkiLz48YTpmb250IHNjcmlwdD0iVGlidCIgdHlwZWZhY2U9Ik1pY3Jvc29mdCBIaW1hbGF5YSIvPjxhOmZvbnQgc2NyaXB0PSJUaGFhIiB0eXBlZmFjZT0iTVYgQm9saSIvPjxhOmZvbnQgc2NyaXB0PSJEZXZhIiB0eXBlZmFjZT0iTWFuZ2FsIi8+PGE6Zm9udCBzY3JpcHQ9IlRlbHUiIHR5cGVmYWNlPSJHYXV0YW1pIi8+PGE6Zm9udCBzY3JpcHQ9IlRhbWwiIHR5cGVmYWNlPSJMYXRoYSIvPjxhOmZvbnQgc2NyaXB0PSJTeXJjIiB0eXBlZmFjZT0iRXN0cmFuZ2VsbyBFZGVzc2EiLz48YTpmb250IHNjcmlwdD0iT3J5YSIgdHlwZWZhY2U9IkthbGluZ2EiLz48YTpmb250IHNjcmlwdD0iTWx5bSIgdHlwZWZhY2U9IkthcnRpa2EiLz48YTpmb250IHNjcmlwdD0iTGFvbyIgdHlwZWZhY2U9IkRva0NoYW1wYSIvPjxhOmZvbnQgc2NyaXB0PSJTaW5oIiB0eXBlZmFjZT0iSXNrb29sYSBQb3RhIi8+PGE6Zm9udCBzY3JpcHQ9Ik1vbmciIHR5cGVmYWNlPSJNb25nb2xpYW4gQmFpdGkiLz48YTpmb250IHNjcmlwdD0iVmlldCIgdHlwZWZhY2U9IlRpbWVzIE5ldyBSb21hbiIvPjxhOmZvbnQgc2NyaXB0PSJVaWdoIiB0eXBlZmFjZT0iTWljcm9zb2Z0IFVpZ2h1ciIvPjxhOmZvbnQgc2NyaXB0PSJHZW9yIiB0eXBlZmFjZT0iU3lsZmFlbiIvPjwvYTptYWpvckZvbnQ+PGE6bWlub3JGb250PjxhOmxhdGluIHR5cGVmYWNlPSJDYWxpYnJpIi8+PGE6ZWEgdHlwZWZhY2U9IiIvPjxhOmNzIHR5cGVmYWNlPSIiLz48YTpmb250IHNjcmlwdD0iSnBhbiIgdHlwZWZhY2U9Iu+8re+8syDvvLDjgrTjgrfjg4Pjgq8iLz48YTpmb250IHNjcmlwdD0iSGFuZyIgdHlwZWZhY2U9IuunkeydgCDqs6DrlJUiLz48YTpmb250IHNjcmlwdD0iSGFucyIgdHlwZWZhY2U9IuWui+S9kyIvPjxhOmZvbnQgc2NyaXB0PSJIYW50IiB0eXBlZmFjZT0i5paw57Sw5piO6auUIi8+PGE6Zm9udCBzY3JpcHQ9IkFyYWIiIHR5cGVmYWNlPSJBcmlhbCIvPjxhOmZvbnQgc2NyaXB0PSJIZWJyIiB0eXBlZmFjZT0iQXJpYWwiLz48YTpmb250IHNjcmlwdD0iVGhhaSIgdHlwZWZhY2U9IlRhaG9tYSIvPjxhOmZvbnQgc2NyaXB0PSJFdGhpIiB0eXBlZmFjZT0iTnlhbGEiLz48YTpmb250IHNjcmlwdD0iQmVuZyIgdHlwZWZhY2U9IlZyaW5kYSIvPjxhOmZvbnQgc2NyaXB0PSJHdWpyIiB0eXBlZmFjZT0iU2hydXRpIi8+PGE6Zm9udCBzY3JpcHQ9IktobXIiIHR5cGVmYWNlPSJEYXVuUGVuaCIvPjxhOmZvbnQgc2NyaXB0PSJLbmRhIiB0eXBlZmFjZT0iVHVuZ2EiLz48YTpmb250IHNjcmlwdD0iR3VydSIgdHlwZWZhY2U9IlJhYXZpIi8+PGE6Zm9udCBzY3JpcHQ9IkNhbnMiIHR5cGVmYWNlPSJFdXBoZW1pYSIvPjxhOmZvbnQgc2NyaXB0PSJDaGVyIiB0eXBlZmFjZT0iUGxhbnRhZ2VuZXQgQ2hlcm9rZWUiLz48YTpmb250IHNjcmlwdD0iWWlpaSIgdHlwZWZhY2U9Ik1pY3Jvc29mdCBZaSBCYWl0aSIvPjxhOmZvbnQgc2NyaXB0PSJUaWJ0IiB0eXBlZmFjZT0iTWljcm9zb2Z0IEhpbWFsYXlhIi8+PGE6Zm9udCBzY3JpcHQ9IlRoYWEiIHR5cGVmYWNlPSJNViBCb2xpIi8+PGE6Zm9udCBzY3JpcHQ9IkRldmEiIHR5cGVmYWNlPSJNYW5nYWwiLz48YTpmb250IHNjcmlwdD0iVGVsdSIgdHlwZWZhY2U9IkdhdXRhbWkiLz48YTpmb250IHNjcmlwdD0iVGFtbCIgdHlwZWZhY2U9IkxhdGhhIi8+PGE6Zm9udCBzY3JpcHQ9IlN5cmMiIHR5cGVmYWNlPSJFc3RyYW5nZWxvIEVkZXNzYSIvPjxhOmZvbnQgc2NyaXB0PSJPcnlhIiB0eXBlZmFjZT0iS2FsaW5nYSIvPjxhOmZvbnQgc2NyaXB0PSJNbHltIiB0eXBlZmFjZT0iS2FydGlrYSIvPjxhOmZvbnQgc2NyaXB0PSJMYW9vIiB0eXBlZmFjZT0iRG9rQ2hhbXBhIi8+PGE6Zm9udCBzY3JpcHQ9IlNpbmgiIHR5cGVmYWNlPSJJc2tvb2xhIFBvdGEiLz48YTpmb250IHNjcmlwdD0iTW9uZyIgdHlwZWZhY2U9Ik1vbmdvbGlhbiBCYWl0aSIvPjxhOmZvbnQgc2NyaXB0PSJWaWV0IiB0eXBlZmFjZT0iQXJpYWwiLz48YTpmb250IHNjcmlwdD0iVWlnaCIgdHlwZWZhY2U9Ik1pY3Jvc29mdCBVaWdodXIiLz48YTpmb250IHNjcmlwdD0iR2VvciIgdHlwZWZhY2U9IlN5bGZhZW4iLz48L2E6bWlub3JGb250PjwvYTpmb250U2NoZW1lPjxhOmZtdFNjaGVtZSBuYW1lPSJPZmZpY2UiPjxhOmZpbGxTdHlsZUxzdD48YTpzb2xpZEZpbGw+PGE6c2NoZW1lQ2xyIHZhbD0icGhDbHIiLz48L2E6c29saWRGaWxsPjxhOmdyYWRGaWxsIHJvdFdpdGhTaGFwZT0iMSI+PGE6Z3NMc3Q+PGE6Z3MgcG9zPSIwIj48YTpzY2hlbWVDbHIgdmFsPSJwaENsciI+PGE6dGludCB2YWw9IjUwMDAwIi8+PGE6c2F0TW9kIHZhbD0iMzAwMDAwIi8+PC9hOnNjaGVtZUNscj48L2E6Z3M+PGE6Z3MgcG9zPSIzNTAwMCI+PGE6c2NoZW1lQ2xyIHZhbD0icGhDbHIiPjxhOnRpbnQgdmFsPSIzNzAwMCIvPjxhOnNhdE1vZCB2YWw9IjMwMDAwMCIvPjwvYTpzY2hlbWVDbHI+PC9hOmdzPjxhOmdzIHBvcz0iMTAwMDAwIj48YTpzY2hlbWVDbHIgdmFsPSJwaENsciI+PGE6dGludCB2YWw9IjE1MDAwIi8+PGE6c2F0TW9kIHZhbD0iMzUwMDAwIi8+PC9hOnNjaGVtZUNscj48L2E6Z3M+PC9hOmdzTHN0PjxhOmxpbiBhbmc9IjE2MjAwMDAwIiBzY2FsZWQ9IjEiLz48L2E6Z3JhZEZpbGw+PGE6Z3JhZEZpbGwgcm90V2l0aFNoYXBlPSIxIj48YTpnc0xzdD48YTpncyBwb3M9IjAiPjxhOnNjaGVtZUNsciB2YWw9InBoQ2xyIj48YTp0aW50IHZhbD0iMTAwMDAwIi8+PGE6c2hhZGUgdmFsPSIxMDAwMDAiLz48YTpzYXRNb2QgdmFsPSIxMzAwMDAiLz48L2E6c2NoZW1lQ2xyPjwvYTpncz48YTpncyBwb3M9IjEwMDAwMCI+PGE6c2NoZW1lQ2xyIHZhbD0icGhDbHIiPjxhOnRpbnQgdmFsPSI1MDAwMCIvPjxhOnNoYWRlIHZhbD0iMTAwMDAwIi8+PGE6c2F0TW9kIHZhbD0iMzUwMDAwIi8+PC9hOnNjaGVtZUNscj48L2E6Z3M+PC9hOmdzTHN0PjxhOmxpbiBhbmc9IjE2MjAwMDAwIiBzY2FsZWQ9IjAiLz48L2E6Z3JhZEZpbGw+PC9hOmZpbGxTdHlsZUxzdD48YTpsblN0eWxlTHN0PjxhOmxuIHc9Ijk1MjUiIGNhcD0iZmxhdCIgY21wZD0ic25nIiBhbGduPSJjdHIiPjxhOnNvbGlkRmlsbD48YTpzY2hlbWVDbHIgdmFsPSJwaENsciI+PGE6c2hhZGUgdmFsPSI5NTAwMCIvPjxhOnNhdE1vZCB2YWw9IjEwNTAwMCIvPjwvYTpzY2hlbWVDbHI+PC9hOnNvbGlkRmlsbD48YTpwcnN0RGFzaCB2YWw9InNvbGlkIi8+PC9hOmxuPjxhOmxuIHc9IjI1NDAwIiBjYXA9ImZsYXQiIGNtcGQ9InNuZyIgYWxnbj0iY3RyIj48YTpzb2xpZEZpbGw+PGE6c2NoZW1lQ2xyIHZhbD0icGhDbHIiLz48L2E6c29saWRGaWxsPjxhOnByc3REYXNoIHZhbD0ic29saWQiLz48L2E6bG4+PGE6bG4gdz0iMzgxMDAiIGNhcD0iZmxhdCIgY21wZD0ic25nIiBhbGduPSJjdHIiPjxhOnNvbGlkRmlsbD48YTpzY2hlbWVDbHIgdmFsPSJwaENsciIvPjwvYTpzb2xpZEZpbGw+PGE6cHJzdERhc2ggdmFsPSJzb2xpZCIvPjwvYTpsbj48L2E6bG5TdHlsZUxzdD48YTplZmZlY3RTdHlsZUxzdD48YTplZmZlY3RTdHlsZT48YTplZmZlY3RMc3Q+PGE6b3V0ZXJTaGR3IGJsdXJSYWQ9IjQwMDAwIiBkaXN0PSIyMDAwMCIgZGlyPSI1NDAwMDAwIiByb3RXaXRoU2hhcGU9IjAiPjxhOnNyZ2JDbHIgdmFsPSIwMDAwMDAiPjxhOmFscGhhIHZhbD0iMzgwMDAiLz48L2E6c3JnYkNscj48L2E6b3V0ZXJTaGR3PjwvYTplZmZlY3RMc3Q+PC9hOmVmZmVjdFN0eWxlPjxhOmVmZmVjdFN0eWxlPjxhOmVmZmVjdExzdD48YTpvdXRlclNoZHcgYmx1clJhZD0iNDAwMDAiIGRpc3Q9IjIzMDAwIiBkaXI9IjU0MDAwMDAiIHJvdFdpdGhTaGFwZT0iMCI+PGE6c3JnYkNsciB2YWw9IjAwMDAwMCI+PGE6YWxwaGEgdmFsPSIzNTAwMCIvPjwvYTpzcmdiQ2xyPjwvYTpvdXRlclNoZHc+PC9hOmVmZmVjdExzdD48L2E6ZWZmZWN0U3R5bGU+PGE6ZWZmZWN0U3R5bGU+PGE6ZWZmZWN0THN0PjxhOm91dGVyU2hkdyBibHVyUmFkPSI0MDAwMCIgZGlzdD0iMjMwMDAiIGRpcj0iNTQwMDAwMCIgcm90V2l0aFNoYXBlPSIwIj48YTpzcmdiQ2xyIHZhbD0iMDAwMDAwIj48YTphbHBoYSB2YWw9IjM1MDAwIi8+PC9hOnNyZ2JDbHI+PC9hOm91dGVyU2hkdz48L2E6ZWZmZWN0THN0PjxhOnNjZW5lM2Q+PGE6Y2FtZXJhIHByc3Q9Im9ydGhvZ3JhcGhpY0Zyb250Ij48YTpyb3QgbGF0PSIwIiBsb249IjAiIHJldj0iMCIvPjwvYTpjYW1lcmE+PGE6bGlnaHRSaWcgcmlnPSJ0aHJlZVB0IiBkaXI9InQiPjxhOnJvdCBsYXQ9IjAiIGxvbj0iMCIgcmV2PSIxMjAwMDAwIi8+PC9hOmxpZ2h0UmlnPjwvYTpzY2VuZTNkPjxhOnNwM2Q+PGE6YmV2ZWxUIHc9IjYzNTAwIiBoPSIyNTQwMCIvPjwvYTpzcDNkPjwvYTplZmZlY3RTdHlsZT48L2E6ZWZmZWN0U3R5bGVMc3Q+PGE6YmdGaWxsU3R5bGVMc3Q+PGE6c29saWRGaWxsPjxhOnNjaGVtZUNsciB2YWw9InBoQ2xyIi8+PC9hOnNvbGlkRmlsbD48YTpncmFkRmlsbCByb3RXaXRoU2hhcGU9IjEiPjxhOmdzTHN0PjxhOmdzIHBvcz0iMCI+PGE6c2NoZW1lQ2xyIHZhbD0icGhDbHIiPjxhOnRpbnQgdmFsPSI0MDAwMCIvPjxhOnNhdE1vZCB2YWw9IjM1MDAwMCIvPjwvYTpzY2hlbWVDbHI+PC9hOmdzPjxhOmdzIHBvcz0iNDAwMDAiPjxhOnNjaGVtZUNsciB2YWw9InBoQ2xyIj48YTp0aW50IHZhbD0iNDUwMDAiLz48YTpzaGFkZSB2YWw9Ijk5MDAwIi8+PGE6c2F0TW9kIHZhbD0iMzUwMDAwIi8+PC9hOnNjaGVtZUNscj48L2E6Z3M+PGE6Z3MgcG9zPSIxMDAwMDAiPjxhOnNjaGVtZUNsciB2YWw9InBoQ2xyIj48YTpzaGFkZSB2YWw9IjIwMDAwIi8+PGE6c2F0TW9kIHZhbD0iMjU1MDAwIi8+PC9hOnNjaGVtZUNscj48L2E6Z3M+PC9hOmdzTHN0PjxhOnBhdGggcGF0aD0iY2lyY2xlIj48YTpmaWxsVG9SZWN0IGw9IjUwMDAwIiB0PSItODAwMDAiIHI9IjUwMDAwIiBiPSIxODAwMDAiLz48L2E6cGF0aD48L2E6Z3JhZEZpbGw+PGE6Z3JhZEZpbGwgcm90V2l0aFNoYXBlPSIxIj48YTpnc0xzdD48YTpncyBwb3M9IjAiPjxhOnNjaGVtZUNsciB2YWw9InBoQ2xyIj48YTp0aW50IHZhbD0iODAwMDAiLz48YTpzYXRNb2QgdmFsPSIzMDAwMDAiLz48L2E6c2NoZW1lQ2xyPjwvYTpncz48YTpncyBwb3M9IjEwMDAwMCI+PGE6c2NoZW1lQ2xyIHZhbD0icGhDbHIiPjxhOnNoYWRlIHZhbD0iMzAwMDAiLz48YTpzYXRNb2QgdmFsPSIyMDAwMDAiLz48L2E6c2NoZW1lQ2xyPjwvYTpncz48L2E6Z3NMc3Q+PGE6cGF0aCBwYXRoPSJjaXJjbGUiPjxhOmZpbGxUb1JlY3QgbD0iNTAwMDAiIHQ9IjUwMDAwIiByPSI1MDAwMCIgYj0iNTAwMDAiLz48L2E6cGF0aD48L2E6Z3JhZEZpbGw+PC9hOmJnRmlsbFN0eWxlTHN0PjwvYTpmbXRTY2hlbWU+PC9hOnRoZW1lRWxlbWVudHM+PGE6b2JqZWN0RGVmYXVsdHM+PGE6c3BEZWY+PGE6c3BQci8+PGE6Ym9keVByLz48YTpsc3RTdHlsZS8+PGE6c3R5bGU+PGE6bG5SZWYgaWR4PSIxIj48YTpzY2hlbWVDbHIgdmFsPSJhY2NlbnQxIi8+PC9hOmxuUmVmPjxhOmZpbGxSZWYgaWR4PSIzIj48YTpzY2hlbWVDbHIgdmFsPSJhY2NlbnQxIi8+PC9hOmZpbGxSZWY+PGE6ZWZmZWN0UmVmIGlkeD0iMiI+PGE6c2NoZW1lQ2xyIHZhbD0iYWNjZW50MSIvPjwvYTplZmZlY3RSZWY+PGE6Zm9udFJlZiBpZHg9Im1pbm9yIj48YTpzY2hlbWVDbHIgdmFsPSJsdDEiLz48L2E6Zm9udFJlZj48L2E6c3R5bGU+PC9hOnNwRGVmPjxhOmxuRGVmPjxhOnNwUHIvPjxhOmJvZHlQci8+PGE6bHN0U3R5bGUvPjxhOnN0eWxlPjxhOmxuUmVmIGlkeD0iMiI+PGE6c2NoZW1lQ2xyIHZhbD0iYWNjZW50MSIvPjwvYTpsblJlZj48YTpmaWxsUmVmIGlkeD0iMCI+PGE6c2NoZW1lQ2xyIHZhbD0iYWNjZW50MSIvPjwvYTpmaWxsUmVmPjxhOmVmZmVjdFJlZiBpZHg9IjEiPjxhOnNjaGVtZUNsciB2YWw9ImFjY2VudDEiLz48L2E6ZWZmZWN0UmVmPjxhOmZvbnRSZWYgaWR4PSJtaW5vciI+PGE6c2NoZW1lQ2xyIHZhbD0idHgxIi8+PC9hOmZvbnRSZWY+PC9hOnN0eWxlPjwvYTpsbkRlZj48L2E6b2JqZWN0RGVmYXVsdHM+PGE6ZXh0cmFDbHJTY2hlbWVMc3QvPjwvYTp0aGVtZT5QSwMEFAAAAAAAAAAAAFX0BJRaBAAAWgQAAA0AAAB4bC9zdHlsZXMueG1sPD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/Pg0KPHN0eWxlU2hlZXQgeG1sbnM9Imh0dHA6Ly9zY2hlbWFzLm9wZW54bWxmb3JtYXRzLm9yZy9zcHJlYWRzaGVldG1sLzIwMDYvbWFpbiIgeG1sbnM6dnQ9Imh0dHA6Ly9zY2hlbWFzLm9wZW54bWxmb3JtYXRzLm9yZy9vZmZpY2VEb2N1bWVudC8yMDA2L2RvY1Byb3BzVlR5cGVzIj48bnVtRm10cyBjb3VudD0iMSI+PG51bUZtdCBudW1GbXRJZD0iNTYiIGZvcm1hdENvZGU9IiZxdW90O+S4iuWNiC/kuIvljYggJnF1b3Q7aGgmcXVvdDvmmYImcXVvdDttbSZxdW90O+WIhiZxdW90O3NzJnF1b3Q756eSICZxdW90OyIvPjwvbnVtRm10cz48Zm9udHMgY291bnQ9IjEiPjxmb250PjxzeiB2YWw9IjEyIi8+PGNvbG9yIHRoZW1lPSIxIi8+PG5hbWUgdmFsPSJDYWxpYnJpIi8+PGZhbWlseSB2YWw9IjIiLz48c2NoZW1lIHZhbD0ibWlub3IiLz48L2ZvbnQ+PC9mb250cz48ZmlsbHMgY291bnQ9IjIiPjxmaWxsPjxwYXR0ZXJuRmlsbCBwYXR0ZXJuVHlwZT0ibm9uZSIvPjwvZmlsbD48ZmlsbD48cGF0dGVybkZpbGwgcGF0dGVyblR5cGU9ImdyYXkxMjUiLz48L2ZpbGw+PC9maWxscz48Ym9yZGVycyBjb3VudD0iMSI+PGJvcmRlcj48bGVmdC8+PHJpZ2h0Lz48dG9wLz48Ym90dG9tLz48ZGlhZ29uYWwvPjwvYm9yZGVyPjwvYm9yZGVycz48Y2VsbFN0eWxlWGZzIGNvdW50PSIxIj48eGYgbnVtRm10SWQ9IjAiIGZvbnRJZD0iMCIgZmlsbElkPSIwIiBib3JkZXJJZD0iMCIvPjwvY2VsbFN0eWxlWGZzPjxjZWxsWGZzIGNvdW50PSIxIj48eGYgbnVtRm10SWQ9IjAiIGZvbnRJZD0iMCIgZmlsbElkPSIwIiBib3JkZXJJZD0iMCIgeGZJZD0iMCIgYXBwbHlOdW1iZXJGb3JtYXQ9IjEiLz48L2NlbGxYZnM+PGNlbGxTdHlsZXMgY291bnQ9IjEiPjxjZWxsU3R5bGUgbmFtZT0iTm9ybWFsIiB4ZklkPSIwIiBidWlsdGluSWQ9IjAiLz48L2NlbGxTdHlsZXM+PGR4ZnMgY291bnQ9IjAiLz48dGFibGVTdHlsZXMgY291bnQ9IjAiIGRlZmF1bHRUYWJsZVN0eWxlPSJUYWJsZVN0eWxlTWVkaXVtOSIgZGVmYXVsdFBpdm90U3R5bGU9IlBpdm90U3R5bGVNZWRpdW00Ii8+PC9zdHlsZVNoZWV0PlBLAwQUAAAAAAAAAAAAGj0buAYdAAAGHQAAGAAAAHhsL3dvcmtzaGVldHMvc2hlZXQxLnhtbDw/eG1sIHZlcnNpb249IjEuMCIgZW5jb2Rpbmc9IlVURi04IiBzdGFuZGFsb25lPSJ5ZXMiPz4NCjx3b3Jrc2hlZXQgeG1sbnM9Imh0dHA6Ly9zY2hlbWFzLm9wZW54bWxmb3JtYXRzLm9yZy9zcHJlYWRzaGVldG1sLzIwMDYvbWFpbiIgeG1sbnM6cj0iaHR0cDovL3NjaGVtYXMub3BlbnhtbGZvcm1hdHMub3JnL29mZmljZURvY3VtZW50LzIwMDYvcmVsYXRpb25zaGlwcyI+PGRpbWVuc2lvbiByZWY9IkExOksxOSIvPjxzaGVldFZpZXdzPjxzaGVldFZpZXcgd29ya2Jvb2tWaWV3SWQ9IjAiLz48L3NoZWV0Vmlld3M+PHNoZWV0RGF0YT48cm93IHI9IjEiPjxjIHI9IkExIiB0PSJzdHIiPjx2PuKEljwvdj48L2M+PGMgcj0iQjEiIHQ9InN0ciI+PHY+0J3QsNC40LzQtdC90L7QstCw0L3QuNC1PC92PjwvYz48YyByPSJDMSIgdD0ic3RyIj48dj7QoNCw0LfQvNC10YA8L3Y+PC9jPjxjIHI9IkQxIiB0PSJzdHIiPjx2PtCc0LDRgNC60LAg0YHRgtCw0LvQuDwvdj48L2M+PGMgcj0iRTEiIHQ9InN0ciI+PHY+0JLQtdGBLCDRgjwvdj48L2M+PGMgcj0iRjEiIHQ9InN0ciI+PHY+0JrQvtC7LdCy0L4sINGI0YI8L3Y+PC9jPjxjIHI9IkcxIiB0PSJzdHIiPjx2PtCU0LsuINGI0YIsINC8PC92PjwvYz48YyByPSJIMSIgdD0ic3RyIj48dj7QqNC40YDQuNC90LAsINC8PC92PjwvYz48YyByPSJJMSIgdD0ic3RyIj48dj7QlNC7LiDQu9C40YHRgtCwLCDQvDwvdj48L2M+PGMgcj0iSjEiIHQ9InN0ciI+PHY+0KbQtdC90LA8L3Y+PC9jPjxjIHI9IksxIiB0PSJzdHIiPjx2PtCf0YDQuNC80LXRh9Cw0L3QuNGPPC92PjwvYz48L3Jvdz48cm93IHI9IjIiPjxjIHI9IkEyIj48dj4xPC92PjwvYz48YyByPSJCMiIgdD0ic3RyIj48dj7QotGA0YPQsdCwINC/0YDRj9C80L7Rg9CzLjwvdj48L2M+PGMgcj0iQzIiIHQ9InN0ciI+PHY+MTYw0YUxMjDRhTY8L3Y+PC9jPjxjIHI9IkQyIiB0PSJzdHIiPjx2PtCh0YIzPC92PjwvYz48YyByPSJFMiIgdD0ic3RyIj48dj4zLjA5MDwvdj48L2M+PGMgcj0iRjIiPjx2PjIxPC92PjwvYz48YyByPSJHMiI+PHY+Njwvdj48L2M+PGMgcj0iSDIiIHQ9InN0ciI+PHY+PC92PjwvYz48YyByPSJJMiIgdD0ic3RyIj48dj48L3Y+PC9jPjxjIHI9IkoyIiB0PSJzdHIiPjx2Pjwvdj48L2M+PGMgcj0iSzIiIHQ9InN0ciI+PHY+PC92PjwvYz48L3Jvdz48cm93IHI9IjMiPjxjIHI9IkEzIj48dj4yPC92PjwvYz48YyByPSJCMyIgdD0ic3RyIj48dj7QotGA0YPQsdCwINC/0YDRj9C80L7Rg9CzLjwvdj48L2M+PGMgcj0iQzMiIHQ9InN0ciI+PHY+MTgw0YUxNDDRhTY8L3Y+PC9jPjxjIHI9IkQzIiB0PSJzdHIiPjx2PtCh0YIzPC92PjwvYz48YyByPSJFMyIgdD0ic3RyIj48dj4zLjA1NTwvdj48L2M+PGMgcj0iRjMiPjx2PjE4PC92PjwvYz48YyByPSJHMyI+PHY+Njwvdj48L2M+PGMgcj0iSDMiIHQ9InN0ciI+PHY+PC92PjwvYz48YyByPSJJMyIgdD0ic3RyIj48dj48L3Y+PC9jPjxjIHI9IkozIiB0PSJzdHIiPjx2Pjwvdj48L2M+PGMgcj0iSzMiIHQ9InN0ciI+PHY+PC92PjwvYz48L3Jvdz48cm93IHI9IjQiPjxjIHI9IkE0Ij48dj4zPC92PjwvYz48YyByPSJCNCIgdD0ic3RyIj48dj7QotGA0YPQsdCwINC/0YDRj9C80L7Rg9CzLjwvdj48L2M+PGMgcj0iQzQiIHQ9InN0ciI+PHY+MTYw0YU4MNGFNTwvdj48L2M+PGMgcj0iRDQiIHQ9InN0ciI+PHY+0KHRgjM8L3Y+PC9jPjxjIHI9IkU0IiB0PSJzdHIiPjx2PjEuNzkwPC92PjwvYz48YyByPSJGNCI+PHY+MTc8L3Y+PC9jPjxjIHI9Ikc0Ij48dj42PC92PjwvYz48YyByPSJINCIgdD0ic3RyIj48dj48L3Y+PC9jPjxjIHI9Ikk0IiB0PSJzdHIiPjx2Pjwvdj48L2M+PGMgcj0iSjQiIHQ9InN0ciI+PHY+PC92PjwvYz48YyByPSJLNCIgdD0ic3RyIj48dj48L3Y+PC9jPjwvcm93Pjxyb3cgcj0iNSI+PGMgcj0iQTUiPjx2PjQ8L3Y+PC9jPjxjIHI9IkI1IiB0PSJzdHIiPjx2PtCi0YDRg9Cx0LAg0LrQstCw0LTRgC48L3Y+PC9jPjxjIHI9IkM1IiB0PSJzdHIiPjx2PjEyMNGFMTIw0YU0PC92PjwvYz48YyByPSJENSIgdD0ic3RyIj48dj7QodGCMzwvdj48L2M+PGMgcj0iRTUiIHQ9InN0ciI+PHY+Mi4wNTI8L3Y+PC9jPjxjIHI9IkY1Ij48dj4yNDwvdj48L2M+PGMgcj0iRzUiPjx2PjY8L3Y+PC9jPjxjIHI9Ikg1IiB0PSJzdHIiPjx2Pjwvdj48L2M+PGMgcj0iSTUiIHQ9InN0ciI+PHY+PC92PjwvYz48YyByPSJKNSIgdD0ic3RyIj48dj48L3Y+PC9jPjxjIHI9Iks1IiB0PSJzdHIiPjx2Pjwvdj48L2M+PC9yb3c+PHJvdyByPSI2Ij48YyByPSJBNiI+PHY+NTwvdj48L2M+PGMgcj0iQjYiIHQ9InN0ciI+PHY+0KLRgNGD0LHQsCDQutCy0LDQtNGALjwvdj48L2M+PGMgcj0iQzYiIHQ9InN0ciI+PHY+ODDRhTgw0YU0PC92PjwvYz48YyByPSJENiIgdD0ic3RyIj48dj7QodGCMzwvdj48L2M+PGMgcj0iRTYiIHQ9InN0ciI+PHY+MC41MDQ8L3Y+PC9jPjxjIHI9IkY2Ij48dj45PC92PjwvYz48YyByPSJHNiI+PHY+Njwvdj48L2M+PGMgcj0iSDYiIHQ9InN0ciI+PHY+PC92PjwvYz48YyByPSJJNiIgdD0ic3RyIj48dj48L3Y+PC9jPjxjIHI9Iko2IiB0PSJzdHIiPjx2Pjwvdj48L2M+PGMgcj0iSzYiIHQ9InN0ciI+PHY+PC92PjwvYz48L3Jvdz48cm93IHI9IjciPjxjIHI9IkE3Ij48dj42PC92PjwvYz48YyByPSJCNyIgdD0ic3RyIj48dj7QotGA0YPQsdCwINC/0YDRj9C80L7Rg9CzLjwvdj48L2M+PGMgcj0iQzciIHQ9InN0ciI+PHY+ODDRhTQw0YU0PC92PjwvYz48YyByPSJENyIgdD0ic3RyIj48dj7QodGCMzwvdj48L2M+PGMgcj0iRTciIHQ9InN0ciI+PHY+MC4xMjM8L3Y+PC9jPjxjIHI9IkY3Ij48dj4zPC92PjwvYz48YyByPSJHNyI+PHY+Njwvdj48L2M+PGMgcj0iSDciIHQ9InN0ciI+PHY+PC92PjwvYz48YyByPSJJNyIgdD0ic3RyIj48dj48L3Y+PC9jPjxjIHI9Iko3IiB0PSJzdHIiPjx2Pjwvdj48L2M+PGMgcj0iSzciIHQ9InN0ciI+PHY+PC92PjwvYz48L3Jvdz48cm93IHI9IjgiPjxjIHI9IkE4Ij48dj43PC92PjwvYz48YyByPSJCOCIgdD0ic3RyIj48dj7QotGA0YPQsdCwINC/0YDRj9C80L7Rg9CzLjwvdj48L2M+PGMgcj0iQzgiIHQ9InN0ciI+PHY+NjDRhTQw0YU1PC92PjwvYz48YyByPSJEOCIgdD0ic3RyIj48dj7QodGCMzwvdj48L2M+PGMgcj0iRTgiIHQ9InN0ciI+PHY+Ni44MjQ8L3Y+PC9jPjxjIHI9IkY4Ij48dj4xNjk8L3Y+PC9jPjxjIHI9Ikc4Ij48dj42PC92PjwvYz48YyByPSJIOCIgdD0ic3RyIj48dj48L3Y+PC9jPjxjIHI9Ikk4IiB0PSJzdHIiPjx2Pjwvdj48L2M+PGMgcj0iSjgiIHQ9InN0ciI+PHY+PC92PjwvYz48YyByPSJLOCIgdD0ic3RyIj48dj48L3Y+PC9jPjwvcm93Pjxyb3cgcj0iOSI+PGMgcj0iQTkiPjx2Pjg8L3Y+PC9jPjxjIHI9IkI5IiB0PSJzdHIiPjx2PtCi0YDRg9Cx0LAg0L/RgNGP0LzQvtGD0LMuPC92PjwvYz48YyByPSJDOSIgdD0ic3RyIj48dj40MNGFMzDRhTM8L3Y+PC9jPjxjIHI9IkQ5IiB0PSJzdHIiPjx2PtCh0YIzPC92PjwvYz48YyByPSJFOSIgdD0ic3RyIj48dj4wLjEwNDwvdj48L2M+PGMgcj0iRjkiPjx2PjY8L3Y+PC9jPjxjIHI9Ikc5Ij48dj42PC92PjwvYz48YyByPSJIOSIgdD0ic3RyIj48dj48L3Y+PC9jPjxjIHI9Ikk5IiB0PSJzdHIiPjx2Pjwvdj48L2M+PGMgcj0iSjkiIHQ9InN0ciI+PHY+PC92PjwvYz48YyByPSJLOSIgdD0ic3RyIj48dj48L3Y+PC9jPjwvcm93Pjxyb3cgcj0iMTAiPjxjIHI9IkExMCI+PHY+OTwvdj48L2M+PGMgcj0iQjEwIiB0PSJzdHIiPjx2PtCi0YDRg9Cx0LAg0L/RgNGP0LzQvtGD0LMuPC92PjwvYz48YyByPSJDMTAiIHQ9InN0ciI+PHY+MjAw0YU4MNGFNjwvdj48L2M+PGMgcj0iRDEwIiB0PSJzdHIiPjx2PtGB0YIzPC92PjwvYz48YyByPSJFMTAiIHQ9InN0ciI+PHY+Ny4yMDk8L3Y+PC9jPjxjIHI9IkYxMCI+PHY+NDk8L3Y+PC9jPjxjIHI9IkcxMCI+PHY+Njwvdj48L2M+PGMgcj0iSDEwIiB0PSJzdHIiPjx2Pjwvdj48L2M+PGMgcj0iSTEwIiB0PSJzdHIiPjx2Pjwvdj48L2M+PGMgcj0iSjEwIiB0PSJzdHIiPjx2Pjwvdj48L2M+PGMgcj0iSzEwIiB0PSJzdHIiPjx2Pjwvdj48L2M+PC9yb3c+PHJvdyByPSIxMSI+PGMgcj0iQTExIj48dj4xMDwvdj48L2M+PGMgcj0iQjExIiB0PSJzdHIiPjx2PtCR0LDQu9C60LA8L3Y+PC9jPjxjIHI9IkMxMSIgdD0ic3RyIj48dj4zMNCcPC92PjwvYz48YyByPSJEMTEiIHQ9InN0ciI+PHY+0KHRgjM8L3Y+PC9jPjxjIHI9IkUxMSIgdD0ic3RyIj48dj4xOC40MjM8L3Y+PC9jPjxjIHI9IkYxMSI+PHY+Nzwvdj48L2M+PGMgcj0iRzExIj48dj4xMjwvdj48L2M+PGMgcj0iSDExIiB0PSJzdHIiPjx2Pjwvdj48L2M+PGMgcj0iSTExIiB0PSJzdHIiPjx2Pjwvdj48L2M+PGMgcj0iSjExIiB0PSJzdHIiPjx2Pjwvdj48L2M+PGMgcj0iSzExIiB0PSJzdHIiPjx2Pjwvdj48L2M+PC9yb3c+PHJvdyByPSIxMiI+PGMgcj0iQTEyIj48dj4xMTwvdj48L2M+PGMgcj0iQjEyIiB0PSJzdHIiPjx2PtCb0LjRgdGCL9GA0YPQu9C+0L0g0LMv0Lo8L3Y+PC9jPjxjIHI9IkMxMiIgdD0ic3RyIj48dj42PC92PjwvYz48YyByPSJEMTIiIHQ9InN0ciI+PHY+0KHRgjM8L3Y+PC9jPjxjIHI9IkUxMiIgdD0ic3RyIj48dj4wLjI5NDwvdj48L2M+PGMgcj0iRjEyIj48dj4yPC92PjwvYz48YyByPSJHMTIiIHQ9InN0ciI+PHY+PC92PjwvYz48YyByPSJIMTIiPjx2PjEuMjU8L3Y+PC9jPjxjIHI9IkkxMiI+PHY+Mi41PC92PjwvYz48YyByPSJKMTIiIHQ9InN0ciI+PHY+PC92PjwvYz48YyByPSJLMTIiIHQ9InN0ciI+PHY+PC92PjwvYz48L3Jvdz48cm93IHI9IjEzIj48YyByPSJBMTMiPjx2PjEyPC92PjwvYz48YyByPSJCMTMiIHQ9InN0ciI+PHY+0JvQuNGB0YIv0YDRg9C70L7QvSDQsy/Qujwvdj48L2M+PGMgcj0iQzEzIiB0PSJzdHIiPjx2PjEwPC92PjwvYz48YyByPSJEMTMiIHQ9InN0ciI+PHY+0KHRgjM8L3Y+PC9jPjxjIHI9IkUxMyIgdD0ic3RyIj48dj4wLjQ5MTwvdj48L2M+PGMgcj0iRjEzIj48dj4yPC92PjwvYz48YyByPSJHMTMiIHQ9InN0ciI+PHY+PC92PjwvYz48YyByPSJIMTMiPjx2PjEuMjU8L3Y+PC9jPjxjIHI9IkkxMyI+PHY+Mi41PC92PjwvYz48YyByPSJKMTMiIHQ9InN0ciI+PHY+PC92PjwvYz48YyByPSJLMTMiIHQ9InN0ciI+PHY+PC92PjwvYz48L3Jvdz48cm93IHI9IjE0Ij48YyByPSJBMTQiPjx2PjEzPC92PjwvYz48YyByPSJCMTQiIHQ9InN0ciI+PHY+0JvQuNGB0YIv0YDRg9C70L7QvSDQsy/Qujwvdj48L2M+PGMgcj0iQzE0IiB0PSJzdHIiPjx2PjE0PC92PjwvYz48YyByPSJEMTQiIHQ9InN0ciI+PHY+0KHRgjM8L3Y+PC9jPjxjIHI9IkUxNCIgdD0ic3RyIj48dj4wLjM0Mzwvdj48L2M+PGMgcj0iRjE0Ij48dj4xPC92PjwvYz48YyByPSJHMTQiIHQ9InN0ciI+PHY+PC92PjwvYz48YyByPSJIMTQiPjx2PjEuMjU8L3Y+PC9jPjxjIHI9IkkxNCI+PHY+Mi41PC92PjwvYz48YyByPSJKMTQiIHQ9InN0ciI+PHY+PC92PjwvYz48YyByPSJLMTQiIHQ9InN0ciI+PHY+PC92PjwvYz48L3Jvdz48cm93IHI9IjE1Ij48YyByPSJBMTUiPjx2PjE0PC92PjwvYz48YyByPSJCMTUiIHQ9InN0ciI+PHY+0JvQuNGB0YIv0YDRg9C70L7QvSDQsy/Qujwvdj48L2M+PGMgcj0iQzE1IiB0PSJzdHIiPjx2PjE2PC92PjwvYz48YyByPSJEMTUiIHQ9InN0ciI+PHY+0KHRgjM8L3Y+PC9jPjxjIHI9IkUxNSIgdD0ic3RyIj48dj4wLjM5Mzwvdj48L2M+PGMgcj0iRjE1Ij48dj4xPC92PjwvYz48YyByPSJHMTUiIHQ9InN0ciI+PHY+PC92PjwvYz48YyByPSJIMTUiPjx2PjEuMjU8L3Y+PC9jPjxjIHI9IkkxNSI+PHY+Mi41PC92PjwvYz48YyByPSJKMTUiIHQ9InN0ciI+PHY+PC92PjwvYz48YyByPSJLMTUiIHQ9InN0ciI+PHY+PC92PjwvYz48L3Jvdz48cm93IHI9IjE2Ij48YyByPSJBMTYiPjx2PjE1PC92PjwvYz48YyByPSJCMTYiIHQ9InN0ciI+PHY+0JvQuNGB0YIv0YDRg9C70L7QvSDQsy/Qujwvdj48L2M+PGMgcj0iQzE2IiB0PSJzdHIiPjx2PjIwPC92PjwvYz48YyByPSJEMTYiIHQ9InN0ciI+PHY+0KHRgjM8L3Y+PC9jPjxjIHI9IkUxNiIgdD0ic3RyIj48dj4wLjQ5MTwvdj48L2M+PGMgcj0iRjE2Ij48dj4xPC92PjwvYz48YyByPSJHMTYiIHQ9InN0ciI+PHY+PC92PjwvYz48YyByPSJIMTYiPjx2PjEuMjU8L3Y+PC9jPjxjIHI9IkkxNiI+PHY+Mi41PC92PjwvYz48YyByPSJKMTYiIHQ9InN0ciI+PHY+PC92PjwvYz48YyByPSJLMTYiIHQ9InN0ciI+PHY+PC92PjwvYz48L3Jvdz48cm93IHI9IjE3Ij48YyByPSJBMTciPjx2PjE2PC92PjwvYz48YyByPSJCMTciIHQ9InN0ciI+PHY+0JvQuNGB0YIv0YDRg9C70L7QvSDQsy/Qujwvdj48L2M+PGMgcj0iQzE3IiB0PSJzdHIiPjx2PjE4PC92PjwvYz48YyByPSJEMTciIHQ9InN0ciI+PHY+0KHRgjM8L3Y+PC9jPjxjIHI9IkUxNyIgdD0ic3RyIj48dj4wLjQ0Mjwvdj48L2M+PGMgcj0iRjE3Ij48dj4xPC92PjwvYz48YyByPSJHMTciIHQ9InN0ciI+PHY+PC92PjwvYz48YyByPSJIMTciPjx2PjEuMjU8L3Y+PC9jPjxjIHI9IkkxNyI+PHY+Mi41PC92PjwvYz48YyByPSJKMTciIHQ9InN0ciI+PHY+PC92PjwvYz48YyByPSJLMTciIHQ9InN0ciI+PHY+PC92PjwvYz48L3Jvdz48cm93IHI9IjE4Ij48YyByPSJBMTgiPjx2PjE3PC92PjwvYz48YyByPSJCMTgiIHQ9InN0ciI+PHY+0JvQuNGB0YIv0YDRg9C70L7QvSDQsy/Qujwvdj48L2M+PGMgcj0iQzE4IiB0PSJzdHIiPjx2Pjg8L3Y+PC9jPjxjIHI9IkQxOCIgdD0ic3RyIj48dj7QodGCMzwvdj48L2M+PGMgcj0iRTE4IiB0PSJzdHIiPjx2PjAuMTk2PC92PjwvYz48YyByPSJGMTgiPjx2PjE8L3Y+PC9jPjxjIHI9IkcxOCIgdD0ic3RyIj48dj48L3Y+PC9jPjxjIHI9IkgxOCI+PHY+MS4yNTwvdj48L2M+PGMgcj0iSTE4Ij48dj4yLjU8L3Y+PC9jPjxjIHI9IkoxOCIgdD0ic3RyIj48dj48L3Y+PC9jPjxjIHI9IksxOCIgdD0ic3RyIj48dj48L3Y+PC9jPjwvcm93Pjxyb3cgcj0iMTkiPjxjIHI9IkExOSIgdD0ic3RyIj48dj48L3Y+PC9jPjxjIHI9IkIxOSIgdD0ic3RyIj48dj7QmNCi0J7Qk9CeOjwvdj48L2M+PGMgcj0iQzE5IiB0PSJzdHIiPjx2Pjwvdj48L2M+PGMgcj0iRDE5IiB0PSJzdHIiPjx2Pjwvdj48L2M+PGMgcj0iRTE5IiB0PSJzdHIiPjx2PjQ1LjgyNDwvdj48L2M+PGMgcj0iRjE5IiB0PSJzdHIiPjx2Pjwvdj48L2M+PGMgcj0iRzE5IiB0PSJzdHIiPjx2Pjwvdj48L2M+PGMgcj0iSDE5IiB0PSJzdHIiPjx2Pjwvdj48L2M+PGMgcj0iSTE5IiB0PSJzdHIiPjx2Pjwvdj48L2M+PGMgcj0iSjE5IiB0PSJzdHIiPjx2Pjwvdj48L2M+PGMgcj0iSzE5IiB0PSJzdHIiPjx2Pjwvdj48L2M+PC9yb3c+PC9zaGVldERhdGE+PGlnbm9yZWRFcnJvcnM+PGlnbm9yZWRFcnJvciBudW1iZXJTdG9yZWRBc1RleHQ9IjEiIHNxcmVmPSJBMTpLMTkiLz48L2lnbm9yZWRFcnJvcnM+PC93b3Jrc2hlZXQ+UEsDBBQAAAAAAAAAAABggACBiAMAAIgDAAAPAAAAeGwvbWV0YWRhdGEueG1sPD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/Pg0KPG1ldGFkYXRhIHhtbG5zPSJodHRwOi8vc2NoZW1hcy5vcGVueG1sZm9ybWF0cy5vcmcvc3ByZWFkc2hlZXRtbC8yMDA2L21haW4iIHhtbG5zOnhscmQ9Imh0dHA6Ly9zY2hlbWFzLm1pY3Jvc29mdC5jb20vb2ZmaWNlL3NwcmVhZHNoZWV0bWwvMjAxNy9yaWNoZGF0YSIgeG1sbnM6eGRhPSJodHRwOi8vc2NoZW1hcy5taWNyb3NvZnQuY29tL29mZmljZS9zcHJlYWRzaGVldG1sLzIwMTcvZHluYW1pY2FycmF5Ij4KICA8bWV0YWRhdGFUeXBlcyBjb3VudD0iMSI+CiAgICA8bWV0YWRhdGFUeXBlIG5hbWU9IlhMREFQUiIgbWluU3VwcG9ydGVkVmVyc2lvbj0iMTIwMDAwIiBjb3B5PSIxIiBwYXN0ZUFsbD0iMSIgcGFzdGVWYWx1ZXM9IjEiIG1lcmdlPSIxIiBzcGxpdEZpcnN0PSIxIiByb3dDb2xTaGlmdD0iMSIgY2xlYXJGb3JtYXRzPSIxIiBjbGVhckNvbW1lbnRzPSIxIiBhc3NpZ249IjEiIGNvZXJjZT0iMSIgY2VsbE1ldGE9IjEiLz4KICA8L21ldGFkYXRhVHlwZXM+CiAgPGZ1dHVyZU1ldGFkYXRhIG5hbWU9IlhMREFQUiIgY291bnQ9IjEiPgogICAgPGJrPgogICAgICA8ZXh0THN0PgogICAgICAgIDxleHQgdXJpPSJ7YmRiYjhjZGMtZmExZS00OTZlLWE4NTctM2MzZjMwYzAyOWMzfSI+CiAgICAgICAgICA8eGRhOmR5bmFtaWNBcnJheVByb3BlcnRpZXMgZkR5bmFtaWM9IjEiIGZDb2xsYXBzZWQ9IjAiLz4KICAgICAgICA8L2V4dD4KICAgICAgPC9leHRMc3Q+CiAgICA8L2JrPgogIDwvZnV0dXJlTWV0YWRhdGE+CiAgPGNlbGxNZXRhZGF0YSBjb3VudD0iMSI+CiAgICA8Yms+CiAgICAgIDxyYyB0PSIxIiB2PSIwIi8+CiAgICA8L2JrPgogIDwvY2VsbE1ldGFkYXRhPgo8L21ldGFkYXRhPlBLAwQUAAAAAAAAAAAAaOo4u0gBAABIAQAADwAAAHhsL3dvcmtib29rLnhtbDw/eG1sIHZlcnNpb249IjEuMCIgZW5jb2Rpbmc9IlVURi04IiBzdGFuZGFsb25lPSJ5ZXMiPz4NCjx3b3JrYm9vayB4bWxucz0iaHR0cDovL3NjaGVtYXMub3BlbnhtbGZvcm1hdHMub3JnL3NwcmVhZHNoZWV0bWwvMjAwNi9tYWluIiB4bWxuczpyPSJodHRwOi8vc2NoZW1hcy5vcGVueG1sZm9ybWF0cy5vcmcvb2ZmaWNlRG9jdW1lbnQvMjAwNi9yZWxhdGlvbnNoaXBzIj48d29ya2Jvb2tQciBjb2RlTmFtZT0iVGhpc1dvcmtib29rIi8+PHNoZWV0cz48c2hlZXQgbmFtZT0i0JfQsNGP0LLQutCwIiBzaGVldElkPSIxIiByOmlkPSJySWQxIi8+PC9zaGVldHM+PC93b3JrYm9vaz5QSwMEFAAAAAAAAAAAAEpqEflMAgAATAIAAAsAAABfcmVscy8ucmVsczw/eG1sIHZlcnNpb249IjEuMCIgZW5jb2Rpbmc9IlVURi04IiBzdGFuZGFsb25lPSJ5ZXMiPz4NCjxSZWxhdGlvbnNoaXBzIHhtbG5zPSJodHRwOi8vc2NoZW1hcy5vcGVueG1sZm9ybWF0cy5vcmcvcGFja2FnZS8yMDA2L3JlbGF0aW9uc2hpcHMiPjxSZWxhdGlvbnNoaXAgSWQ9InJJZDIiIFR5cGU9Imh0dHA6Ly9zY2hlbWFzLm9wZW54bWxmb3JtYXRzLm9yZy9wYWNrYWdlLzIwMDYvcmVsYXRpb25zaGlwcy9tZXRhZGF0YS9jb3JlLXByb3BlcnRpZXMiIFRhcmdldD0iZG9jUHJvcHMvY29yZS54bWwiLz48UmVsYXRpb25zaGlwIElkPSJySWQzIiBUeXBlPSJodHRwOi8vc2NoZW1hcy5vcGVueG1sZm9ybWF0cy5vcmcvb2ZmaWNlRG9jdW1lbnQvMjAwNi9yZWxhdGlvbnNoaXBzL2V4dGVuZGVkLXByb3BlcnRpZXMiIFRhcmdldD0iZG9jUHJvcHMvYXBwLnhtbCIvPjxSZWxhdGlvbnNoaXAgSWQ9InJJZDEiIFR5cGU9Imh0dHA6Ly9zY2hlbWFzLm9wZW54bWxmb3JtYXRzLm9yZy9vZmZpY2VEb2N1bWVudC8yMDA2L3JlbGF0aW9uc2hpcHMvb2ZmaWNlRG9jdW1lbnQiIFRhcmdldD0ieGwvd29ya2Jvb2sueG1sIi8+PC9SZWxhdGlvbnNoaXBzPlBLAwQUAAAAAAAAAAAAYcrFDjgCAAA4AgAAEAAAAGRvY1Byb3BzL2FwcC54bWw8P3htbCB2ZXJzaW9uPSIxLjAiIGVuY29kaW5nPSJVVEYtOCIgc3RhbmRhbG9uZT0ieWVzIj8+DQo8UHJvcGVydGllcyB4bWxucz0iaHR0cDovL3NjaGVtYXMub3BlbnhtbGZvcm1hdHMub3JnL29mZmljZURvY3VtZW50LzIwMDYvZXh0ZW5kZWQtcHJvcGVydGllcyIgeG1sbnM6dnQ9Imh0dHA6Ly9zY2hlbWFzLm9wZW54bWxmb3JtYXRzLm9yZy9vZmZpY2VEb2N1bWVudC8yMDA2L2RvY1Byb3BzVlR5cGVzIj48QXBwbGljYXRpb24+U2hlZXRKUzwvQXBwbGljYXRpb24+PEhlYWRpbmdQYWlycz48dnQ6dmVjdG9yIHNpemU9IjIiIGJhc2VUeXBlPSJ2YXJpYW50Ij48dnQ6dmFyaWFudD48dnQ6bHBzdHI+V29ya3NoZWV0czwvdnQ6bHBzdHI+PC92dDp2YXJpYW50Pjx2dDp2YXJpYW50Pjx2dDppND4xPC92dDppND48L3Z0OnZhcmlhbnQ+PC92dDp2ZWN0b3I+PC9IZWFkaW5nUGFpcnM+PFRpdGxlc09mUGFydHM+PHZ0OnZlY3RvciBzaXplPSIxIiBiYXNlVHlwZT0ibHBzdHIiPjx2dDpscHN0cj7Ql9Cw0Y/QstC60LA8L3Z0Omxwc3RyPjwvdnQ6dmVjdG9yPjwvVGl0bGVzT2ZQYXJ0cz48L1Byb3BlcnRpZXM+UEsDBBQAAAAAAAAAAADWknwRWgEAAFoBAAARAAAAZG9jUHJvcHMvY29yZS54bWw8P3htbCB2ZXJzaW9uPSIxLjAiIGVuY29kaW5nPSJVVEYtOCIgc3RhbmRhbG9uZT0ieWVzIj8+DQo8Y3A6Y29yZVByb3BlcnRpZXMgeG1sbnM6Y3A9Imh0dHA6Ly9zY2hlbWFzLm9wZW54bWxmb3JtYXRzLm9yZy9wYWNrYWdlLzIwMDYvbWV0YWRhdGEvY29yZS1wcm9wZXJ0aWVzIiB4bWxuczpkYz0iaHR0cDovL3B1cmwub3JnL2RjL2VsZW1lbnRzLzEuMS8iIHhtbG5zOmRjdGVybXM9Imh0dHA6Ly9wdXJsLm9yZy9kYy90ZXJtcy8iIHhtbG5zOmRjbWl0eXBlPSJodHRwOi8vcHVybC5vcmcvZGMvZGNtaXR5cGUvIiB4bWxuczp4c2k9Imh0dHA6Ly93d3cudzMub3JnLzIwMDEvWE1MU2NoZW1hLWluc3RhbmNlIi8+UEsDBBQAAAAAAAAAAACo12qAFQgAABUIAAATAAAAW0NvbnRlbnRfVHlwZXNdLnhtbDw/eG1sIHZlcnNpb249IjEuMCIgZW5jb2Rpbmc9IlVURi04IiBzdGFuZGFsb25lPSJ5ZXMiPz4NCjxUeXBlcyB4bWxucz0iaHR0cDovL3NjaGVtYXMub3BlbnhtbGZvcm1hdHMub3JnL3BhY2thZ2UvMjAwNi9jb250ZW50LXR5cGVzIiB4bWxuczp4c2Q9Imh0dHA6Ly93d3cudzMub3JnLzIwMDEvWE1MU2NoZW1hIiB4bWxuczp4c2k9Imh0dHA6Ly93d3cudzMub3JnLzIwMDEvWE1MU2NoZW1hLWluc3RhbmNlIj48RGVmYXVsdCBFeHRlbnNpb249InhtbCIgQ29udGVudFR5cGU9ImFwcGxpY2F0aW9uL3htbCIvPjxEZWZhdWx0IEV4dGVuc2lvbj0iYmluIiBDb250ZW50VHlwZT0iYXBwbGljYXRpb24vdm5kLm1zLWV4Y2VsLnNoZWV0LmJpbmFyeS5tYWNyb0VuYWJsZWQubWFpbiIvPjxEZWZhdWx0IEV4dGVuc2lvbj0idm1sIiBDb250ZW50VHlwZT0iYXBwbGljYXRpb24vdm5kLm9wZW54bWxmb3JtYXRzLW9mZmljZWRvY3VtZW50LnZtbERyYXdpbmciLz48RGVmYXVsdCBFeHRlbnNpb249ImRhdGEiIENvbnRlbnRUeXBlPSJhcHBsaWNhdGlvbi92bmQub3BlbnhtbGZvcm1hdHMtb2ZmaWNlZG9jdW1lbnQubW9kZWwrZGF0YSIvPjxEZWZhdWx0IEV4dGVuc2lvbj0iYm1wIiBDb250ZW50VHlwZT0iaW1hZ2UvYm1wIi8+PERlZmF1bHQgRXh0ZW5zaW9uPSJwbmciIENvbnRlbnRUeXBlPSJpbWFnZS9wbmciLz48RGVmYXVsdCBFeHRlbnNpb249ImdpZiIgQ29udGVudFR5cGU9ImltYWdlL2dpZiIvPjxEZWZhdWx0IEV4dGVuc2lvbj0iZW1mIiBDb250ZW50VHlwZT0iaW1hZ2UveC1lbWYiLz48RGVmYXVsdCBFeHRlbnNpb249IndtZiIgQ29udGVudFR5cGU9ImltYWdlL3gtd21mIi8+PERlZmF1bHQgRXh0ZW5zaW9uPSJqcGciIENvbnRlbnRUeXBlPSJpbWFnZS9qcGVnIi8+PERlZmF1bHQgRXh0ZW5zaW9uPSJqcGVnIiBDb250ZW50VHlwZT0iaW1hZ2UvanBlZyIvPjxEZWZhdWx0IEV4dGVuc2lvbj0idGlmIiBDb250ZW50VHlwZT0iaW1hZ2UvdGlmZiIvPjxEZWZhdWx0IEV4dGVuc2lvbj0idGlmZiIgQ29udGVudFR5cGU9ImltYWdlL3RpZmYiLz48RGVmYXVsdCBFeHRlbnNpb249InBkZiIgQ29udGVudFR5cGU9ImFwcGxpY2F0aW9uL3BkZiIvPjxEZWZhdWx0IEV4dGVuc2lvbj0icmVscyIgQ29udGVudFR5cGU9ImFwcGxpY2F0aW9uL3ZuZC5vcGVueG1sZm9ybWF0cy1wYWNrYWdlLnJlbGF0aW9uc2hpcHMreG1sIi8+PE92ZXJyaWRlIFBhcnROYW1lPSIveGwvd29ya2Jvb2sueG1sIiBDb250ZW50VHlwZT0iYXBwbGljYXRpb24vdm5kLm9wZW54bWxmb3JtYXRzLW9mZmljZWRvY3VtZW50LnNwcmVhZHNoZWV0bWwuc2hlZXQubWFpbit4bWwiLz48T3ZlcnJpZGUgUGFydE5hbWU9Ii94bC93b3Jrc2hlZXRzL3NoZWV0MS54bWwiIENvbnRlbnRUeXBlPSJhcHBsaWNhdGlvbi92bmQub3BlbnhtbGZvcm1hdHMtb2ZmaWNlZG9jdW1lbnQuc3ByZWFkc2hlZXRtbC53b3Jrc2hlZXQreG1sIi8+PE92ZXJyaWRlIFBhcnROYW1lPSIveGwvdGhlbWUvdGhlbWUxLnhtbCIgQ29udGVudFR5cGU9ImFwcGxpY2F0aW9uL3ZuZC5vcGVueG1sZm9ybWF0cy1vZmZpY2Vkb2N1bWVudC50aGVtZSt4bWwiLz48T3ZlcnJpZGUgUGFydE5hbWU9Ii94bC9zdHlsZXMueG1sIiBDb250ZW50VHlwZT0iYXBwbGljYXRpb24vdm5kLm9wZW54bWxmb3JtYXRzLW9mZmljZWRvY3VtZW50LnNwcmVhZHNoZWV0bWwuc3R5bGVzK3htbCIvPjxPdmVycmlkZSBQYXJ0TmFtZT0iL2RvY1Byb3BzL2NvcmUueG1sIiBDb250ZW50VHlwZT0iYXBwbGljYXRpb24vdm5kLm9wZW54bWxmb3JtYXRzLXBhY2thZ2UuY29yZS1wcm9wZXJ0aWVzK3htbCIvPjxPdmVycmlkZSBQYXJ0TmFtZT0iL2RvY1Byb3BzL2FwcC54bWwiIENvbnRlbnRUeXBlPSJhcHBsaWNhdGlvbi92bmQub3BlbnhtbGZvcm1hdHMtb2ZmaWNlZG9jdW1lbnQuZXh0ZW5kZWQtcHJvcGVydGllcyt4bWwiLz48T3ZlcnJpZGUgUGFydE5hbWU9Ii94bC9tZXRhZGF0YS54bWwiIENvbnRlbnRUeXBlPSJhcHBsaWNhdGlvbi92bmQub3BlbnhtbGZvcm1hdHMtb2ZmaWNlZG9jdW1lbnQuc3ByZWFkc2hlZXRtbC5zaGVldE1ldGFkYXRhK3htbCIvPjwvVHlwZXM+UEsBAgAAFAAAAAAAAAAAAKQBhLi1AgAAtQIAABoAAAAAAAAAAAAAAAAAAAAAAHhsL19yZWxzL3dvcmtib29rLnhtbC5yZWxzUEsBAgAAFAAAAAAAAAAAADAPiGveHQAA3h0AABMAAAAAAAAAAAAAAAAA7QIAAHhsL3RoZW1lL3RoZW1lMS54bWxQSwECAAAUAAAAAAAAAAAAVfQElFoEAABaBAAADQAAAAAAAAAAAAAAAAD8IAAAeGwvc3R5bGVzLnhtbFBLAQIAABQAAAAAAAAAAAAaPRu4Bh0AAAYdAAAYAAAAAAAAAAAAAAAAAIElAAB4bC93b3Jrc2hlZXRzL3NoZWV0MS54bWxQSwECAAAUAAAAAAAAAAAAYIAAgYgDAACIAwAADwAAAAAAAAAAAAAAAAC9QgAAeGwvbWV0YWRhdGEueG1sUEsBAgAAFAAAAAAAAAAAAGjqOLtIAQAASAEAAA8AAAAAAAAAAAAAAAAAckYAAHhsL3dvcmtib29rLnhtbFBLAQIAABQAAAAAAAAAAABKahH5TAIAAEwCAAALAAAAAAAAAAAAAAAAAOdHAABfcmVscy8ucmVsc1BLAQIAABQAAAAAAAAAAABhysUOOAIAADgCAAAQAAAAAAAAAAAAAAAAAFxKAABkb2NQcm9wcy9hcHAueG1sUEsBAgAAFAAAAAAAAAAAANaSfBFaAQAAWgEAABEAAAAAAAAAAAAAAAAAwkwAAGRvY1Byb3BzL2NvcmUueG1sUEsBAgAAFAAAAAAAAAAAAKjXaoAVCAAAFQgAABMAAAAAAAAAAAAAAAAAS04AAFtDb250ZW50X1R5cGVzXS54bWxQSwUGAAAAAAoACgB7AgAAkVYAAAAA",
            "excel_filename": "Запрос_24.12.25_ЗП-20251224-079.xlsx"
          },
          "webhookUrl": "https://primary-production-4e88.up.railway.app/webhook/send-supplier-request",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "Webhook: Send Request": {
      "main": [
        [
          {
            "node": "Code: Get Suppliers by Category",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Get Suppliers by Category": {
      "main": [
        [
          {
            "node": "Code: Prepare Email Body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Prepare Email Body": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Prepare Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Supabase: Save Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase: Save Request": {
      "main": [
        [
          {
            "node": "Code: Prepare Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "172e9d8c-094b-49cf-aa5e-9b5a3f2f5a4d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e053b61b8b3bdff69a323dc7c626e5598b37038308beed9b02f6dd362745fcdd"
  },
  "id": "P5cXiJ5gIvkniz6l",
  "tags": []
}